@charset "utf-8";
// Core variables and mixins
@import "../../themes/default/sass/variables";
@import "../../themes/default/sass/mixins";
@import "compass";

@font-face{
	font-family:'FontAwesome';
	src:url('../font/fontawesome-webfont.eot?v=3.2.0');
	src:url('../font/fontawesome-webfont.eot?#iefix&v=3.2.0') format('embedded-opentype'),url('../font/fontawesome-webfont.woff?v=3.2.0') format('woff'),url('../font/fontawesome-webfont.ttf?v=3.2.0') format('truetype'),url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.0') format('svg');
	font-weight:normal;
	font-style:normal;
}

* {
	@include font-family-sans-serif();
}

html, body {
	margin:0;
	padding:0;
	font-size:100%;
}
body {
	width:100%;
	padding:0;
	margin:0;
	font-size:.75em;
	line-height:1.4;
	background:$white;
	color:$black;
}

* html body {
	font-size:.8em;
}
*+html body {
	font-size:.75em;
}

p {
	margin:5px 0;
}

h1, h2, h3, h4, h5, h6, p, span {
	outline:none;
}

#wrapper{
min-width:100%;
}


/***************************************************
	messageWindow
--------------------------------------------------*/

#messageWindow{
}

.messageWindow_list,
.messageWindow_chat,
.messageWindow_popout{
/*position:fixed;
bottom:0;
z-index:9000;*/
background:$white;
}
.messageWindow_list,
.messageWindow_chat{
width:300px;
}
.messageWindow_popout{
width:100%;
}


#messageWindow .header{
padding:9px 10px;
height:15px;
background:$white;
color:$black;
border-bottom:1px solid $grayBorderLight;
}

#messageWindow .list{
float:left;
display:block;
max-width:220px;
border-radius:2px;
cursor:pointer;
}
#messageWindow .list:hover{
text-decoration:none;
}
#messageWindow .title{
float:left;
max-width:195px;
display:block;
padding:0 2px;
color:$black;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
text-decoration:underline;
}
#messageWindow .header a:hover span{
text-decoration:none;
color:$orange;
}
#messageWindow .list .icon-caret-down{
display:none;
float:right;
color:$gray;
margin:2px 5px 0;
text-decoration:none;
}
#messageWindow .header a:hover .icon-caret-down{
color:$orange;
}

#messageWindow .header .dropdown-menu{
top:20px;
width:240px;
padding:0;
color:$black;
border:1px solid $grayBorderDark;
}
#messageWindow .header .dropdown-menu a{
color:$black;
}
#messageWindow .header .dropdown-menu a.auiButtonAction{
color:$black;
}

#messageWindow .header .dropdown-menu .dropdown-header{
display:block;
padding:7px;
text-align:center;
font-size:11px;
border-bottom:1px solid $grayLighter;
}
#messageWindow .header .dropdown-menu .dropdown-footer{
display:block;
padding:7px;
text-align:center;
font-size:11px;
border-top:1px solid $grayLighter;
}

#messageWindow .header .dropdown-menu ul{
display:block;
max-height:220px;
overflow-x:hidden;
overflow-y:scroll;
padding:0;
margin:0;
}
#messageWindow .header .dropdown-menu ul li{
display:block;
margin:0;
padding:0;
background:none;
border-bottom:1px solid $grayLighter;
}
#messageWindow .header .dropdown-menu ul li a{
display:block;
font-size:11px;
text-decoration:none;
padding:7px 7px 7px;
margin:0;
vertical-align:text-top;
}
#messageWindow .header .dropdown-menu ul li a:hover{
background:$grayHightLight;
}
#messageWindow .header .dropdown-menu ul li a:hover{
color:$black;
}
#messageWindow .header .dropdown-menu ul li a .name{
float:left;
display:inline-block;
width:185px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
#messageWindow .header .dropdown-menu ul li a .counter{
float:right;
margin:0;
}
#messageWindow .header .dropdown-menu ul li a:hover .counter{
color:$white;
}
#messageWindow .header .dropdown-menu ul li.active a{
background:$grayHightLight;
font-weight:bold;
}
#messageWindow .header .dropdown-menu ul li.active a .counter{
font-weight:normal;
}



.btn_close,
.btn_mini,
.btn_open,
.btn_list,
.btn_popout{
text-decoration:none;
float:right;
display:block;
padding:0px 4px;
border-radius:2px;
margin-left:3px;
}
.btn_close:hover,
.btn_mini:hover,
.btn_open:hover,
.btn_list:hover,
.btn_popout:hover{
cursor:pointer;
text-decoration:none;
}

.btn_close i,
.btn_mini i,
.btn_open i,
.btn_list i,
.btn_popout i{
color:$gray;
cursor:pointer;
}
.btn_close:hover i,
.btn_mini:hover i,
.btn_open:hover i,
.btn_list:hover i,
.btn_popout:hover i{
color:$grayDark;
}

#messageWindow .inner{
overflow-y:scroll;
}

#messageWindow .inner ul{
margin:0;
padding:0;
}
#messageWindow .inner li{
display:block;
margin:0;
padding:0;
background:none;
border-bottom:1px solid $grayLighter;
}
/*#messageWindow .inner li{
*width:183px;
}
#messageWindow .inner li a{
display:block;
font-size:11px;
text-decoration:none;
padding:7px 7px 7px;
margin:0;
vertical-align:text-top;
}
#messageWindow .inner li a:hover{
background:$grayHightLight;
}
#messageWindow .inner li a:hover{
color:$black;
}*/
/*#messageWindow .inner li a .name{
float:left;
display:inline-block;
width:240px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
#messageWindow .inner li a .counter{
float:right;
margin:0;
}
#messageWindow .inner li a:hover .counter{
color:$white;
}
#messageWindow .inner li.active a{
background:$grayHightLight;
font-weight:bold;
}
#messageWindow .inner li.active a .counter{
font-weight:normal;
}*/

#messageWindow .inner{
}
#messageWindow .inner li{
padding:7px;
}
#messageWindow .inner li .name{
display:inline-block;
font-weight:bold;
}
#messageWindow .inner li .date{
display:inline-block;
color:$gray;
font-size:10px;
}
#messageWindow .inner li .readList{
color:$gray;
text-decoration:none;
}
#messageWindow .inner .invite_block{
font-size:11px;
background:$grayLighter;
border:none;
}
#messageWindow .inner .invite_block a{
color:$black;
text-shadow:none;
}
#messageWindow .inner .invite_block .img,
#messageWindow .inner .invite_block .img img{
display:inline-block;
height:24px;
width:24px;
border-radius:3px;
}



#messageWindow .footer{
position:fixed;
bottom:0;
left:0;
width:290px;
min-height:35px;
padding:5px;
border-top:1px solid $grayLight;
text-align:center;
font-size:11px;
background:$grayLighter;
}
#messageWindow .footer form{
margin-bottom:0;
padding-right:50px;
position:relative;
}
#messageWindow .footer span.text{
width:100%;
height:32px;
line-height:20px;
padding:5px;
border-radius:4px;
box-shadow:none;
text-align:left;
font-size:12px;
color:$gray;
cursor:text;
}
#messageWindow .footer textarea.text{
width:240px;
width:238px\9;
margin:0;
font-size:12px;
font-family:$sansFontFamily;
}
#messageWindow .footer input.auiButtonAction{
position:absolute;
bottom:0;
right:0;
width:30px;
font-size:12px;
font-family:$sansFontFamily;
}
#messageWindow .messageWindow_popout .footer{
@include box-sizing(border-box);
width:100%;
}
#messageWindow .messageWindow_popout .footer textarea.text{
width:100%;
}
#messageWindow .messageWindow_popout .footer input.auiButtonAction{
}


.modal{
top:35px;
*width:278px;
*margin-left:-140px;
}
.modal-header{
font-weight:bold;
padding:10px 15px 10px 10px;
}
.modal-header .close{
margin-top:-7px;
padding:0 5px;
}
.modal-body{
padding:0;
max-height:160px;
overflow-x:hidden;
overflow-y:scroll;
}
.modal-body .img,
.modal-body .img img{
display:inline-block;
height:24px;
width:24px;
border-radius:3px;
}
.modal-body .img64,
.modal-body .img64 img{
height:64px;
width:64px;
}
.modal-body h4{
margin:0;
padding:5px 10px 5px;
font-size:12px;
}
.modal-body .img{
margin-bottom:5px;
}
.modal-body .userList{
padding:0;
margin:0;
}
.modal-body .userList li{
padding:0;
margin:0;
}
.modal-body .userList li label{
font-size:12px;
padding:7px 10px;
margin:0;
}
.modal-body .userList li label:hover{
background:$grayHightLight;
}
.modal-body .userList li label .checkbox{
margin:0 5px 0 0;
}
.modal-body .userList li label .img{
margin-bottom:0;
}
.modal-footer{
padding:10px;
}


