@charset "utf-8";
// Core variables and mixins
@import "variables";
@import "mixins";
@import "extendclass";
@import "compass";

//html
@import "html";

body {
	-webkit-text-size-adjust: 100%;
}

input[type=text], input[type=password] {
	&:focus {
		@include box-shadow(none);
	}
}
select {
	position: relative;
	-webkit-appearance: button;
	appearance: button;
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 10px;
		height: 10px;
		background: #f00;
	}
	&:before {
		position: absolute;
		display: block;
		content: "\f0d7";
	}
	&+.icon-caret-down {
		position: absolute;
		right: 15px;
		top: 50%;
		@include transform(translateY(-50%));
		color: $gray;
	}
	&:hover {
		&+.icon-caret-down {
			color: $textColor;
		}
	}
}

//ui
@import "ui";
@import "new-smpui";
@import "buttons";

// variables
$mbUIHeight: 40px;

.pc_hide {
	display: block !important;
}


a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobileHeader {
	@extend .border-box;
	position: fixed;
	z-index: $zindex-mobileHeader;
	top: 0;
	width: 100%;
	height: $mbUIHeight;
	background: $white;
	font-size: $fontSizeLarge;
	border-bottom: solid 1px $grayBorder;
	//@include box-shadow(0 1px 0 rgba($grayBorder,1));

	> .title {
		line-height: $mbUIHeight;
		text-align: center;
	}
	> .left {
		position: absolute;
		top: 0;
		left: 0;
	}
	> .right {
		position: absolute;
		top: 0;
		right: 0;
	}
	a {
		display: block;
		float: left;
		height: $mbUIHeight;
		line-height: $mbUIHeight;
		padding: 0 10px;
		font-size: $baseFontSize;
		text-decoration: none;
	}
	[class*="icon-"] {
		display: inline-block;
		min-width: 20px;
		height: $mbUIHeight;
		line-height: $mbUIHeight;
		text-align: center;
		font-size: 20px;
		color: $gray;
	}
	.icon-plus {
		color: $linkColorHover;
	}
	[class*="auiButton"] {
		height: $inputHeight;
		line-height: $inputHeight;
		margin: ($mbUIHeight - $inputHeight)/2;
	}
}

.mobileMainNavigation {
	@extend .border-box;
	position: fixed;
	z-index: $zindex-mobileFooter;
	width: 100%;
	height: $mbUIHeight;
	background: $white;
	font-size: $fontSizeLarge;
	bottom: 0;
	border-top: solid 1px $grayBorder;
	//@include box-shadow(0 -1px 0 rgba($grayBorder,1));
	> div {
		position: relative;
		float: left;
		width: 25%;
		> a {
			display: block;
			text-align: center;
			text-decoration: none;
		}
	}
	[class*="icon-"] {
		display: inline-block;
		height: $mbUIHeight;
		line-height: $mbUIHeight;
		text-align: center;
		font-size: 20px;
		color: $gray;
	}
	.counter {
		position: absolute;
		left: 50%;
		top: 5px;
		margin: 0;
		border: solid 1px $white;
	}
}

.row {
	@extend .clearfix;
	.mobileContentsWrapper & {
		margin: 5px 0;
		padding-left: 5px;
	}
	.menubar & {
		padding: 5px 0 5px 5px;
		border-bottom: solid 1px $grayBorderLight;
	}
}
.col, [class*="col-"] {
	position: relative;
	@include box-sizing(border-box);
	padding-right: 5px;
}
.col-2 {
	float: left;
	width: 50%;
}
.col-3 {
	float: left;
	width: 33.333%;
}

.col-4 {
	float: left;
	width: 25%;
}

.mobileContentsWrapper {
	padding: $mbUIHeight 0;
}

.contentsSection {
	background: $white;
	margin: 5px;
	border: solid 1px $grayBorder;
	@extend .bRadius4;
	overflow: hidden;
}

.dateChanger {
	border: none;
	.today {
		left: 0;
		a {
			display: block;
			width: 40px !important;
			height: 40px !important;
			line-height: 40px !important;
			text-decoration: none;
		}
	}
	.currentDate {
		width: 70px;
		font-weight: normal;
	}
	.subDate {
		position: absolute;
		top: 25px;
		display: block;
		width: 100%;
		line-height: 1;
		font-size: $fontSizeSmall;
		color: $gray;
	}
	.mainDate {
		display: block;
		line-height: 30px;
		font-size: $fontSizeLarge;
	}
	&.fixed {
		position: fixed;
		background-color: $white;
		z-index: 100;
		border-bottom: solid 1px $grayBorder;
		@include border-radius(0);
	}
}


.auiCalendar {
	width: 100%;
	border-top: solid 1px $grayBorder;
	td {
		position: relative;
		width: 14.285%;
		text-align: center;
		> div {
			position: relative;
		}
	}
	a {
		display: block;
		height: 35px;
		line-height: 30px;
		text-decoration: none;
		font-size: $fontSizeLarge;
		border: solid 1px transparent;
		@include border-radius(4px);
	}
	.week {
		color: $gray;
		height: 2em;
	}
	.sunday a, .holiday a {
		color: $red;
	}
	.saturday a {
		color: $blue;
	}
	.out, .out a {
		color: $grayLight;
	}
	.today a {
		background: $grayDark;
		color: $white;
	}
	.selected a {
		border: solid 1px $grayBorderDark;
	}
	.sign {
		position: absolute;
		display: block;
		bottom: 5px;
		right: 50%;
		@include transform(translateX(50%));
		width: 5px;
		height: 5px;
		background: $orange;
		@include border-radius(5px);
	}
}

/***************************************************
	modal
--------------------------------------------------*/
.modal {
	width: 100%;
	padding: 5px;
}
.menubar {
	width: 100%;
	&[class*="caret-"]:after {
		position: absolute;
		display: block;
		//content: "";
		//width: 8px;
		//height: 8px;
		//top: 1px;
		//background: $white;
		//border:1px solid $grayBorderDark;
		//border-right: 0;
		//border-bottom: 0;
		//@include transform(rotate(45deg));
		content: "\f0d8";
		top: -15px;
		font-family: FontAwesome;
		font-size: 25px;
		color: $white;
	}
	&.noBorder[class*="caret-"]:after {
		border: none;
	}
	&.caret-left:after {
		left: 30px;
	}
	&.caret-right:after {
		right: 30px;
	}
}


/***************************************************
	listTable
--------------------------------------------------*/
.listTable {
	width: 100%;
	margin: 0;
	border: none;
	tr:first-child td {
		border-top: none;
	}
	td {
		border-top: solid 1px $grayBorderLight;
	}
	.caption {
		width: 80px;
		font-weight: normal;
		padding: 10px 5px 10px 10px;
	}
	input[type=text], input[type=password], textarea {
		border: none;
	}
}
.editable {
	color: $blueDark;
}

/***************************************************
	schedule
--------------------------------------------------*/
// Block
div.weeklyScrollPane {
	border-bottom: none;
	overflow: auto;
}
div.weeklyLeft {
	border-left: none;
}
div.scrollRight {
	border-right: none;
}
.scrollRight {
	border: none;
}

.coloredUserList {
	position: relative;
	.tool {
		position: absolute;
		right: 0;
		i {
			display: block;
			font-size: 20px;
			width: 30px;
			height: 26px;
			line-height: 26px;
			text-align: center;
			color: $gray;
		}
	}
	.list {
		margin-bottom: -3px;
		> div {
			float: left;
			margin: 0 3px 3px 0;
			padding: 2px;
			@include border-radius(4px);
		}
	}
	.tool + .list {
		padding-right: 30px;
	}
	div[class*=color] {
		padding: 0;
		border-style: solid;
		border-width: 2px;
	}
}

// marge style #######################################################################
// 以下既存スタイルにマージさせる想定

/***************************************************
	auiRowTable
--------------------------------------------------*/
.auiRowTable {
	border-spacing:0;
	border-collapse:collapse;
	word-break: break-all;

	th {
		padding:10px 5px;
		white-space:nowrap;
		background:$grayLighter;
		text-align:left;
		&:first-child {
			padding-left: 10px;
		}
		&:last-child {
			padding-right: 10px;
		}
	}
	td {
		position: relative;
		padding:10px 5px;
		border-top: solid 1px $grayBorderLight;
		&:first-child {
			padding-left: 10px;
		}
		&:last-child {
			padding-right: 10px;
		}
	}
	a {
		text-decoration: none;
	}
	.dayStart {
		td {
			border-top:solid 1px $grayBorder;
		}
	}
	.day,
	.time {
		white-space:nowrap;
	}
	.day {
		white-space:nowrap;
		background: $grayHightLight;

		a {
			white-space:nowrap;
		}
	}
	.time {
		width:40px;
	}
	div {
		width:100%;
		margin:-10px 0;
		height:40px;
		line-height:40px;
		overflow:hidden;
		text-overflow: ellipsis;
	}
	.today {
		.day {
			font-weight: bold;
		}
	}
	tr:hover {
		background:$grayHightLight;
		td,
		th {
			background:$grayHightLight;
		}
	}
	tr.unread {
		td {
			font-weight:bold;
			color:$black;
		}
	}
	.auiMTCheck {
		width:20px;
	}
	&:first-child {
		tr:first-child {
			td {
				border-top: none;
			}
		}
	}
}
.auiRowTable.scheduleList {
	border-bottom:solid 1px $grayBorderLight;
}

.scheduleList {
	.overlap {
		color: $red;
		a {
			color: $red;
		}
	}
}


.afterArrowRight {
	position: relative;
	padding-right: 25px !important;
	&:after {
		@include afterArrowRight;
	}
}