@charset "utf-8";

.timecard {
	background: center no-repeat;
	background-size: cover;
	//border:1px solid rgba($black, 0.05);
	border: 1px solid $white;

	.date {
		text-align: center;
		padding: 10px;
		font-size: 50px;
		font-weight: bold;
		line-height: 40px;
		color: $white;
		text-shadow: 0 1px 3px rgba($black, 0.4);

		.year {
			display: block;
			font-size: 18px;
			font-weight: normal;
		}
	}
	.comment {
		text-align: center;
		color: $white;
		text-shadow: 0 1px 2px rgba($black, 0.6);
		margin: 20px 10px 20px;
	}
	.btnarea {
		padding: 0px 10px 30px;
		text-align: center;
		@include background-image(linear-gradient(top, rgba($black, 0), rgba($black, 0.6)));
		@include filter-gradient(rgba($black, 0), rgba($black, 0.6), vertical);
		//background: -moz-linear-gradient(top, rgba($black, 0.0), rgba($black, 0.6));
		//background: -o-linear-gradient(rgba($black, 0.0), rgba($black, 0.6));
		//background: -webkit-gradient(linear, left top, left bottom, from(rgba($black, 0.0)), to(rgba($black, 0.6)));
		//background: linear-gradient(top, rgba($black, 0.0), rgba($black, 0.6));

		.btn {
			box-shadow: 0px 0px 3px rgba($black, 0.2);
			border: 1px solid $linkColor;
			background:$white;
			color: $linkColor;
			margin: 0 10px;
			width: 35%;
		}
		.btn:hover {
			background: $white;
			color: $linkColor;
		}
		.btn.btn-primary{
			background: $linkColor;
			color: $white;
		}
	}
}

