@charset "utf-8";

#timeline {
	background: $white;
	border: 1px solid rgba($black, 0.2);
	border-top: 1px solid $linkColor;
	margin: 15px 0;

	.appTitle {

		a {
			background: $linkColor;
			color: $white;
		}
		.displayGroup{

			a{
				background: none;
				color: $linkColor;
			}
			a:hover{
				background: $linkColor;
				color: $white;
			}
			a:focus,a:active{
				background: $linkColor;
				color: $white;
			}
		}
		.dropdown {
			display: inline-block;

			a{
				background: none;
			}
		}
		.plus, .setting {
			color: $gray;
		}
		.plus:hover, .setting:hover, .setting:focus {
			background: $linkColor;
			color: $white;
		}
	}
}

.timelineForm {

	textarea {
		width: 100%;
		height: 100px;
		padding: 10px;
		border: none;
		margin: 0;
	}
	textarea:focus {
		height: 150px;
	}
	.app-form-bottom {
		padding: 7px 10px;
		text-align: right;
		border-top: 1px dotted $grayLighter;

		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			float: left;
			text-align: left;

			li {
				display: inline-block;
				list-style: none;

				a {
					display: block;
					padding: 7px 7px;

					.fa {
						font-size: 16px;
					}
				}
			}
			li.active {

				a {

					.fa {
					}
				}
			}
		}
	}
}

.timelineList {
	margin: 0;
	padding: 0;

	li {
		display: block;
		position: relative;
		padding: 15px 15px 15px 68px;
		list-style: none;
		border-top: 1px solid $grayLight;

		.thumb {
			position: absolute;
			top: 15px;
			left: 10px;
			//width: 48px;
			//height: 48px;

			img {
				//avatar_l
				//width: 48px;
				//height: 48px;
				//border-radius: 48px;
			}
		}
		.time {
			position: absolute;
			top: 15px;
			right: 15px;
			color: $gray;
			font-size: 11px;
		}
		.name {
			//color: rgba($black, 0.8);
		}
		.body {
			padding: 7px 0;
		}
		.foot {

			a {
				display: inline-block;
				margin-right: 10px;
				color: $grayLight; //#ccc
			}
			a.active {
				color: $linkColor;
			}
		}
		.comment {
			margin: 20px 0 0;
			padding: 0;

			li {
				padding: 10px 10px 10px 44px;
				border-top: 1px dotted $grayLight;
				border-bottom: none;

				.thumb {
					//width: 24px;
					//height: 24px;

					img {
						//avatar_s
						//width: 24px;
						//height: 24px;
						//border-radius: 24px;
					}
				}
			}
		}
		ul {

			li {

				.time {
					right: 0;
				}
			}
		}
	}
	/*	li:nth-child(even){
		background:$grayLighter;
		}*/
}

