@charset "utf-8";

// extend class
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.inline-block {
	@include inline-block();
}
.border-box {
	@include box-sizing(border-box);
}
.bRadiusS {
	@include border-radius(2px);
}
.bRadiusM {
	@include border-radius(3px);
}
.bRadius50p {
	@include border-radius(50%);
}
.ellipsis {
	@include ellipsis;
}
.transition01 {
	@include transition(.1s);
}
.transition02 {
	@include transition(.2s);
}