@charset "utf-8";
// Core variables and mixins
@import "variables";
@import "compass";

//ui
@import"ui";

//apps
@import "apps/bbs";

@mixin borderbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
@mixin fontFamily {
	font:12px/18px "Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.clearfix{
@include clearfix;
}
a,a:link{
color:#38B4CE;
}
a{
outline:none !important;
}
a:focus{
outline:none !important;
}
a:hover{
color:#38B4CE;
text-decoration:none;
}
:focus {
outline:none;
}

.btn{
font-size:12px;
border:1px solid #38B4CE;
background:#ffffff;
color:#38B4CE;
}
.btn:hover{
border:1px solid #38B4CE;
background:#38B4CE;
color:#fff;
}


html{
min-height:100%;
}
body{
@include fontFamily;
color:#1b1b1b;
background:#eeeeee;
}
#wrapper{
position:relative;
padding:0px 0px 0px 0px;
overflow:hidden;
}
#header{
padding:15px 15px 0;
text-align:center;
/*border-bottom:1px solid #eeeeee;*/
background:#fff;

	.logo{
	display:inline-block;
	margin:0 auto 15px 35px;
	
		a{
		display:inline-block;
		height:35px;
		line-height:35px;
		}
	}
	.appBtn{
	float:left;
	
		a{
		display:inline-block;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		border:1px solid #38B4CE;
		}
		a:hover{
		background:#38B4CE;
		color:#ffffff;
		}
	}
	.userBtn{
	float:right;
	
		a{
		display:inline-block;
		height:35px;
		width:35px;
		//line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		border:1px solid #fff;
		overflow:hidden;
		
			img{
			width:100%;
			}
		}
		a:hover{
		background:none;
		border:1px solid #38B4CE;
		}
	}
	.alertBtn{
	float:right;
	margin-right:5px;
	
		a.btn{
		display:inline-block;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		box-shadow:none;
		}
		a.btn:hover{
		background:#38B4CE;
		color:#ffffff;
		}
		a.btn.active{
		border:1px solid #d8271c;
		color:#d8271c;
		}
		a.btn.active:hover{
		background:#d8271c;
		color:#fff;
		}
	}
	.fa{
	font-size:14px;
	}
}
.nav-tabs{
background:#fff;
text-align:center;
padding:0 15px;

	li{
		
		a{
		text-shadow:0px 1px 0px rgba(255, 255, 255, 1.0);
		}
		a:hover{
		background:none;
		border-bottom:1px solid #38B4CE;
		border-top:1px solid rgba(0, 0, 0, 0.0);
		border-left:1px solid rgba(0, 0, 0, 0.0);
		border-right:1px solid rgba(0, 0, 0, 0.0);
		}
	}
	.fa{
	font-size:14px;
	}
	li.active{
	
		a, a:hover{
		color:#38B4CE;
		background:none;
		border-bottom:1px solid #38B4CE;
		border-top:1px solid rgba(0, 0, 0, 0.0);
		border-left:1px solid rgba(0, 0, 0, 0.0);
		border-right:1px solid rgba(0, 0, 0, 0.0);
		}
	}
	.plus{
	margin-top:5px;
	
		a{
		color:#ccc;
		padding:0px;
		width:28px;
		height:28px;
		line-height:28px;
		border:1px solid rgba(0, 0, 0, 0.0);
		border-radius:28px;
		}
		a:hover{
		color:#38B4CE;
		border:1px solid #38B4CE;
		}
	}
}

#pageslide{
/*border-left:1px solid #ccc;
border-right:1px solid #ccc;*/
background:#dcdcdc;
box-shadow:inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}














/*#menu{
position:fixed;
top:0;
left:0;
width:50px;
background:#313131;
min-height:100%;

	.logo{
	
		a{
		display:block;
		width:50px;
		height:50px;
		text-align:center;
		line-height:50px;
		}
	}
	.userIcon{
	
		a{
		display:block;
		width:50px;
		height:50px;
		text-align:center;
		line-height:50px;
		
			img{
			width:30px;
			height:30px;
			border-radius:30px;
			}
		}
	}
	.appIcon{
	
		.icon{
		display:block;
		width:50px;
		height:50px;
		text-align:center;
		line-height:50px;
		color:#666666;
		}
		.icon:hover{
		color:#cccccc;
		}
		.icon > i.fa{
		font-size:14px;
		}
		.dropdown-menu{
		top:0;
		left:52px;
		padding:0;
		margin:0;
		overflow:hidden;
		
			li{
			font-size:12px;
			
				a{
				padding:7px 10px;
				
					.fa{
					margin-right:10px;
					font-size:14px;
					}
				}
				a:hover{
				background:#0099ff;
				color:#FFFFFF;
				}
			}
			li.divider{
			margin:0;
			}
		}
	}

}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
background:#000;
color:#FFFFFF !important;
}*/

#main{
padding:0;

	.lay3{
	@include borderbox;
	width:25%;
	float:left;
	}
	.lay6{
	@include borderbox;
	width:50%;
	float:left;
	}
}
.app{
	background:rgba(255, 255, 255, 0.8);
	padding:0;
	margin:15px 0;
	border:1px solid rgba(0, 0, 0, 0.1);
	//border-top:1px solid rgba(0, 0, 0, 0.2);
	
		.appTitle{
		/*margin-bottom:5px;*/
		
			a{
			color:#cccccc;
			//text-shadow:0 -1px 0px rgba(0, 0, 0, 0.1);
			background:rgba(0, 0, 0, 0.8);
			display:inline-block;
			padding:2px 15px 2px 7px;
			font-size:11px;
			}
			a:hover{
			color:#FFFFFF;
			text-decoration:none;
			//background:#38B4CE;
			}
			.fa{
			margin-right:7px;
			}
		}
}
.timecard{
	background:center no-repeat;
	background-size:cover;
	//border:1px solid rgba(0, 0, 0, 0.05);
	border:1px solid #fff;
	
		.date{
		text-align:center;
		padding:10px;
		font-size:50px;
		font-weight:bold;
		line-height:40px;
		color:#ffffff;
		text-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
		
			.year{
			display:block;
			font-size:18px;
			font-weight:normal;
			}
		}
		.comment{
		text-align:center;
		color:#ffffff;
		text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
		margin:20px 10px 20px;
		}
		.btnarea{
		padding:0px 10px 30px;
		text-align:center;
		background:-moz-linear-gradient(top,rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		background:-o-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.0)),to(rgba(0,0,0,0.6)));
		background:linear-gradient(top,rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		
			.btn{
			box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
			border:1px solid #38B4CE;
			background:#38B4CE;
			color:#fff;
			}
			.btn:hover{
			background:#fff;
			color:#38B4CE;
			}
		}
}
.list{
margin:0;
padding:0;

	li{
	list-style:none;
	position:relative;
	display:block;
	border-top:1px solid #fff;
	
		a{
		@include ellipsis;
		padding:7px 50px 7px 40px;
		display:block;
		min-height:38px;
		}
		span{
		z-index:1;
		}
		.name{
		display:block;
		font-size:10px;
		color:rgba(0, 0, 0, 0.6);
		}
		.cat{
		display:block;
		font-size:10px;
		color:rgba(0, 0, 0, 0.6);
		}
		.date{
		position:absolute;
		top:7px;
		right:10px;
		color:rgba(0, 0, 0, 0.3);
		font-size:11px;
		}
		.title{
		@include ellipsis;
		width:80%;
		position:absolute;
		top:10px;
		text-shadow:0 1px 0px rgba(255, 255, 255, 0.1);
		color:rgba(0, 0, 0, 0.6);
		}
		.thumb{
		position:absolute;
		top:7px;
		left:10px;
		width:24px;
		height:24px;
		
			img{
			width:24px;
			height:24px;
			border-radius:24px;
			}
		}
		.attach{
		margin-right:5px;
		color:#000000;
		}
		/*[class*="todo"]*/
		.todo{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:#000000;
		z-index:0;
		}
		.tool{
		display:none;
		position:absolute;
		bottom:0;
		right:10px;
		z-index:2;
		
			li{
			display:inline-block;
			border:none;
			
				a{
				padding:2px 5px;
				min-height:inherit;
				color:rgba(0, 0, 0, 0.3);
				}
				a:hover{
				color:rgba(0, 0, 0, 0.8);
				}
			}
			li:hover{
			background:none;
			}
		}
	}
	li:hover{
	background:#eeeeee;
	text-decoration:none;
	
		.tool{
		display:inherit;
		}
		.title{
		width:40%;
		}
	}
	li.active{
	}
	li[class*="todo"]{
	
		.tool{
		bottom:3px;
		}
	}
	li[class*="todo"]:hover{
	
		.date{
		display:none;
		}
	}
	
	.todo-1 .todo{width:10%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e74c3c;} /*.todo-1 .title{color:#c0392b;}*/
	.todo-2 .todo{width:20%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e67e22;} /*.todo-2 .title{color:#d35400;}*/
	.todo-3 .todo{width:30%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e67e22;} /*.todo-3 .title{color:#d35400;}*/
	.todo-4 .todo{width:40%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #f1c40f;} /*.todo-4 .title{color:#f39c12;}*/
	.todo-5 .todo{width:50%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #f1c40f;} /*.todo-5 .title{color:#f39c12;}*/
	.todo-6 .todo{width:60%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #72cadd;} /*.todo-6 .title{color:#27ae60;}*/
	.todo-7 .todo{width:70%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #72cadd;} /*.todo-7 .title{color:#27ae60;}*/
	.todo-8 .todo{width:80%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-8 .title{color:#16a085;}*/
	.todo-9 .todo{width:90%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-9 .title{color:#16a085;}*/
	.todo-10 .todo{width:100%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-10 .title{color:#2980b9;}*/
}
.list.mail{

	li{
	
		a{
		padding:7px 50px 7px 10px;
		}
	}
}
.timeSchedule{
height:560px;
overflow-y:scroll;


	ul{
	padding:0;
	margin:0;


		li{
		display:block;
		list-style:none;
		padding:0 10px;
		margin:0;
		color:rgba(0, 0, 0, 0.2);
		font-size:18px;
		height:80px;
		line-height:50px;
		z-index:0;
		}
		li:nth-child(even){
		background:#eeeeee;
		}
	}
}
.search{
position:relative;
padding:10px 10px 10px 10px;
border-top:1px solid rgba(0, 0, 0, 0.1);

	input[type="search"]{
	width:100%;
	border:none;
	background:none;
	padding-left:25px;
	}
	.fa{
	position:absolute;
	top:12px;
	left:10px;
	font-size:16px;
	color:#999999;
	}
}

#timeline{
background:#fff;
border:1px solid rgba(0, 0, 0, 0.2);
border-top:1px solid #38B4CE;
margin:15px 0;

	.appTitle{
	
		a{
		background:#38B4CE;
		color:#fff;
		}
	}
}
.timelineForm{
	
		textarea{
		width:100%;
		height:100px;
		padding:10px;
		border:none;
		margin:0;
		}
		textarea:focus{
		height:150px;
		}
		.app-form-bottom{
		padding:7px 10px;
		text-align:right;
		border-top:1px dotted #eeeeee;
		
			ul{
			display:inline-block;
			margin:0;
			padding:0;
			float:left;
			text-align:left;
			
				li{
				display:inline-block;
				list-style:none;
				
					a{
					display:block;
					padding:7px 7px;
					
						.fa{
						font-size:16px;
						color:#999999;
						}
					}
				}
				li.active{
				
					a{
					
						.fa{
						color:#000000;
						}
					}
				}
			}
		}
}
.timelineList{
margin:0;
padding:0;

	li{
	display:block;
	position:relative;
	padding:15px 15px 15px 68px;
	list-style:none;
	border-top:1px solid #dcdcdc;
	
		.thumb{
		position:absolute;
		top:15px;
		left:10px;
		width:48px;
		height:48px;
		
			img{
			width:48px;
			height:48px;
			border-radius:48px;
			}
		}
		.time{
		position:absolute;
		top:15px;
		right:15px;
		color:#999999;
		font-size:11px;
		}
		.name{
		color:rgba(0, 0, 0, 0.8);
		}
		.body{
		padding:7px 0;
		}
		.foot{
		
			a{
			display:inline-block;
			margin-right:10px;
			color:#cccccc;
			}
			a.active{
			color:#38B4CE;
			}
		}
		.comment{
		margin:20px 0 0;
		padding:0;
		
			li{
			padding:10px 10px 10px 44px;
			border-top:1px dotted #DCDCDC;
			border-bottom:none;
			
				.thumb{
				width:24px;
				height:24px;
				
					img{
					width:24px;
					height:24px;
					border-radius:24px;
					}
				}
			}
		}
		ul{
		
			li{
			
				.time{
				right:0;
				}
			}
		}
	}
/*	li:nth-child(even){
	background:#eeeeee;
	}*/
}
.notice{
	width:300px;
	color:#333333;
	text-align:left;
	font-size:12px;
	border-radius:0;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.1);
	
		.dropdown-header{
		padding:5px 10px;
		}
		.divider{
		margin:0;
		}
		li{
		
			a{
			position:relative;
			padding:10px 50px 10px 10px;
			
				.n_date{
				position:absolute;
				right:10px;
				top:20px;
				color:#999999;
				font-size:11px;
				}
				.n_name{
				font-size:11px;
				}
				.n_body{
				display:block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color:#666666;
				}
			}
		}
		li:hover *{
		//color:#ffffff !important;
		}
		.n_new{
		border-left:1px solid #ff6600;
		}
	}
.pagination{
		margin:10px 10px 0;
		
			li{
			display:inline-block;
			margin-left:2px;
			
				a{
				color:#666666;
				padding:0 !important;
				border:none;
				width:20px;
				height:20px;
				border-radius:20px !important;
				text-align:center;
				line-height:20px;
				
				
					.fa{
					margin-right:0 !important;
					}
				}
			}
			li.active{
			
				a{
				background:#38B4CE;
				}
			}
		}


/* 全体 */
.jspContainer { overflow:hidden; position:relative; }

/* スクロールバーを除いたエリア */
.jspPane { position:absolute; }

/* 縦スクロールバー */
.jspVerticalBar { position:absolute; top:0; right:0; width:5px; height:100%; }

/* 横スクロールバー */
.jspHorizontalBar { position:absolute; bottom:0; left:0; width:100%; height:10px; }

/* 背景 */
.jspTrack { background:#fff; position:relative; }

/* ノブ */
.jspDrag { background:rgba(0, 0, 0, 0.4); position:relative; top:0; left:0; cursor:pointer; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float:left; height:100%; }
