@charset "UTF-8";
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.border-box, #main .lay3, #main .lay6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bRadiusNone, .popover, .notice, #messageOpen .nav-tabs li a, .modal .modal-dialog .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.bRadiusS {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.bRadiusM {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.bRadiusCircle, .circleBtn, #header .appBtn a, #header .userBtn a.btn, #header .alertBtn a.btn, #header .messageBtn a.btn, .avatar_s, .avatar_m, .avatar_l, #header .nav-tabs .plus a, .list li a .circle, .userList li a, .pagination li a, .appList li a .icon, #messageOpenBody .list li a .circle, #login .loginBox .logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.ellipsis, .list li a, .list li .title, .notice li a .n_body, #messageOpenBody .list li a .cat, .timeSchedule .schedule .s_title, .timeSchedule .schedule .s_time, .timeSchedule .schedule .s_place, .timeSchedule .schedule .s_member {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.transition01 {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.transition02 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.scrollDecoration {
  scrollbar-face-color: gainsboro;
  scrollbar-track-color: #f6f6f6;
  scrollbar-arrow-color: gainsboro;
  scrollbar-shadow-color: gainsboro;
}
.scrollDecoration::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #f6f6f6;
}
.scrollDecoration::-webkit-scrollbar-piece {
  background: #eeeeee;
}
.scrollDecoration::-webkit-scrollbar-thumb {
  background: gainsboro;
}

.circleBtn, #header .appBtn a, #header .userBtn a.btn, #header .alertBtn a.btn, #header .messageBtn a.btn {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  color: #1b1b1b;
  background: #eeeeee;
}

body.modal-open {
  padding-right: 17px;
}

form {
  margin: 0;
}

textarea {
  resize: none;
}

.avatar_s {
  width: 24px;
  height: 24px;
}

.avatar_m {
  width: 33px;
  height: 33px;
}

.avatar_l {
  width: 48px;
  height: 48px;
}

a {
  color: #38b4ce;
  outline: none !important;
}
a:focus {
  outline: none !important;
}
a:hover {
  color: #38b4ce;
  text-decoration: none;
}
a:active {
  color: #38b4ce;
}

:focus {
  outline: none;
}

.btn {
  font-size: 12px;
  border: 1px solid #38b4ce;
  background: white;
  color: #38b4ce;
}
.btn .fa.mr5 {
  margin-right: 5px;
}
.btn:hover, .btn:focus {
  color: #38b4ce;
}
.btn:hover {
  border: 1px solid #38b4ce;
  background: #38b4ce;
  color: white;
}
.btn[disabled="disabled"] {
  background: gainsboro;
  border: gainsboro solid 1px;
  color: #666666;
}

.btn-sm, .btn-group-sm > .btn {
  font-size: 11px;
}

#wrapper {
  position: relative;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

#header {
  padding: 15px 0px 0;
  text-align: center;
  /*border-bottom:1px solid $grayLighter;*/
  background: white;
}
#header .logo {
  display: inline-block;
  margin: 0 auto 15px 35px;
}
#header .logo a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
#header .appBtn {
  float: left;
  margin-left: 15px;
}
#header .appBtn a {
  border: 1px solid #38b4ce;
}
#header .appBtn a:hover {
  background: #38b4ce;
  color: white;
}
#header .userBtn {
  float: right;
  margin-right: 5px;
}
#header .userBtn a.btn {
  border: 1px solid white;
  overflow: hidden;
}
#header .userBtn a.btn:hover {
  background: none;
  border: 1px solid #38b4ce;
}
#header .userBtn a.btn img {
  width: 100%;
}
#header .alertBtn {
  float: right;
  margin-right: 5px;
}
#header .alertBtn a.btn {
  box-shadow: none;
}
#header .alertBtn a.btn:hover {
  background: #38b4ce;
  color: white;
}
#header .alertBtn a.btn.active {
  border: 1px solid #d8271c;
  color: #d8271c;
}
#header .alertBtn a.btn.active:hover {
  background: #d8271c;
  color: white;
}
#header .messageBtn {
  float: right;
  margin-right: 15px;
}
#header .messageBtn a.btn {
  box-shadow: none;
}
#header .messageBtn a.btn:hover {
  background: #38b4ce;
  color: white;
}
#header .messageBtn a.btn.active {
  border: 1px solid #d8271c;
  color: #d8271c;
}
#header .messageBtn a.btn.active:hover {
  background: #d8271c;
  color: white;
}
#header .fa {
  font-size: 14px;
}
#header .nav-tabs {
  background: white;
  text-align: center;
  padding: 0 15px;
}
#header .nav-tabs li a {
  text-shadow: 0px 1px 0px white;
}
#header .nav-tabs li a:hover {
  background: none;
  border-bottom: 1px solid #38b4ce;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}
#header .nav-tabs .fa {
  font-size: 14px;
}
#header .nav-tabs li.active a, #header .nav-tabs li.active a:hover {
  color: #38b4ce;
  background: none;
  border-bottom: 1px solid #38b4ce;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}
#header .nav-tabs .plus {
  margin-top: 5px;
}
#header .nav-tabs .plus a {
  color: gainsboro;
  padding: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid rgba(0, 0, 0, 0);
}
#header .nav-tabs .plus a:hover {
  color: #38b4ce;
  border: 1px solid #38b4ce;
}

#side {
  margin: 30px 0;
}
#side .nav-stacked li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 7px 15px;
}
#side .nav-stacked li a:hover {
  background: rgba(0, 0, 0, 0.05);
}
#side .nav-stacked .active a {
  background: white;
  color: #38b4ce;
}
#side .nav-stacked .divider {
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
}

#main {
  padding: 0;
}
#main .lay3 {
  width: 25%;
  float: left;
}
#main .lay6 {
  width: 50%;
  float: left;
}

.app {
  background: white;
  padding: 0;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.app .appTitle {
  /*margin-bottom:5px;*/
}
.app .appTitle a {
  color: gainsboro;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 2px 15px 2px 7px;
  font-size: 11px;
}
.app .appTitle a:hover {
  color: white;
  text-decoration: none;
}
.app .appTitle .fa {
  margin-right: 7px;
}
.app .appTitle .plus {
  padding: 2px 6px;
  margin-left: 1px;
  background: none;
  color: gainsboro;
}
.app .appTitle .plus .fa {
  margin-right: 0;
}
.app .appTitle .plus:hover {
  background: #38b4ce;
}

.detailTitle {
  margin: 30px 0;
}
.detailTitle h1 {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
.detailTitle h1 .fa {
  margin-right: 15px;
}
.detailTitle .btn {
  float: right;
  background: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
.detailTitle .btn:hover {
  text-shadow: none;
  background: #38b4ce;
}
.detailTitle .search {
  float: right;
  margin: 20px 0;
  width: 20%;
}

.list {
  margin: 0;
  padding: 0;
  /*.todo-1 .title{color:#c0392b;}*/
  /*.todo-2 .title{color:#d35400;}*/
  /*.todo-3 .title{color:#d35400;}*/
  /*.todo-4 .title{color:#f39c12;}*/
  /*.todo-5 .title{color:#f39c12;}*/
  /*.todo-6 .title{color:#27ae60;}*/
  /*.todo-7 .title{color:#27ae60;}*/
  /*.todo-8 .title{color:#16a085;}*/
  /*.todo-9 .title{color:#16a085;}*/
  /*.todo-10 .title{color:#2980b9;}*/
}
.list li {
  list-style: none;
  position: relative;
  display: block;
  border-top: 1px solid white;
  /*[class*="todo"]*/
}
.list li a {
  padding: 7px 50px 7px 40px;
  display: block;
  min-height: 38px;
}
.list li a .circle {
  display: none;
  position: absolute;
  top: 5px;
  left: 6px;
  height: 10px;
  width: 10px;
  background: #d8271c;
  border: 2px solid white;
  z-index: 2;
}
.list li span {
  z-index: 1;
}
.list li .name {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.list li .cat {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.list li .cat_b {
  display: inline-block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.list li .date {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #999999;
  font-size: 11px;
}
.list li .title {
  width: 80%;
  position: absolute;
  top: 10px;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.list li .title_b {
  display: block;
  margin-bottom: 3px;
}
.list li .disc {
  color: rgba(0, 0, 0, 0.3);
  font-size: 11px;
  margin-left: 15px;
}
.list li .thumb {
  position: absolute;
  top: 7px;
  left: 10px;
}
.list li .attach {
  margin-right: 5px;
  color: black;
}
.list li .todo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 0;
}
.list li .tool {
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 2;
}
.list li .tool li {
  display: inline-block;
  border: none;
}
.list li .tool li a {
  padding: 2px 5px;
  min-height: inherit;
  color: rgba(0, 0, 0, 0.3);
}
.list li .tool li a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.list li .tool li:hover {
  background: none;
}
.list li:hover {
  background: #eeeeee;
  text-decoration: none;
}
.list li:hover .tool {
  display: inherit;
}
.list li:hover .title {
  width: 40%;
}
.list li.active a .circle {
  display: block;
}
.list li[class*="todo"] .tool {
  bottom: 3px;
}
.list li[class*="todo"]:hover .date {
  display: none;
}
.list .todo-1 .todo {
  width: 10%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #e74c3c;
}
.list .todo-2 .todo {
  width: 20%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #e67e22;
}
.list .todo-3 .todo {
  width: 30%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #e67e22;
}
.list .todo-4 .todo {
  width: 40%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #f1c40f;
}
.list .todo-5 .todo {
  width: 50%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #f1c40f;
}
.list .todo-6 .todo {
  width: 60%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #72cadd;
}
.list .todo-7 .todo {
  width: 70%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #72cadd;
}
.list .todo-8 .todo {
  width: 80%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #38b4ce;
}
.list .todo-9 .todo {
  width: 90%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #38b4ce;
}
.list .todo-10 .todo {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #38b4ce;
}

.list.mail li a {
  padding: 7px 50px 7px 10px;
}

.userList {
  padding: 0;
  margin: 10px;
}
.userList li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px 0 0;
}
.userList li a {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  text-align: center;
}
.userList li a .delete {
  display: none;
}
.userList li a .thumb {
  display: block;
}
.userList li a:hover .delete {
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  color: white;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.userList li a:hover .thumb {
  background: #d8271c;
}
.userList li a:hover .thumb img {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=20);
}
.userList li.color01 > a {
  border-color: #d8271c;
}
.userList li.color02 > a {
  border-color: #049cdb;
}
.userList li.color03 > a {
  border-color: #66cc66;
}
.userList li.color01 > a:hover > .thumb {
  background: #d8271c;
}
.userList li.color02 > a:hover > .thumb {
  background: #049cdb;
}
.userList li.color03 > a:hover > .thumb {
  background: #66cc66;
}

.search {
  position: relative;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.search input[type="search"] {
  width: 100%;
  border: none;
  background: none;
  padding-left: 25px;
}
.search .fa {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  color: #999999;
}

.popover {
  width: 150px;
}
.popover .popover-title {
  background: none;
  padding: 3px 7px;
  font-size: 11px;
}
.popover .popover-content {
  padding: 7px;
}
.popover .popover-content b {
  display: block;
  margin-bottom: 5px;
}
.popover .popover-content .s_place {
  display: block;
  position: relative;
  padding-left: 15px;
  color: #666666;
  margin-bottom: 3px;
}
.popover .popover-content .s_place .fa {
  position: absolute;
  top: 3px;
  left: 1px;
}
.popover .popover-content .s_member {
  display: block;
  position: relative;
  padding-left: 15px;
  color: #666666;
}
.popover .popover-content .s_member .fa {
  position: absolute;
  top: 2px;
  left: 0;
}
.popover .arrow {
  border-width: 6px;
}
.popover .arrow:after {
  border-width: 5px;
}

.popover.left .arrow {
  margin-top: -6px;
  right: -6px;
}
.popover.left .arrow:after {
  bottom: -5px;
}

.popover.right .arrow {
  margin-top: -6px;
  left: -6px;
}
.popover.right .arrow:after {
  bottom: -5px;
}

.tooltip {
  font-size: 11px;
}
.tooltip .tooltip-inner {
  padding: 7px 10px;
}

.notice {
  width: 300px;
  color: #333333;
  text-align: left;
  font-size: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}
.notice .dropdown-header {
  padding: 10px 10px;
}
.notice .divider {
  margin: 0;
}
.notice li a {
  position: relative;
  padding: 10px 50px 10px 10px;
}
.notice li a .n_date {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #999999;
  font-size: 11px;
}
.notice li a .n_name {
  font-size: 11px;
}
.notice li a .n_body {
  display: block;
  color: #666666;
}
.notice .n_new {
  border-left: 1px solid #ff6600;
}

.pagination {
  margin: 10px 10px 5px;
}
.pagination li {
  display: inline-block;
  margin-left: 2px;
}
.pagination li a {
  color: #666666;
  padding: 0 !important;
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.pagination li a .fa {
  margin-right: 0 !important;
}
.pagination li.active a {
  background: #38b4ce;
}

#pageslide {
  /*border-left:1px solid $grayLight; //#ccc
  border-right:1px solid $grayLight; //#ccc*/
  background: gainsboro;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
}
#pageslide h2 {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 2px 15px 2px 7px;
  background: #333333;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
}
#pageslide h2 .fa {
  margin-right: 7px;
  font-size: 10px;
}
#pageslide ul {
  margin: 0;
  padding: 10px;
}
#pageslide ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#pageslide ul li a {
  display: block;
}

.appList li a {
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  color: #666666;
}
.appList li a .icon {
  display: block;
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 43px;
  border: 1px solid #999999;
  margin: 0 auto 5px;
}
.appList li a:hover {
  color: #38b4ce;
}
.appList li a:hover .icon {
  border: 1px solid #38b4ce;
  background: #38b4ce;
  color: white;
}
.appList .active a {
  color: #38b4ce;
  background: none !important;
}
.appList .active a .icon {
  border: 1px solid #38b4ce;
  background: #38b4ce;
  color: white;
}

#messageOpen {
  width: 300px;
  height: 500px;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  right: 25px;
  z-index: 3;
}
#messageOpen iframe {
  width: 100%;
}
#messageOpen .appTitle {
  margin-bottom: 5px;
}
#messageOpen .appTitle a {
  color: gainsboro;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 2px 15px 2px 7px;
  font-size: 11px;
}
#messageOpen .appTitle a:hover {
  color: white;
  text-decoration: none;
}
#messageOpen .appTitle .fa {
  margin-right: 7px;
}
#messageOpen .appTitle .plus {
  padding: 2px 6px;
  margin-left: 1px;
  background: none;
  color: gainsboro;
}
#messageOpen .appTitle .plus .fa {
  margin-right: 0;
}
#messageOpen .appTitle .plus:hover {
  background: #38b4ce;
}
#messageOpen h3 {
  position: relative;
  margin: 0;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  background: white;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  color: #666666;
  padding: 0 0 0 0;
}
#messageOpen h3 a {
  position: absolute;
  top: 0px;
  left: 15px;
}
#messageOpen .list {
  height: 400px;
}
#messageOpen .list li {
  border-top: none;
}
#messageOpen #talk .scroll_area {
  height: 365px;
  background: #eeeeee;
}
#messageOpen #member .scroll_area {
  height: 400px;
}
#messageOpen .nav-tabs {
  height: 28px;
  padding: 0 10px;
}
#messageOpen .nav-tabs li {
  width: 50%;
  text-align: center;
}
#messageOpen .nav-tabs li a {
  padding: 0;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}
#messageOpen .nav-tabs li.active a {
  color: #333333;
}
#messageOpen .tab-pane {
  position: relative;
}

body.modal-open #messageOpen {
  right: 42px;
}

#messageOpenBody {
  height: 444px;
  overflow: hidden;
}
#messageOpenBody h3 {
  position: relative;
  margin: 0;
  height: 35px;
  line-height: 35px;
  background: white;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  color: #666666;
  padding: 0 0 0 0;
}
#messageOpenBody h3 a {
  position: absolute;
  top: 0px;
  left: 15px;
}
#messageOpenBody .list {
  overflow: hidden;
}
#messageOpenBody .list li {
  background: white;
}
#messageOpenBody .list li a .circle {
  display: none;
  position: absolute;
  top: 5px;
  left: 6px;
  height: 10px;
  width: 10px;
  background: #d8271c;
  border: 2px solid white;
  z-index: 2;
}
#messageOpenBody .list li a .cat {
  width: 180px;
  display: block;
}
#messageOpenBody .list li a:hover {
  background: #eeeeee;
}
#messageOpenBody .list li.active a .circle {
  display: block;
}
#messageOpenBody .list li.online a .circle {
  display: block;
  background: #66cc66;
}
#messageOpenBody .list li.offline a .circle {
  display: block;
  background: gainsboro;
}

#modalRight {
  height: 100%;
}
#modalRight .modalBody {
  padding: 150px 0 0;
  height: 100%;
}

.modal .modal-dialog .modal-content .modal-header .text {
  width: 85%;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal .modal-dialog .modal-content .modal-body .table {
  border-top: none;
}
.modal .modal-dialog .modal-content .modal-body .table td, .modal .modal-dialog .modal-content .modal-body .table th {
  border-top: none;
  border-bottom: 1px solid #eeeeee;
  vertical-align: middle;
}
.modal .modal-dialog .modal-content .modal-body .table th {
  color: #666666;
  font-weight: normal;
}
.modal .modal-dialog .modal-content .modal-body .table th .iconBox {
  display: inline-block;
  width: 18px;
  text-align: center;
  margin-right: 5px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .table:last-child {
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  margin: -1px 0 0;
}
.modal .modal-dialog .modal-content .text {
  border: 1px solid gainsboro;
  padding: 5px 7px;
}
.modal .modal-dialog .modal-content .text:focus {
  border-color: #666666;
}
.modal .modal-dialog .modal-content textarea.text {
  width: 80%;
}
.modal .modal-dialog .modal-content input[type="text"].text {
  width: 80%;
}
.modal .modal-dialog .modal-content .select {
  border: 1px solid gainsboro;
  padding: 5px 7px;
}
.modal .modal-dialog .modal-content .select:focus {
  border-color: #666666;
}
.modal .modal-dialog .modal-content .areaBox {
  display: none;
  margin: 10px 0 0;
}
.modal .modal-dialog .modal-content .areaBox .selectBox {
  margin: 0 0 5px;
}
.modal .modal-dialog .modal-content .userBox {
  display: none;
  margin: 5px 0 0;
}
.modal .modal-dialog .modal-content .userBox table {
  width: 80%;
  border: none;
  margin: 0;
}
.modal .modal-dialog .modal-content .userBox table td {
  width: 50%;
  border: none !important;
  padding: 5px 10px 0 0;
}
.modal .modal-dialog .modal-content .userBox .select {
  width: 100%;
}
.modal .modal-dialog .modal-content .userBox .right {
  text-align: right;
}

#login #header {
  display: none;
}
#login #header .logo {
  margin: 0 auto;
  margin-bottom: 15px;
}
#login .loginBox {
  position: relative;
  width: 300px;
  background: white;
  padding: 30px 20px 20px;
  margin: 18% auto 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
#login .loginBox .logo {
  position: absolute;
  text-align: center;
  margin: 0;
  background: white;
  width: 100px;
  height: 100px;
  padding: 25px;
  left: 100px;
  top: -50px;
}
#login .loginBox .logo img {
  width: 100%;
}
#login .loginBox .logo:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  -webkit-border-radius: 100px 100px 0 0;
  -moz-border-radius: 100px 100px 0 0;
  -ms-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
  background: rgba(0, 0, 0, 0.1);
  left: 0px;
  top: 0px;
  z-index: -1;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
#login .loginBox .logoText {
  text-align: center;
  padding: 0 50px;
  margin: 20px 0 30px;
}
#login .loginBox .logoText img {
  width: 100%;
}
#login .loginBox .text {
  width: 100%;
  border: none;
  padding: 7px;
  margin: 0 0 10px;
  background: #f2f7f8;
}
#login .loginBox .text:focus {
  background: white;
}
#login .loginBox .btnBox {
  padding: 10px 0;
}
#login .loginBox .btnBox .btn {
  width: 100%;
}
#login .pw {
  text-align: center;
  padding: 20px 15px 20px 0;
}
#login .pw a {
  display: inline-block;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#login .pw a:hover {
  background: white;
}
#login .pw span {
  display: inline-block;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

.active a {
  background: #f2f7f8;
}

/* 全体 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* スクロールバーを除いたエリア */
.jspPane {
  position: absolute;
}

/* 縦スクロールバー */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
}

/* 横スクロールバー */
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

/* 背景 */
.jspTrack {
  background: white;
  position: relative;
}

/* ノブ */
.jspDrag {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.timecard {
  background: center no-repeat;
  background-size: cover;
  border: 1px solid white;
}
.timecard .date {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.timecard .date .year {
  display: block;
  font-size: 18px;
  font-weight: normal;
}
.timecard .comment {
  text-align: center;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  margin: 20px 10px 20px;
}
.timecard .btnarea {
  padding: 0px 10px 30px;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00000000', endColorstr='#99000000');
}
.timecard .btnarea .btn {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  border: 1px solid #38b4ce;
  background: #38b4ce;
  color: white;
}
.timecard .btnarea .btn:hover {
  background: white;
  color: #38b4ce;
}

.bbstest {
  margin: 0;
}

#schedule .nav-tabs {
  margin: 15px 0 0;
  text-align: center;
}
#schedule .nav-tabs li {
  width: 30%;
  float: none;
  display: inline-block;
}
#schedule .nav-tabs li a {
  padding: 7px 0;
}

.timeSchedule {
  height: 560px;
  overflow-y: scroll;
}
.timeSchedule ul {
  padding: 0;
  margin: 0;
}
.timeSchedule ul li {
  display: block;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  height: 80px;
  line-height: 50px;
  z-index: 0;
  background: #eeeeee;
}
.timeSchedule ul li:nth-child(even) {
  background: white;
}
.timeSchedule .schedule {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 45%;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid;
  cursor: pointer;
}
.timeSchedule .schedule .schedule_inner {
  position: relative;
}
.timeSchedule .schedule a {
  display: block;
  overflow: hidden;
}
.timeSchedule .schedule .s_title, .timeSchedule .schedule .s_time, .timeSchedule .schedule .s_place, .timeSchedule .schedule .s_member {
  display: block;
  font-size: 11px;
  padding: 0 5px;
  color: black;
}
.timeSchedule .schedule .s_time {
  padding: 3px 5px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eeeeee;
}
.timeSchedule .schedule .s_place {
  color: #666666;
}
.timeSchedule .schedule .s_place .fa {
  margin-right: 5px;
}
.timeSchedule .schedule .tool {
  display: none;
}
.timeSchedule .schedule .tool:hover {
  display: block;
}
.timeSchedule .schedule:hover .tool {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
}
.timeSchedule .schedule.color01 {
  border-top-color: #d8271c;
}
.timeSchedule .schedule.color02 {
  border-top-color: #049cdb;
}
.timeSchedule .schedule.color03 {
  border-top-color: #66cc66;
}
.timeSchedule .schedule.color01 > a > .s_time {
  color: #d8271c;
}
.timeSchedule .schedule.color02 > a > .s_time {
  color: #049cdb;
}
.timeSchedule .schedule.color03 > a > .s_time {
  color: #66cc66;
}

#timeline {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid #38b4ce;
  margin: 15px 0;
}
#timeline .appTitle a {
  background: #38b4ce;
  color: white;
}

.timelineForm textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  margin: 0;
}
.timelineForm textarea:focus {
  height: 150px;
}
.timelineForm .app-form-bottom {
  padding: 7px 10px;
  text-align: right;
  border-top: 1px dotted #eeeeee;
}
.timelineForm .app-form-bottom ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
}
.timelineForm .app-form-bottom ul li {
  display: inline-block;
  list-style: none;
}
.timelineForm .app-form-bottom ul li a {
  display: block;
  padding: 7px 7px;
}
.timelineForm .app-form-bottom ul li a .fa {
  font-size: 16px;
}

.timelineList {
  margin: 0;
  padding: 0;
  /*	li:nth-child(even){
  	background:$grayLighter;
  	}*/
}
.timelineList li {
  display: block;
  position: relative;
  padding: 15px 15px 15px 68px;
  list-style: none;
  border-top: 1px solid gainsboro;
}
.timelineList li .thumb {
  position: absolute;
  top: 15px;
  left: 10px;
}
.timelineList li .time {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #999999;
  font-size: 11px;
}
.timelineList li .body {
  padding: 7px 0;
}
.timelineList li .foot a {
  display: inline-block;
  margin-right: 10px;
  color: gainsboro;
}
.timelineList li .foot a.active {
  color: #38b4ce;
}
.timelineList li .comment {
  margin: 20px 0 0;
  padding: 0;
}
.timelineList li .comment li {
  padding: 10px 10px 10px 44px;
  border-top: 1px dotted gainsboro;
  border-bottom: none;
}
.timelineList li ul li .time {
  right: 0;
}

.messageForm {
  position: relative;
  padding: 5px 60px 5px 5px;
  color: #333333;
  text-align: right;
  background: white;
  border-top: 1px solid gainsboro;
}
.messageForm .text {
  border: none;
  width: 100%;
  padding: 7px;
  margin: 0;
  text-align: left;
}
.messageForm .action {
  position: absolute;
  top: 5px;
  right: 5px;
}

.messageBody {
  height: 100%;
  padding: 150px 5px 5px;
}
.messageBody iframe {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.messageList {
  padding: 0 !important;
}
.messageList li {
  display: block;
  position: relative;
}
.messageList li .thumb {
  position: absolute;
  top: 5px;
}
.messageList li .body {
  display: block;
  background: white;
  padding: 7px 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.messageList li .body .name {
  display: block;
  font-size: 11px;
  color: #666666;
  margin: 0 0 3px;
}
.messageList li .body .date {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
  margin: 3px 0 0;
}
.messageList li .body .readList {
  display: inline !important;
}
.messageList .left {
  padding: 5px 10px 5px 42px !important;
}
.messageList .left .thumb {
  left: 7px;
}
.messageList .right {
  padding: 5px 42px 5px 10px !important;
}
.messageList .right .thumb {
  right: 7px;
}
.messageList .left > .body,
.messageList .right > .body {
  position: relative;
}
.messageList .left > .body:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -6px;
  margin-top: -6px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  z-index: 0;
}
.messageList .left > .body:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -6px;
  margin-top: -9px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent white transparent transparent;
  z-index: 0;
}
.messageList .right > .body:before {
  content: "";
  position: absolute;
  top: 15px;
  right: -6px;
  margin-top: -6px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.messageList .right > .body:after {
  content: "";
  position: absolute;
  top: 15px;
  right: -6px;
  margin-top: -9px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 0 9px 9px;
  border-color: transparent transparent transparent white;
  z-index: 0;
}

/***************************************************
	width
--------------------------------------------------*/
.thin {
  width: 1%;
}

.wide, .w100 {
  width: 100% !important;
  max-width: 100% !important;
}

.w5 {
  width: 5% !important;
}

.w10 {
  width: 10% !important;
}

.w15 {
  width: 15% !important;
}

.w20 {
  width: 20% !important;
}

.w25 {
  width: 25% !important;
}

.w30 {
  width: 30% !important;
}

.w35 {
  width: 35% !important;
}

.w40 {
  width: 40% !important;
}

.w45 {
  width: 45% !important;
}

.w50 {
  width: 50% !important;
}

.w55 {
  width: 55% !important;
}

.w60 {
  width: 60% !important;
}

.w65 {
  width: 65% !important;
}

.w70 {
  width: 70% !important;
}

.w75 {
  width: 75% !important;
}

.w80 {
  width: 80% !important;
}

.w85 {
  width: 85% !important;
}

.w90 {
  width: 90% !important;
}

.w95 {
  width: 95% !important;
}

.w100 {
  width: 100% !important;
}

.w99 {
  width: 99%  !important;
}

.w49 {
  width: 49% !important;
}

.w48 {
  width: 48% !important;
}

.w47 {
  width: 47% !important;
}

.w46 {
  width: 46% !important;
}

.w33 {
  width: 33.333333% !important;
}

.mw200 {
  min-width: 200px !important;
}

.mw250 {
  min-width: 250px !important;
}

.mw300 {
  min-width: 300px !important;
}

.mw350 {
  min-width: 350px !important;
}

.mw400 {
  min-width: 400px !important;
}

.mw450 {
  min-width: 450px !important;
}

.mw500 {
  min-width: 500px !important;
}

.mw550 {
  min-width: 550px !important;
}

.mw600 {
  min-width: 600px !important;
}

/***************************************************
	margin&padding
--------------------------------------------------*/
.noMP {
  margin: 0;
  padding: 0;
}

.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ma0 {
  margin: 0px !important;
}

.mh0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ma5 {
  margin: 5px !important;
}

.mh5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ma10 {
  margin: 10px !important;
}

.mh10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ma15 {
  margin: 15px !important;
}

.mh15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ma20 {
  margin: 20px !important;
}

.mh20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ma25 {
  margin: 25px !important;
}

.mh25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ma30 {
  margin: 30px !important;
}

.mh30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ma35 {
  margin: 35px !important;
}

.mh35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ma40 {
  margin: 40px !important;
}

.mh40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ma45 {
  margin: 45px !important;
}

.mh45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ma50 {
  margin: 50px !important;
}

.mh50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ma55 {
  margin: 55px !important;
}

.mh55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ma60 {
  margin: 60px !important;
}

.mh60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ma65 {
  margin: 65px !important;
}

.mh65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ma70 {
  margin: 70px !important;
}

.mh70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ma75 {
  margin: 75px !important;
}

.mh75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ma80 {
  margin: 80px !important;
}

.mh80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ma85 {
  margin: 85px !important;
}

.mh85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ma90 {
  margin: 90px !important;
}

.mh90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ma95 {
  margin: 95px !important;
}

.mh95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.ma100 {
  margin: 100px !important;
}

.mh100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.noPadding {
  padding: 0px;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pa0 {
  padding: 0px !important;
}

.ph0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pa5 {
  padding: 5px !important;
}

.ph5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pa10 {
  padding: 10px !important;
}

.ph10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pa15 {
  padding: 15px !important;
}

.ph15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pa20 {
  padding: 20px !important;
}

.ph20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pa25 {
  padding: 25px !important;
}

.ph25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pa30 {
  padding: 30px !important;
}

.ph30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pa35 {
  padding: 35px !important;
}

.ph35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pa40 {
  padding: 40px !important;
}

.ph40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pa45 {
  padding: 45px !important;
}

.ph45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pa50 {
  padding: 50px !important;
}

.ph50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pa55 {
  padding: 55px !important;
}

.ph55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pa60 {
  padding: 60px !important;
}

.ph60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pa65 {
  padding: 65px !important;
}

.ph65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pa70 {
  padding: 70px !important;
}

.ph70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pa75 {
  padding: 75px !important;
}

.ph75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pa80 {
  padding: 80px !important;
}

.ph80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pa85 {
  padding: 85px !important;
}

.ph85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pa90 {
  padding: 90px !important;
}

.ph90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pa95 {
  padding: 95px !important;
}

.ph95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pa100 {
  padding: 100px !important;
}

.ph100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.noBorder {
  border: none !important;
}
.noBorder td, .noBorder th {
  border: none !important;
}

/***************************************************
	font
--------------------------------------------------*/
.fs10 {
  font-size: 10px !important;
}

.fs11 {
  font-size: 11px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

/***************************************************
	align & float
--------------------------------------------------*/
/***************************************************
	color
--------------------------------------------------*/
.fcWhite {
  color: white !important;
}

.fcGray {
  color: #999999 !important;
}

.fcGrayLight {
  color: gainsboro !important;
}

.fcBlue {
  color: #049cdb !important;
}

.fcGreen {
  color: #66cc66 !important;
}

.fcRed {
  color: #d8271c !important;
}

.fcYellow {
  color: #f1c40f !important;
}

.fcOrange {
  color: #ff6600 !important;
}

.fcPink {
  color: #c3325f !important;
}

.fcPurple {
  color: #7a43b6 !important;
}

.colorTwitter {
  color: #01a5ed !important;
}

.colorFacebook {
  color: #4862a3 !important;
}

/***************************************************
	FontAwesome
--------------------------------------------------*/
/***************************************************
	transform
--------------------------------------------------*/
.transitionS {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.rotate90 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
