@charset "utf-8";

* {
	@include font-family-sans-serif();
}

html, body {
	margin:0;
	padding:0;
	font-size:100%;
}
body {
	width:100%;
	padding:0;
	margin:0;
	font-size:.75em;
	line-height:1.4;
	//background:#fff;
	background-color: $grayBack;
}
body#login {
	background:#eee url(../images/body.png) left top repeat-x;
}

p {
	margin:5px 0;
}

h1, h2, h3, h4, h5, h6, p, span {
	outline:none;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, th, td {
	line-height: 1.4;
}

input[type=submit], input[type=button], input[type=reset] {
	outline: none;
}