@charset "utf-8";

// HTML reset style

html {
	min-height: 100%;
}

body {
	@include fontFamily;
	color: #1b1b1b;
	background: #eeeeee;
}

body.modal-open {
	padding-right: 17px;
}

form {
	margin: 0;
}
textarea {
	resize: none;
}