@charset "utf-8";

//####################################################################################################
// avatar
//----------------------------------------------------------------------------------------------------
.avatar_s {
	@extend .bRadiusCircle;
	width: 24px;
	height: 24px;
}
.avatar_m {
	@extend .bRadiusCircle;
	width: 33px;
	height: 33px;
}
.avatar_l {
	@extend .bRadiusCircle;
	width: 48px;
	height: 48px;
}
// --> extend
//@mixin borderbox {
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//	-ms-box-sizing: border-box;
//	box-sizing: border-box;
//}

// --> extend
//@mixin clearfix {
//	*zoom: 1;
//	&:before,
//	&:after {
//		display: table;
//		content: "";
//		// Fixes Opera/contenteditable bug:
//		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
//		line-height: 0;
//	}
//	&:after {
//		clear: both;
//	}
//}

// --> extend
//@mixin ellipsis {
//	overflow: hidden;
//	white-space: nowrap;
//	text-overflow: ellipsis;
//}

// --> extend
//.clearfix {
//	@include clearfix;
//}

//a, a:link {
//	color: $linkColor;
//}

a {
	color: $linkColor;
	outline: none !important;
	&:focus {
		outline: none !important;
	}
	&:hover {
		color: $linkColor;
		text-decoration: none;
	}
	&:active {
		color: $linkColor;
	}
}

:focus {
	outline: none;
}

.btn {
	font-size: $baseFontSize;
	border: 1px solid $linkColor;
	background: $white;
	color: $linkColor;

	.fa.mr5 {
		margin-right: 5px;
	}
	&:hover, &:focus {
		color: $linkColor;
	}

	&:hover {
		border: 1px solid $linkColor;
		background: $linkColor;
		color: $white;
	}

	&[disabled="disabled"] {
		background: $grayLight;
		border: $grayLight solid 1px;
		color: $grayDark;
	}
}

.btn-sm, .btn-group-sm > .btn {
	font-size: $fontSizeSmall;
}


#wrapper {
	position: relative;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

#header {
	padding: 15px 0px 0;
	text-align: center;
	border-bottom:1px solid $grayLight;
	background: $white;
	height: 65px;

	.logo {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -15px;
		display: inline-block;
		height: 35px;
		line-height: 35px;

		a {
			display: inline-block;
			height: 35px;
			line-height: 35px;
		}
	}
	.appBtn {
		float: left;
		margin-left: 15px;

		a {
			@extend .circleBtn;
			//↑extend
			//display: inline-block;
			//height: 35px;
			//width: 35px;
			//line-height: 35px;
			//border-radius: 35px;
			//text-align: center;
			//padding: 0;
			border: 1px solid $linkColor;
		}
		a:hover {
			background: $linkColor;
			color: $white;
		}
	}
	.userBtn {
		float: right;
		margin-right: 5px;

		a.btn {
			@extend .circleBtn;
			//↑extend
			//display: inline-block;
			//height: 35px;
			//width: 35px;
			//line-height:35px;
			//border-radius: 35px;
			//text-align: center;
			//padding: 0;
			border: 1px solid $white;
			overflow: hidden;
			line-height: 0; //画像がズレるため設定。


			&:hover {
				background: none;
				border: 1px solid $linkColor;
			}
			img {
				width: 100%;
			}
		}
	}
	.alertBtn {
		float: right;
		margin-right: 5px;

		a.btn {
			@extend .circleBtn;
			//↑extend
			//display: inline-block;
			//height: 35px;
			//width: 35px;
			//line-height: 35px;
			//border-radius: 35px;
			//text-align: center;
			//padding: 0;
			box-shadow: none;
			&:hover {
				background: $linkColor;
				color: $white;
			}
		}
		a.btn.active {
			border: 1px solid $red;
			color: $red;
			&:hover {
				background: $red;
				color: $white;
			}
		}
	}
	.messageBtn {
		float: right;
		margin-right: 15px;

		a.btn {
			@extend .circleBtn;
			//↑extend
			//display: inline-block;
			//height: 35px;
			//width: 35px;
			//line-height: 35px;
			//border-radius: 35px;
			//text-align: center;
			//padding: 0;
			box-shadow: none;
			&:hover {
				background: $linkColor;
				color: $white;
			}
		}
		a.btn.active {
			border: 1px solid $red;
			color: $red;
			&:hover {
				background: $red;
				color: $white;
			}
		}
	}
	.fa {
		font-size: $fontSizeLarge;
	}
	.nav-tabs {
		background: $white;
		text-align: center;
		padding: 0 15px;

		li {

			a {
				text-shadow: 0px 1px 0px rgba($white, 1.0);
				&:hover {
					background: none;
					border-bottom: 1px solid $linkColor;
					border-top: 1px solid rgba($black, 0.0);
					border-left: 1px solid rgba($black, 0.0);
					border-right: 1px solid rgba($black, 0.0);
				}
			}
		}
		.fa {
			font-size: $fontSizeLarge;
		}
		li.active {

			a, a:hover {
				color: $linkColor;
				background: none;
				border-bottom: 1px solid $linkColor;
				border-top: 1px solid rgba($black, 0.0);
				border-left: 1px solid rgba($black, 0.0);
				border-right: 1px solid rgba($black, 0.0);
			}
		}
		.plus {
			margin-top: 5px;

			a {
				@extend .bRadiusCircle;
				color: $grayLight; //#ccc
				padding: 0px;
				width: 28px;
				height: 28px;
				line-height: 28px;
				border: 1px solid rgba($black, 0.0);
				//border-radius: 28px; ↑extend
				&:hover {
					color: $linkColor;
					border: 1px solid $linkColor;
				}
			}
		}
	}
	.search{
		display: inline-block;
		float: left;
		margin-left: 10px;
		padding: 0;
		border: 1px solid $grayLighter;

		input[type="text"]{
			border: none;
			box-shadow: none;
		}
	}
}

#side {
	margin: 30px 0;

	.nav-stacked {

		li {

			a {
				@include border-radius(0);
				padding: 7px 15px;
				&:hover {
					background: rgba($black, 0.05);
				}
			}
		}
		.active {

			a {
				background: $white;
				color: $linkColor;
			}
		}
		.divider {
			background: rgba($black, 0.05);
			height: 1px;
		}
	}
}

#main {
	padding: 0;

	.lay3 {
		@extend .border-box;
		width: 25%;
		float: left;
	}
	.lay6 {
		@extend .border-box;
		width: 50%;
		float: left;
	}
}

.app {
	background: rgba($white, 1);
	padding: 0;
	margin: 15px 0;
	border: 1px solid rgba($black, 0.1);
	//border-top:1px solid rgba($black, 0.2);

	> .inner {
		padding: 10px;
	}

	.pager{
		padding: 5px;
		margin: 0;
		border-top:1px solid $grayLighter;
		display: block;
		text-align: right;
		font-size: $fontSizeSmall;

		.fa{
			margin-right: 0;
			font-size: $fontSizeLarge;
		}
		a {
			display: inline-block;
			background: none;
			padding: 0;
			color: $linkColor;
			text-align: center;
			height: 18px;
			width: 18px;
			border-radius: 18px;
		}
		a:hover{
			background: $linkColor;
			color: $white;
		}
		span{
			display: inline-block;
			padding: 2px 2px;
			color: $gray;
			text-align: center;

			.fa{
				margin-right: 0;
			}
		}
		.off{
			padding: 0;
			height: 18px;
			width: 18px;
		}
	}
}
.appTitle {
	/*margin-bottom:5px;*/
	a {
		color: $grayLight; //#ccc
		//text-shadow:0 -1px 0px rgba($black, 0.1);
		background: rgba($black, 0.8);
		display: inline-block;
		padding: 2px 15px 2px 7px;
		//font-size: $fontSizeSmall;
	}
	a:hover {
		color: $white;
		text-decoration: none;
		//background:$linkColor;
	}
	.fa {
		margin-right: 7px;
		font-size: $fontSizeLarge;
	}
	.plus, .setting {
		padding: 2px 6px;
		margin-left: 1px;
		background: none;
		color: $gray;

		.fa {
			margin-right: 0;
		}
	}
	.plus:hover, .setting:hover, .setting:focus {
		background: $linkColor;
		color: $white;
	}
	.pager{
		float: right;
		display: inline-block;
		margin: 0;
		padding:0;

		.fa{
			margin-right: 0;
			font-size: $fontSizeLarge;
		}
		a {
			background: none;
			padding: 2px 8px;
			color: $linkColor;
			text-align: center;
		}
		a:hover{
			background: $linkColor;
			color: $white;
		}
		span{
			display: inline-block;
			padding: 2px 2px;
			color: $gray;

			.fa{
				margin-right: 0;
			}
		}
		.off{
			padding: 2px 8px;
		}
	}
	.dropdown {
		display: inline-block;

		a{
			background: none;

		}
		.dropdown-menu {
			padding: 0;
			margin-right: 0;
			overflow: hidden;
			box-shadow: 0 1px 4px rgba($black, 0.1);
			border-radius: 0;
			min-width: 100px;
			font-size: $baseFontSize;

			li {
				padding: 0;
				margin-right: 0;
				a {
					display: block;
					padding: 5px 7px !important;
					color: $grayDarker !important;

				}
				a:hover {
					background: $grayLighter !important;
				}
			}
			.divider {
				margin: 0;
			}
			.active {
				background: $grayLighter;
			}
		}
	}
	.displayGroup{
		float: right;
		margin-right: -1px;

		a{
			background: none;
			color: $linkColor;
			padding: 2px 7px;
		}
		a:hover{
			background: $linkColor;
			color: $white;
		}
		a:focus,a:active{
			text-decoration: none;
			background: $linkColor;
			color: $white;
		}
		.fa{
			margin-left: 7px;
			margin-right: 3px;
			font-size: $fontSizeLarge;
		}
	}
}

.detailTitle {
	margin: 30px 0;

	h1 {
		font-size: 30px;
		margin: 0;
		font-weight: normal;
		display: inline-block;
		color: rgba($black, 0.7);
		text-shadow: 0 1px 1px rgba($white, 0.9);

		.fa {
			margin-right: 15px;
		}
	}
	.btn {
		float: right;
		background: none;
		text-shadow: 0 1px 1px rgba($white, 0.9);
	}
	.btn:hover {
		text-shadow: none;
		background: $linkColor;
	}
	.search {
		float: right;
		margin: 20px 0;
		width: 20%;
	}
}

.list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		position: relative;
		display: block;
		border-top: 1px solid $white;

		a {
			@extend .ellipsis;
			padding: 7px 50px 7px 40px;
			display: block;
			min-height: 38px;

			.circle {
				@extend .bRadiusCircle;
				display: none;
				position: absolute;
				top: 5px;
				left: 6px;
				height: 10px;
				width: 10px;
				background: $red;
				//border-radius: 10px; ↑extend
				border: 2px solid $white;
				z-index: 2;
			}
		}
		span {
			z-index: 1;
		}
		.name {
			display: block;
			font-size: $fontSizeSmall;
			color: rgba($black, 0.6);
		}
		.cat {
			display: block;
			font-size: $fontSizeSmall;
			color: rgba($black, 0.6);
		}
		.cat_b {
			display: inline-block;
			font-size: $fontSizeSmall;
			color: rgba($black, 0.6);
		}
		.date {
			position: absolute;
			top: 7px;
			right: 10px;
			color: $gray;
			//color: rgba($black, 0.3);
			font-size: $fontSizeSmall;
		}
		.title {
			@extend .ellipsis;
			width: 80%;
			position: absolute;
			top: 10px;
			text-shadow: 0 1px 0px rgba($white, 0.1);
			color: rgba($black, 0.6);
		}
		.title_b {
			display: block;
			margin-bottom: 3px;
		}
		.disc {
			color: rgba($black, 0.3);
			font-size: $fontSizeSmall;
			margin-left: 15px;
		}
		.thumb {
			position: absolute;
			top: 7px;
			left: 10px;
			//width: 24px;
			//height: 24px;

			img {
				// avatar_s
				//width: 24px;
				//height: 24px;
				//border-radius: 24px;
			}
		}
		.attach {
			margin-right: 5px;
			color: $black;
		}
		/*[class*="todo"]*/
		.todo {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: $black;
			z-index: 0;
		}
		.tool {
			display: none;
			position: absolute;
			bottom: 0;
			right: 10px;
			z-index: 2;

			li {
				display: inline-block;
				border: none;

				a {
					padding: 2px 5px;
					min-height: inherit;
					color: rgba($black, 0.3);
				}
				a:hover {
					color: rgba($black, 0.8);
				}
			}
			li:hover {
				background: none;
			}
		}
	}
	li:hover {
		background: $grayLighter;
		text-decoration: none;

		.tool {
			display: inherit;
		}
		.title {
			width: 40%;
		}
	}
	li.active {

		a {

			.circle {
				display: block;
			}
		}
	}
	li[class*="todo"] {

		.tool {
			bottom: 3px;
		}
	}
	li[class*="todo"]:hover {

		.date {
			display: none;
		}
	}

	.todo-1 .todo {
		width: 10%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $lightrRed;
	}
	/*.todo-1 .title{color:#c0392b;}*/
	.todo-2 .todo {
		width: 20%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $darkOrange;
	}
	/*.todo-2 .title{color:#d35400;}*/
	.todo-3 .todo {
		width: 30%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $darkOrange;
	}
	/*.todo-3 .title{color:#d35400;}*/
	.todo-4 .todo {
		width: 40%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $yellow;
	}
	/*.todo-4 .title{color:#f39c12;}*/
	.todo-5 .todo {
		width: 50%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $yellow;
	}
	/*.todo-5 .title{color:#f39c12;}*/
	.todo-6 .todo {
		width: 60%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $lightBlue;
	}
	/*.todo-6 .title{color:#27ae60;}*/
	.todo-7 .todo {
		width: 70%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $lightBlue;
	}
	/*.todo-7 .title{color:#27ae60;}*/
	.todo-8 .todo {
		width: 80%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $linkColor;
	}
	/*.todo-8 .title{color:#16a085;}*/
	.todo-9 .todo {
		width: 90%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $linkColor;
	}
	/*.todo-9 .title{color:#16a085;}*/
	.todo-10 .todo {
		width: 100%;
		background: rgba($white, 0.0);
		border-bottom: 2px solid $linkColor;
	}
	/*.todo-10 .title{color:#2980b9;}*/
}

.list.mail {

	li {

		a {
			padding: 7px 50px 7px 10px;
		}
	}
}

.userList {
	padding: 0;
	margin: 10px;

	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			@extend .bRadiusCircle;
			position: relative;
			display: block;
			width: 26px;
			height: 26px;
			//border-radius: 26px;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			text-align: center;
			//box-shadow:inset 0px 2px 0px rgba($white, 1.0);

			.delete {
				display: none;
			}
			.thumb {
				display: block;
				//width: 24px;
				//height: 24px;

				img {
					// avatar_s
					//width: 24px;
					//height: 24px;
				}
			}
		}
		a:hover {

			.delete {
				display: block;
				position: absolute;
				top: 3px;
				left: 7px;
				color: $white;
				text-shadow: 0 1px 0px rgba($black, 0.2);
			}
			.thumb {
				background: $red;

				img {
					opacity: 0.2;
					-moz-opacity: 0.2;
					filter: alpha(opacity=20);
				}
			}
		}
	}
	.plus{

		a{
			width: 26px;
			height: 26px;
			line-height: 26px;
			border: none;
			color: $grayLight;

			.fa{
				margin: 0;
				font-size: $fontSizeLarge;
			}
		}
		a:hover{
			color: $linkColor;
		}
	}
	li.color01 > a {
		border-color: $red;
	}
	li.color02 > a {
		border-color: $blue;
	}
	li.color03 > a {
		border-color: $green;
	}
	li.color01 > a:hover > .thumb {
		background: $red;
	}
	li.color02 > a:hover > .thumb {
		background: $blue;
	}
	li.color03 > a:hover > .thumb {
		background: $green;
	}
}

.selectApp {
	@extend .clearfix;
	margin: 10px 0;
	padding: 0;
	li {
		float: left;
		list-style: none;
	}
	input[type=checkbox] {
		display: none;

		&:checked + label {
			//background-color: $linkColor;
			border-color: $linkColor;
			background-color: $grayHightLight;
		}
	}
	a,
	label {
		@extend .border-box;
		@extend .clearfix;
		position: relative;
		display: block;
		min-height: 100px;
		margin: 10px;
		padding: 10px;
		border: solid 1px $grayLight;
		color: $textColor;
		font-weight: normal;
		cursor: pointer;
		&:hover {
			background-color: $grayHightLight;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		.icon {
			position: absolute;
			width: 60px;
			top: 0;
			left: 0;
			bottom: 0;
			.fa {
				position: absolute;
				top: 50px;
				margin-top: -30px;
				width: 100%;
				height: 60px;
				line-height: 60px;
				font-size: 3em;
				text-align: center;
			}
		}
		.body {
			padding-left: 60px;
			color: $gray;
		}
	}
	.title {
		margin: 0 0 10px 0;
		font-size: $fontSizeLarge;
		color: $textColor;
	}
}

.search {
	position: relative;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid rgba($black, 0.1);

	input[type="search"] {
		width: 100%;
		border: none;
		background: none;
		padding-left: 25px;
	}
	.fa {
		position: absolute;
		top: 12px;
		left: 10px;
		font-size: 16px;
		color: $gray;
	}
}

.popover {
	width: 150px;
	@extend .bRadiusNone;
	//border-radius: 0px;

	.popover-title {
		background: none;
		padding: 3px 7px;
		font-size: $fontSizeSmall;
	}
	.popover-content {
		padding: 7px;

		b {
			display: block;
			margin-bottom: 5px;
		}
		.s_place {
			display: block;
			position: relative;
			padding-left: 15px;
			color: $grayDark;
			margin-bottom: 3px;

			.fa {
				position: absolute;
				top: 3px;
				left: 1px;
			}
		}
		.s_member {
			display: block;
			position: relative;
			padding-left: 15px;
			color: $grayDark;

			.fa {
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
	}
	.arrow {
		border-width: 6px;
	}
	.arrow:after {
		border-width: 5px;
	}
}

.popover.left {

	.arrow {
		margin-top: -6px;
		right: -6px;
	}
	.arrow:after {
		bottom: -5px;
	}
}

.popover.right {

	.arrow {
		margin-top: -6px;
		left: -6px;
	}
	.arrow:after {
		bottom: -5px;
	}
}

.tooltip {
	font-size: $fontSizeSmall;

	.tooltip-inner {
		padding: 7px 10px;
	}
}

.notice {
	width: 300px;
	color: $grayDarker;
	text-align: left;
	font-size: $baseFontSize;
	@extend .bRadiusNone;
	//border-radius: 0;
	box-shadow: 0px 1px 4px rgba($black, 0.1);
	padding: 0;

	.dropdown-header {
		padding: 10px 10px;
	}
	.divider {
		margin: 0;
	}
	li {

		a {
			position: relative;
			padding: 7px 50px 10px 10px;

			.n_date {
				position: absolute;
				right: 10px;
				top: 18px;
				color: $gray;
				font-size: $fontSizeSmall;
			}
			.n_name {
				font-size: $fontSizeSmall;
				color: $linkColor;
			}
			.n_body {
				display: block;
				@extend .ellipsis;
				font-size: $fontSizeSmall;
				//color: $grayDark;
			}
			.thumb{
				display: inline-block;
				float: left;
				margin-right: 10px;
			}
		}
		.capa{
			display: block;
			padding: 10px 50px 10px 10px;
			color: $gray;
		}
	}
	li:hover * {
		//color:$white !important;
	}
	.manage {

		.n_name{
			color:$orange;
		}
	}
	.active{

		a, a:hover{
			background: $silver;
			color: $grayDarker;
		}
	}
}

.pagination {
	margin: 10px 10px 5px;

	li {
		display: inline-block;
		margin-left: 2px;

		a {
			@extend .bRadiusCircle;
			color: $grayDark;
			padding: 0 !important;
			border: none;
			width: 20px;
			height: 20px;
			//border-radius: 20px !important;
			text-align: center;
			line-height: 20px;

			.fa {
				margin-right: 0 !important;
			}
		}
	}
	li.active {

		a {
			background: $linkColor;
			color: $white;
		}
	}
}

#pageslide {
	/*border-left:1px solid $grayLight; //#ccc
	border-right:1px solid $grayLight; //#ccc*/
	background: $grayLight;
	box-shadow: inset 0px 0px 2px rgba($black, 0.1);
	padding: 0;

	h2 {
		display: inline-block;
		font-size: $baseFontSize;
		line-height: 18px;
		margin: 0;
		padding: 2px 15px 2px 7px;
		background: $grayDarker;
		text-shadow: 0 -1px 0px rgba($black, 0.2);

		.fa {
			margin-right: 7px;
			font-size: $fontSizeSmall;
		}
	}
	ul {
		margin: 0;
		padding: 10px;

		li {
			list-style: none;
			padding: 0;
			margin: 0;

			a {
				display: block;
			}
			a:hover {
				//background:$grayLight; //#ccc
			}
		}
	}
}

.appList {

	li {

		a {
			text-align: center;
			font-size: $fontSizeSmall;
			padding: 10px 0;
			color: $grayDark;
			//text-shadow:0 1px 0px rgba($white, 0.3);

			.icon {
				@extend .bRadiusCircle;
				display: block;
				font-size: 24px;
				width: 45px;
				height: 45px;
				line-height: 43px !important;
				//border-radius: 45px;
				border: 1px solid $gray;
				margin: 0 auto 5px;
			}
		}
		a:hover {
			color: $linkColor;

			.icon {
				border: 1px solid $linkColor;
				background: $linkColor;
				color: $white;
			}
		}
	}
	.active {

		a {
			color: $linkColor;
			background: none !important;

			.icon {
				border: 1px solid $linkColor;
				background: $linkColor;
				color: $white;
			}
		}
	}
}

#messageOpen {
	width: 300px;
	height: 500px;
	background: $white;
	border-top: 1px solid rgba($black, 0.2);
	border-left: 1px solid rgba($black, 0.2);
	border-right: 1px solid rgba($black, 0.2);
	box-shadow: 0px 1px 7px rgba($black, 0.1);
	position: fixed;
	bottom: 0;
	right: 25px;
	z-index: 3;

	iframe {
		width: 100%;
	}

	h3 {
		position: relative;
		margin: 0;
		height: 35px;
		line-height: 35px;
		overflow: hidden;
		background: $white;
		font-size: $baseFontSize;
		text-align: center;
		border-bottom: 1px solid $grayLight;
		color: $grayDark;
		padding: 0 0 0 0;

		a {
			position: absolute;
			top: 0px;
			left: 15px;
		}
	}
	.list {
		height: 400px;

		li {
			//border-bottom:1px solid $grayLight;
			border-top: none;
		}
	}
	#talk .scroll_area {
		height: 365px;
		background: $grayLighter;
	}
	#member .scroll_area {
		height: 400px;
	}
	.nav-tabs {
		height: 28px;
		margin-top: 10px;
		padding: 0 10px;

		li {
			width: 50%;
			text-align: center;

			a {
				@extend .bRadiusNone;
				padding: 0;
				height: 28px;
				line-height: 28px;
				overflow: hidden;
				//border-radius: 0;
			}
		}
		li.active {

			a {
				color: $grayDarker;
			}
		}
	}
	.tab-pane {
		position: relative;
	}
}

body.modal-open #messageOpen {
	right: 42px;
}

#messageOpenBody {
	height: 444px;
	overflow: hidden;

	h3 {
		position: relative;
		margin: 0;
		height: 35px;
		line-height: 35px;
		//overflow:hidden;
		background: $white;
		font-size: $baseFontSize;
		text-align: center;
		border-bottom: 1px solid $grayLight;
		color: $grayDark;
		padding: 0 0 0 0;

		a {
			position: absolute;
			top: 0px;
			left: 15px;
		}
	}
	.list {
		overflow: hidden;

		li {
			//border-bottom:1px solid $grayLight;
			//border-top:none;
			background: $white;

			a {

				.circle {
					@extend .bRadiusCircle;
					display: none;
					position: absolute;
					top: 5px;
					left: 6px;
					height: 10px;
					width: 10px;
					background: $red;
					//border-radius: 10px;
					border: 2px solid $white;
					z-index: 2;
				}
				.cat {
					@extend .ellipsis;
					width: 180px;
					display: block;
				}
			}
			a:hover {
				background: $grayLighter;
			}
		}
		li.active {
			//border-left:1px solid $red;

			a {

				.circle {
					display: block;
				}
			}
		}
		li.online {

			a {

				.circle {
					display: block;
					background: $green;
				}
			}
		}
		li.offline {

			a {

				.circle {
					display: block;
					background: $grayLight; //#ccc
				}
			}
		}
	}
}

#modalRight {
	height: 100%;

	.modalBody {
		padding: 150px 0 0;
		height: 100%;
	}

}

.modal {

	.modal-dialog {

		.modal-content {
			@extend .bRadiusNone;
			//border-radius: 0;

			.modal-header {

				.text {
					width: 85%;
				}
			}
			.modal-body {
				padding: 0;

				.table {
					border-top: none;

					td, th {
						border-top: none;
						border-bottom: 1px solid $grayLighter;
						vertical-align: middle;
					}
					th {
						color: $grayDark;
						font-weight: normal;

						.iconBox {
							display: inline-block;
							width: 18px;
							text-align: center;
							margin-right: 5px;
							font-size: $fontSizeLarge;
						}
					}
				}
				.table:last-child {
					margin-bottom: 0;
				}

			}
			.modal-footer {
				margin: -1px 0 0;
			}
			.text {
				border: 1px solid $grayLight;
				padding: 5px 7px;
			}
			.text:focus {
				border-color: $grayDark;
			}
			textarea.text {
				width: 80%;
			}
			input[type="text"].text {
				width: 80%;
			}
			.select {
				border: 1px solid $grayLight;
				padding: 5px 7px;
			}
			.select:focus {
				border-color: $grayDark;
			}
			.areaBox {
				display: none;
				margin: 10px 0 0;

				.selectBox {
					margin: 0 0 5px;
				}
			}
			.userBox {
				display: none;
				margin: 5px 0 0;

				table {
					width: 80%;
					border: none;
					margin: 0;

					td {
						width: 50%;
						border: none !important;
						padding: 5px 10px 0 0;
					}
				}

				.select {
					width: 100%;
				}
				.select[multiple="multiple"] {
				}
				.right {
					text-align: right;
				}
			}
		}
	}
}

#login {

	#header {
		display: none;

		.logo {
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}
	.loginBox {
		position: relative;
		width: 300px;
		background: $white;
		padding: 30px 20px 20px;
		margin: 18% auto 0;
		@include border-radius(3px);
		//border-radius: 3px;
		box-shadow: 0px 0px 1px rgba($black, 0.1);

		.logo {
			position: absolute;
			text-align: center;
			margin: 0;
			background: $white;
			width: 100px;
			height: 100px;
			@extend .bRadiusCircle;
			//border-radius: 100px;
			padding: 25px;
			left: 100px;
			top: -50px;

			img {
				width: 100%;
			}
		}
		.logo:after {
			content: "";
			position: absolute;
			height: 50px;
			width: 100px;
			@include border-radius(100px 100px 0 0);
			//border-radius: 100px 100px 0 0;
			//-moz-border-radius: 100px 100px 0 0;
			//-webkit-border-radius: 100px 100px 0 0;
			background: rgba($black, 0.1);
			left: 0px;
			top: 0px;
			z-index: -1;
			box-shadow: 0px 0px 1px rgba($black, 0.1);
		}
		.logoText {
			text-align: center;
			padding: 0 50px;
			margin: 20px 0 30px;

			img {
				width: 100%;
			}
		}
		.text {
			width: 100%;
			border: none;
			//border-bottom:1px solid $grayLighter;
			padding: 7px;
			margin: 0 0 10px;
			background: $silver;
		}
		.text:focus {
			background: $white;
		}
		.btnBox {
			padding: 10px 0;

			.btn {
				width: 100%;
			}
		}
	}
	.pw {
		text-align: center;
		padding: 20px 15px 20px 0;

		a {
			display: inline-block;
			padding: 3px 5px;
			@include border-radius(3px);
			//border-radius: 3px;
		}
		a:hover {
			background: $white;
		}
		span {
			display: inline-block;
			padding: 0 10px;
			color: rgba($black, 0.3);
		}
	}
}

.active a {
	background: $silver;
}

/* 全体 */
.jspContainer {
	overflow: hidden;
	position: relative;
}

/* スクロールバーを除いたエリア */
.jspPane {
	position: absolute;
}

/* 縦スクロールバー */
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
}

/* 横スクロールバー */
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
}

/* 背景 */
.jspTrack {
	background: $white;
	position: relative;
}

/* ノブ */
.jspDrag {
	background: rgba($black, 0.4);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}