@charset "utf-8";
// Core variables and mixins
@import "variables";
@import "compass";

//ui
@import"ui";

//apps
@import "apps/bbs";

@mixin borderbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
@mixin fontFamily {
	font:12px/18px "Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;
}

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.clearfix{
@include clearfix;
}
a,a:link{
color:#38B4CE;
}
a{
outline:none !important;
}
a:focus{
outline:none !important;
}
a:hover{
color:#38B4CE;
text-decoration:none;
}
a:active{
color:#38B4CE;
}
.btn:hover, .btn:focus{
color:#38B4CE;
}
:focus {
outline:none;
}

.btn{
font-size:12px;
border:1px solid #38B4CE;
background:#ffffff;
color:#38B4CE;

	.fa.mr5{
	margin-right:5px;
	}
}
.btn-sm, .btn-group-sm > .btn{
font-size:11px;
}
.btn:hover{
border:1px solid #38B4CE;
background:#38B4CE;
color:#fff;
}
.btn[disabled="disabled"]{
background:#dcdcdc;
border:#ccc solid 1px;
color:#666;
}


html{
min-height:100%;
}
body{
@include fontFamily;
color:#1b1b1b;
background:#eeeeee;
}
body.modal-open{
padding-right:17px;
}
#wrapper{
position:relative;
padding:0px 0px 0px 0px;
overflow:hidden;
}
#header{
padding:15px 0px 0;
text-align:center;
/*border-bottom:1px solid #eeeeee;*/
background:#fff;

	.logo{
	display:inline-block;
	margin:0 auto 15px 35px;
	
		a{
		display:inline-block;
		height:35px;
		line-height:35px;
		}
	}
	.appBtn{
	float:left;
	margin-left:15px;
	
		a{
		display:inline-block;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		border:1px solid #38B4CE;
		}
		a:hover{
		background:#38B4CE;
		color:#ffffff;
		}
	}
	.userBtn{
	float:right;
	margin-right:5px;
	
		a.btn{
		display:inline-block;
		height:35px;
		width:35px;
		//line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		border:1px solid #fff;
		overflow:hidden;
		
			img{
			width:100%;
			}
		}
		a.btn:hover{
		background:none;
		border:1px solid #38B4CE;
		}
	}
	.alertBtn{
	float:right;
	margin-right:5px;
	
		a.btn{
		display:inline-block;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		box-shadow:none;
		}
		a.btn:hover{
		background:#38B4CE;
		color:#ffffff;
		}
		a.btn.active{
		border:1px solid #d8271c;
		color:#d8271c;
		}
		a.btn.active:hover{
		background:#d8271c;
		color:#fff;
		}
	}
	.messageBtn{
	float:right;
	margin-right:15px;
	
		a.btn{
		display:inline-block;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:35px;
		text-align:center;
		padding:0;
		box-shadow:none;
		}
		a.btn:hover{
		background:#38B4CE;
		color:#ffffff;
		}
		a.btn.active{
		border:1px solid #d8271c;
		color:#d8271c;
		}
		a.btn.active:hover{
		background:#d8271c;
		color:#fff;
		}
	}
	.fa{
	font-size:14px;
	}
	.nav-tabs{
	background:#fff;
	text-align:center;
	padding:0 15px;

		li{
		
			a{
			text-shadow:0px 1px 0px rgba(255, 255, 255, 1.0);
			}
			a:hover{
			background:none;
			border-bottom:1px solid #38B4CE;
			border-top:1px solid rgba(0, 0, 0, 0.0);
			border-left:1px solid rgba(0, 0, 0, 0.0);
			border-right:1px solid rgba(0, 0, 0, 0.0);
			}
		}
		.fa{
		font-size:14px;
		}
		li.active{
	
			a, a:hover{
			color:#38B4CE;
			background:none;
			border-bottom:1px solid #38B4CE;
			border-top:1px solid rgba(0, 0, 0, 0.0);
			border-left:1px solid rgba(0, 0, 0, 0.0);
			border-right:1px solid rgba(0, 0, 0, 0.0);
			}
		}
		.plus{
		margin-top:5px;
	
			a{
			color:#ccc;
			padding:0px;
			width:28px;
			height:28px;
			line-height:28px;
			border:1px solid rgba(0, 0, 0, 0.0);
			border-radius:28px;
			}
			a:hover{
			color:#38B4CE;
			border:1px solid #38B4CE;
			}
		}
	}
}

#side{
margin:30px 0;

	.nav-stacked{
	
		li{
		
			a{
			border-radius:0;
			padding:7px 15px;
			}
			a:hover{
			background:rgba(0, 0, 0, 0.05);
			}
		}
		.active{
		
			a{
			background:#fff;
			color:#38B4CE;
			}
		}
		.divider{
		background:rgba(0, 0, 0, 0.05);
		height:1px;
		}
	}
}


#main{
padding:0;

	.lay3{
	@include borderbox;
	width:25%;
	float:left;
	}
	.lay6{
	@include borderbox;
	width:50%;
	float:left;
	}
}
.app{
	background:rgba(255, 255, 255, 0.8);
	padding:0;
	margin:15px 0;
	border:1px solid rgba(0, 0, 0, 0.1);
	//border-top:1px solid rgba(0, 0, 0, 0.2);
	
		.appTitle{
		/*margin-bottom:5px;*/
		
			a{
			color:#cccccc;
			//text-shadow:0 -1px 0px rgba(0, 0, 0, 0.1);
			background:rgba(0, 0, 0, 0.8);
			display:inline-block;
			padding:2px 15px 2px 7px;
			font-size:11px;
			}
			a:hover{
			color:#FFFFFF;
			text-decoration:none;
			//background:#38B4CE;
			}
			.fa{
			margin-right:7px;
			}
			.plus{
			padding:2px 6px;
			margin-left:1px;
			background:none;
			color:#ccc;
			
				.fa{
				margin-right:0;
				}
			}
			.plus:hover{
			background:#38B4CE;
			}
		}
}

.detailTitle{
margin:30px 0;

	h1{
	font-size:30px;
	margin:0;
	font-weight:normal;
	display:inline-block;
	color:rgba(0, 0, 0, 0.7);
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.9);

		.fa{
		margin-right:15px;
		}
	}
	.btn{
	float:right;
	background:none;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.9);
	}
	.btn:hover{
	text-shadow:none;
	background:#38B4CE;
	}
	.search{
	float:right;
	margin:20px 0;
	width:20%;
	}
}
.timecard{
	background:center no-repeat;
	background-size:cover;
	//border:1px solid rgba(0, 0, 0, 0.05);
	border:1px solid #fff;
	
		.date{
		text-align:center;
		padding:10px;
		font-size:50px;
		font-weight:bold;
		line-height:40px;
		color:#ffffff;
		text-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
		
			.year{
			display:block;
			font-size:18px;
			font-weight:normal;
			}
		}
		.comment{
		text-align:center;
		color:#ffffff;
		text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
		margin:20px 10px 20px;
		}
		.btnarea{
		padding:0px 10px 30px;
		text-align:center;
		background:-moz-linear-gradient(top,rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		background:-o-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.0)),to(rgba(0,0,0,0.6)));
		background:linear-gradient(top,rgba(0,0,0,0.0),rgba(0,0,0,0.6));
		
			.btn{
			box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
			border:1px solid #38B4CE;
			background:#38B4CE;
			color:#fff;
			}
			.btn:hover{
			background:#fff;
			color:#38B4CE;
			}
		}
}
.list{
margin:0;
padding:0;

	li{
	list-style:none;
	position:relative;
	display:block;
	border-top:1px solid #fff;
	
		a{
		@include ellipsis;
		padding:7px 50px 7px 40px;
		display:block;
		min-height:38px;
		
			.circle{
			display:none;
			position:absolute;
			top:5px;
			left:6px;
			height:10px;
			width:10px;
			background:#D8271C;
			border-radius:10px;
			border:2px solid #fff;
			z-index:2;
			}
		}
		span{
		z-index:1;
		}
		.name{
		display:block;
		font-size:10px;
		color:rgba(0, 0, 0, 0.6);
		}
		.cat{
		display:block;
		font-size:10px;
		color:rgba(0, 0, 0, 0.6);
		}
		.cat_b{
		display:inline-block;
		font-size:10px;
		color:rgba(0, 0, 0, 0.6);
		}
		.date{
		position:absolute;
		top:7px;
		right:10px;
		color:rgba(0, 0, 0, 0.3);
		font-size:11px;
		}
		.title{
		@include ellipsis;
		width:80%;
		position:absolute;
		top:10px;
		text-shadow:0 1px 0px rgba(255, 255, 255, 0.1);
		color:rgba(0, 0, 0, 0.6);
		}
		.title_b{
		display:block;
		margin-bottom:3px;
		}
		.disc{
		color:rgba(0, 0, 0, 0.3);
		font-size:11px;
		margin-left:15px;
		}
		.thumb{
		position:absolute;
		top:7px;
		left:10px;
		width:24px;
		height:24px;
		
			img{
			width:24px;
			height:24px;
			border-radius:24px;
			}
		}
		.attach{
		margin-right:5px;
		color:#000000;
		}
		/*[class*="todo"]*/
		.todo{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:#000000;
		z-index:0;
		}
		.tool{
		display:none;
		position:absolute;
		bottom:0;
		right:10px;
		z-index:2;
		
			li{
			display:inline-block;
			border:none;
			
				a{
				padding:2px 5px;
				min-height:inherit;
				color:rgba(0, 0, 0, 0.3);
				}
				a:hover{
				color:rgba(0, 0, 0, 0.8);
				}
			}
			li:hover{
			background:none;
			}
		}
	}
	li:hover{
	background:#eeeeee;
	text-decoration:none;
	
		.tool{
		display:inherit;
		}
		.title{
		width:40%;
		}
	}
	li.active{
	
		a{
		
			.circle{
			display:block;
			}
		}
	}
	li[class*="todo"]{
	
		.tool{
		bottom:3px;
		}
	}
	li[class*="todo"]:hover{
	
		.date{
		display:none;
		}
	}
	
	.todo-1 .todo{width:10%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e74c3c;} /*.todo-1 .title{color:#c0392b;}*/
	.todo-2 .todo{width:20%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e67e22;} /*.todo-2 .title{color:#d35400;}*/
	.todo-3 .todo{width:30%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #e67e22;} /*.todo-3 .title{color:#d35400;}*/
	.todo-4 .todo{width:40%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #f1c40f;} /*.todo-4 .title{color:#f39c12;}*/
	.todo-5 .todo{width:50%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #f1c40f;} /*.todo-5 .title{color:#f39c12;}*/
	.todo-6 .todo{width:60%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #72cadd;} /*.todo-6 .title{color:#27ae60;}*/
	.todo-7 .todo{width:70%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #72cadd;} /*.todo-7 .title{color:#27ae60;}*/
	.todo-8 .todo{width:80%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-8 .title{color:#16a085;}*/
	.todo-9 .todo{width:90%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-9 .title{color:#16a085;}*/
	.todo-10 .todo{width:100%; background:rgba(255, 255, 255, 0.0); border-bottom:2px solid #38B4CE;} /*.todo-10 .title{color:#2980b9;}*/
}
.list.mail{

	li{
	
		a{
		padding:7px 50px 7px 10px;
		}
	}
}

/* color ***************************************************** */

$color01:#FF0066;
$color02:#0044cc;
$color03:#32b16c;

/* color ***************************************************** */

#schedule{

	.nav-tabs{
	margin:15px 0 0;
	text-align:center;
	
		li{
		width:30%;
		float:none;
		display:inline-block;
		
			a{
			padding:7px 0;
			}
		}
	}
}
.userList{
padding:0;
margin:10px;

	li{
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0 5px 0 0;
	
		a{
		position:relative;
		display:block;
		width:26px;
		height:26px;
		border-radius:26px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		text-align:center;
		//box-shadow:inset 0px 2px 0px rgba(255, 255, 255, 1.0);
		
			.delete{
			display:none;
			}
			.thumb{
			display:block;
			width:24px;
			height:24px;
				
				img{
				width:24px;
				height:24px;
				}
			}
		}
		a:hover{
		
			.delete{
			display:block;
			position:absolute;
			top:3px;
			left:7px;
			color:#fff;
			text-shadow:0 1px 0px rgba(0, 0, 0, 0.2);
			}
			.thumb{
			background:$color01;
			
				img{
				opacity:0.2;
				-moz-opacity:0.2;
				filter:alpha(opacity = 20);
				}
			}
		}
	}
	li.color01 > a{border-color:$color01;}
	li.color02 > a{border-color:$color02;}
	li.color03 > a{border-color:$color03;}
	li.color01 > a:hover > .thumb{background:$color01;}
	li.color02 > a:hover > .thumb{background:$color02;}
	li.color03 > a:hover > .thumb{background:$color03;}
}

.timeSchedule{
height:560px;
overflow-y:scroll;


	ul{
	padding:0;
	margin:0;


		li{
		display:block;
		list-style:none;
		padding:0 10px;
		margin:0;
		color:rgba(0, 0, 0, 0.2);
		font-size:18px;
		height:80px;
		line-height:50px;
		z-index:0;
		background:#eeeeee;
		}
		li:nth-child(even){
		background:#fff;
		}
	}
	.schedule{
	position:absolute;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
	padding:0;
	width:45%;
	border-radius:0 0 3px 3px;
	border-top:1px solid;
	cursor:pointer;
	
		.schedule_inner{
		position:relative;
		}
		a{
		display:block;
		overflow:hidden;
		}
	
		.s_title, .s_time, .s_place, .s_member{@include ellipsis; display:block; font-size:11px; padding:0 5px; color:#1B1B1B;}
		
		.s_title{
		}
		.s_time{
		padding:3px 5px;
		margin-bottom:3px;
		border-bottom:1px solid #eee;
		}
		.s_place{
		color:#666;
		
			.fa{
			margin-right:5px;
			}
		}
		.s_member{
		}
		.tool{
		display:none;
		}
		.tool:hover{
		display:block;
		}
	}
	.schedule:hover{
	
		.tool{
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		background:rgba(0, 0, 0, 0.8);
		color:#fff;
		padding:5px;
		}
	}
	.schedule.color01{border-top-color:$color01;}
	.schedule.color02{border-top-color:$color02;}
	.schedule.color03{border-top-color:$color03;}
	
	.schedule.color01 > a > .s_time{color:$color01;}
	.schedule.color02 > a > .s_time{color:$color02;}
	.schedule.color03 > a > .s_time{color:$color03;}
}
.search{
position:relative;
padding:10px 10px 10px 10px;
border-top:1px solid rgba(0, 0, 0, 0.1);

	input[type="search"]{
	width:100%;
	border:none;
	background:none;
	padding-left:25px;
	}
	.fa{
	position:absolute;
	top:12px;
	left:10px;
	font-size:16px;
	color:#999999;
	}
}

.popover{
width:150px;
border-radius:0px;

	.popover-title{
	background:none;
	padding:3px 7px;
	font-size:11px;
	}
	.popover-content{
	padding:7px;
	
		b{
		display:block;
		margin-bottom:5px;
		}
		.s_place{
		display:block;
		position:relative;
		padding-left:15px;
		color:#666;
		margin-bottom:3px;
		
			.fa{
			position:absolute;
			top:3px;
			left:1px;
			}
		}
		.s_member{
		display:block;
		position:relative;
		padding-left:15px;
		color:#666;
		
			.fa{
			position:absolute;
			top:2px;
			left:0;
			}
		}
	}
	.arrow{
	border-width:6px;
	}
	.arrow:after{
	border-width:5px;
	}
}
.popover.left{

	.arrow{
	margin-top:-6px;
	right:-6px;
	}
	.arrow:after{
	bottom:-5px;
	}
}
.popover.right{

	.arrow{
	margin-top:-6px;
	left:-6px;
	}
	.arrow:after{
	bottom:-5px;
	}
}
.tooltip{
font-size:11px;

	.tooltip-inner{
	padding:7px 10px;
	}
}

#timeline{
background:#fff;
border:1px solid rgba(0, 0, 0, 0.2);
border-top:1px solid #38B4CE;
margin:15px 0;

	.appTitle{
	
		a{
		background:#38B4CE;
		color:#fff;
		}
	}
}
.timelineForm{
	
		textarea{
		width:100%;
		height:100px;
		padding:10px;
		border:none;
		margin:0;
		}
		textarea:focus{
		height:150px;
		}
		.app-form-bottom{
		padding:7px 10px;
		text-align:right;
		border-top:1px dotted #eeeeee;
		
			ul{
			display:inline-block;
			margin:0;
			padding:0;
			float:left;
			text-align:left;
			
				li{
				display:inline-block;
				list-style:none;
				
					a{
					display:block;
					padding:7px 7px;
					
						.fa{
						font-size:16px;
						}
					}
				}
				li.active{
				
					a{
					
						.fa{
						}
					}
				}
			}
		}
}
.timelineList{
margin:0;
padding:0;

	li{
	display:block;
	position:relative;
	padding:15px 15px 15px 68px;
	list-style:none;
	border-top:1px solid #dcdcdc;
	
		.thumb{
		position:absolute;
		top:15px;
		left:10px;
		width:48px;
		height:48px;
		
			img{
			width:48px;
			height:48px;
			border-radius:48px;
			}
		}
		.time{
		position:absolute;
		top:15px;
		right:15px;
		color:#999999;
		font-size:11px;
		}
		.name{
		color:rgba(0, 0, 0, 0.8);
		}
		.body{
		padding:7px 0;
		}
		.foot{
		
			a{
			display:inline-block;
			margin-right:10px;
			color:#cccccc;
			}
			a.active{
			color:#38B4CE;
			}
		}
		.comment{
		margin:20px 0 0;
		padding:0;
		
			li{
			padding:10px 10px 10px 44px;
			border-top:1px dotted #DCDCDC;
			border-bottom:none;
			
				.thumb{
				width:24px;
				height:24px;
				
					img{
					width:24px;
					height:24px;
					border-radius:24px;
					}
				}
			}
		}
		ul{
		
			li{
			
				.time{
				right:0;
				}
			}
		}
	}
/*	li:nth-child(even){
	background:#eeeeee;
	}*/
}
.notice{
	width:300px;
	color:#333333;
	text-align:left;
	font-size:12px;
	border-radius:0;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.1);
	padding:0;
	
		.dropdown-header{
		padding:10px 10px;
		}
		.divider{
		margin:0;
		}
		li{
		
			a{
			position:relative;
			padding:10px 50px 10px 10px;
			
				.n_date{
				position:absolute;
				right:10px;
				top:20px;
				color:#999999;
				font-size:11px;
				}
				.n_name{
				font-size:11px;
				}
				.n_body{
				display:block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color:#666666;
				}
			}
		}
		li:hover *{
		//color:#ffffff !important;
		}
		.n_new{
		border-left:1px solid #ff6600;
		}
	}
.pagination{
		margin:10px 10px 5px;
		
			li{
			display:inline-block;
			margin-left:2px;
			
				a{
				color:#666666;
				padding:0 !important;
				border:none;
				width:20px;
				height:20px;
				border-radius:20px !important;
				text-align:center;
				line-height:20px;
				
				
					.fa{
					margin-right:0 !important;
					}
				}
			}
			li.active{
			
				a{
				background:#38B4CE;
				}
			}
		}

#pageslide{
/*border-left:1px solid #ccc;
border-right:1px solid #ccc;*/
background:#dcdcdc;
box-shadow:inset 0px 0px 2px rgba(0, 0, 0, 0.1);
padding:0;

	h2{
	display:inline-block;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:2px 15px 2px 7px;
	background:#323232;
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.2);
	
		.fa{
		margin-right:7px;
		font-size:10px;
		}
	}
	ul{
	margin:0;
	padding:10px;
	
		li{
		list-style:none;
		padding:0;
		margin:0;
		
			a{
			display:block;
			}
			a:hover{
			//background:#ccc;
			}
		}
	}
}
.appList{

	li{
	
		a{
		text-align:center;
		font-size:10px;
		padding:10px 0;
		color:#777;
		//text-shadow:0 1px 0px rgba(255, 255, 255, 0.3);
		
			.icon{
			display:block;
			font-size:22px;
			width:45px;
			height:45px;
			line-height:43px;
			border-radius:45px;
			border:1px solid #999;
			margin:0 auto 5px;
			}
		}
		a:hover{
		color:#38B4CE;
		
			.icon{
			border:1px solid #38B4CE;
			background:#38B4CE;
			color:#fff;
			}
		}
	}
	.active{
	
		a{
		color:#38B4CE;
		background:none !important;
		
			.icon{
			border:1px solid #38B4CE;
			background:#38B4CE;
			color:#fff;
			}
		}
	}
}
#messageOpen{
width:300px;
height:500px;
background:#fff;
border-top:1px solid rgba(0, 0, 0, 0.2);
border-left:1px solid rgba(0, 0, 0, 0.2);
border-right:1px solid rgba(0, 0, 0, 0.2);
box-shadow:0px 1px 7px rgba(0, 0, 0, 0.1);
position:fixed;
bottom:0;
right:25px;
z-index:3;

	iframe{
	width:100%;
	}
	.appTitle{
	margin-bottom:5px;
		
		a{
		color:#cccccc;
		//text-shadow:0 -1px 0px rgba(0, 0, 0, 0.1);
		background:rgba(0, 0, 0, 0.8);
		display:inline-block;
		padding:2px 15px 2px 7px;
		font-size:11px;
		}
		a:hover{
		color:#FFFFFF;
		text-decoration:none;
		//background:#38B4CE;
		}
		.fa{
		margin-right:7px;
		}
		.plus{
		padding:2px 6px;
		margin-left:1px;
		background:none;
		color:#ccc;
			
			.fa{
			margin-right:0;
			}
		}
		.plus:hover{
		background:#38B4CE;
		}
	}
	h3{
	position:relative;
	margin:0;
	height:35px;
	line-height:35px;
	overflow:hidden;
	background:#fff;
	font-size:12px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	color:#666666;
	padding:0 0 0 0;
	
		a{
		position:absolute;
		top:0px;
		left:15px;
		}
	}
	.list{
	height:400px;
	
		li{
		//border-bottom:1px solid #dcdcdc;
		border-top:none;
		}
	}
	#talk .scroll_area{
	height:365px;
	background:#eee;
	}
	#member .scroll_area{
	height:400px;
	}
	.nav-tabs{
	height:28px;
	padding:0 10px;
	
		li{
		width:50%;
		text-align:center;
		
			a{
			padding:0;
			height:28px;
			line-height:28px;
			overflow:hidden;
			border-radius:0;
			}
		}
		li.active{
		
			a{
			color:#333;
			}
		}
	}
	.tab-pane{
	position:relative;
	}
}
body.modal-open #messageOpen{
right:42px;
}

#messageOpenBody{
height:444px;
overflow:hidden;

	h3{
	position:relative;
	margin:0;
	height:35px;
	line-height:35px;
	//overflow:hidden;
	background:#fff;
	font-size:12px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	color:#666666;
	padding:0 0 0 0;
	
		a{
		position:absolute;
		top:0px;
		left:15px;
		}
	}
	.list{
	overflow:hidden;
	
		li{
		//border-bottom:1px solid #dcdcdc;
		//border-top:none;
		background:#fff;
		
		
			a{
			
				.circle{
				display:none;
				position:absolute;
				top:5px;
				left:6px;
				height:10px;
				width:10px;
				background:#D8271C;
				border-radius:10px;
				border:2px solid #fff;
				z-index:2;
				}
				.cat{
				@include ellipsis;
				width:180px;
				display:block;
				}
			}
			a:hover{
			background:#eee;
			}
		}
		li.active{
		//border-left:1px solid #D8271C;
		
			a{
			
				.circle{
				display:block;
				}
			}
		}
		li.online{
		
			a{
			
				.circle{
				display:block;
				background:#8fc31f;
				}
			}
		}
		li.offline{
		
			a{
			
				.circle{
				display:block;
				background:#ccc;
				}
			}
		}
	}
}
#modalRight{
height:100%;

	.modalBody{
	padding:150px 0 0;
	height:100%;
	}

}
.modal{

	.modal-dialog{
	
		.modal-content{
		border-radius:0;
		
			.modal-header{
			
				.text{
				width:85%;
				}
			}
			.modal-body{
			padding:0;
			
				.table{
				border-top:none;
				
					td,th{
					border-top:none;
					border-bottom:1px solid #eee;
					vertical-align:middle;
					}
					th{
					color:#666;
					font-weight:normal;
					
						.iconBox{
						display:inline-block;
						width:18px;
						text-align:center;
						margin-right:5px;
						font-size:14px;
						}
					}
				}
				.table:last-child{
				margin-bottom:0;
				}
				
			}
			.modal-footer{
			margin:-1px 0 0;
			}
			.text{
			border:1px solid #dcdcdc;
			padding:5px 7px;
			}
			.text:focus{
			border-color:#666;
			}
			textarea.text{
			width:80%;
			}
			input[type="text"].text{
			width:80%;
			}
			.select{
			border:1px solid #dcdcdc;
			padding:5px 7px;
			}
			.select:focus{
			border-color:#666;
			}
			.areaBox{
			display:none;
			margin:10px 0 0;
			
				.selectBox{
				margin:0 0 5px;
				}
			}
			.userBox{
			display:none;
			margin:5px 0 0;
			
				table{
				width:80%;
				border:none;
				margin:0;
				
					td{
					width:50%;
					border:none !important;
					padding:5px 10px 0 0;
					}
				}
			
				.select{
				width:100%;
				}
				.select[multiple="multiple"]{
				}
				.right{
				text-align:right;
				}
			}
		}
	}
}
.messageForm{
position:relative;
padding:5px 60px 5px 5px;
color:#333333;
text-align:right;
background:#fff;
border-top:1px solid #dcdcdc;

	.text{
	border:none;
	width:100%;
	padding:7px;
	margin:0;
	text-align:left;
//	border:1px solid #eee;
	}
	.action{
	position:absolute;
	top:5px;
	right:5px;
	}
}
.messageBody{
height:100%;
padding:150px 5px 5px;

	iframe{
	border:none;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	}
}
.massageBlock{
}
.messageList{
padding:0 !important;

	li{
	display:block;
	position:relative;
	color:#1b1b1b;
	//background:rgba(255, 255, 255, 0.8);
	
		.thumb{
		position:absolute;
		top:5px;
		width:24px;
		height:24px;
		line-height:24px;
		border-radius:24px;
		text-align:center;
		//box-shadow:0px 0px 1px rgba(0, 0, 0, 0.1);
		
			img{
			width:24px;
			height:24px;
			border-radius:24px;
			}
		}
		.body{
		display:block;
		background:rgba(255, 255, 255, 1.0);
		padding:7px 10px;
		box-shadow:0px 0px 1px rgba(0, 0, 0, 0.1);
		
			.name{
			display:block;
			font-size:11px;
			color:#666;
			margin:0 0 3px;
			}
			.date{
			display:block;
			font-size:10px;
			color:rgba(0, 0, 0, 0.3);
			margin:3px 0 0;
			}
			.readList{
			display:inline !important;
			}
		}
	}
	.left{
	padding:5px 10px 5px 42px !important;
	
		.thumb{
		left:7px;
		}
	}
	.right{
	padding:5px 42px 5px 10px !important;
	
		.thumb{
		right:7px;
		}
	}
	.left > .body,
	.right > .body{
	position:relative;
	}
	.left > .body:before{
		content: "";
		position: absolute;
		top: 15px; left: -6px;
		margin-top: -6px;
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 6px 6px 6px 0;
		border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
		z-index: 0;
	}
	.left > .body:after{
		content: "";
		position: absolute;
		top: 15px; left: -6px;
		margin-top: -9px;
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 9px 9px 9px 0;
		border-color: transparent #fff transparent transparent;
		z-index: 0;
	}
	.right > .body:before{
		content: "";
	position: absolute;
	top: 15px; right: -6px;
	margin-top: -6px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
	z-index: 0;
	}
	.right > .body:after{
		content: "";
	position: absolute;
	top: 15px; right: -6px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #fff;
	z-index: 0;
	}
}

#login{

	#header{
	display:none;
	
		.logo{
		margin:0 auto 15px;
		}
	}
	.loginBox{
	position:relative;
	width:300px;
	background:#fff;
	padding:30px 20px 20px;
	margin:18% auto 0;
	border-radius:3px;
	box-shadow:0px 0px 1px rgba(0, 0, 0, 0.1);
	
		.logo{
		position:absolute;
		text-align:center;
		margin:0;
		background:#fff;
		width:100px;
		height:100px;
		border-radius:100px;
		padding:25px;
		left:100px;
		top:-50px;
		
			img{
			width:100%;
			}
		}
		.logo:after{
		content: "";
		position:absolute;
		height:50px;
    	width:100px;
    	border-radius: 100px 100px 0 0;
		-moz-border-radius: 100px 100px 0 0;
		-webkit-border-radius: 100px 100px 0 0;
    	background:rgba(0, 0, 0, 0.1);
		left:0px;
		top:0px;
		z-index:-1;
		box-shadow:0px 0px 1px rgba(0, 0, 0, 0.1);
		}
		.logoText{
		text-align:center;
		padding:0 50px;
		margin:20px 0 30px;
		
			img{
			width:100%;
			}
		}
		.text{
		width:100%;
		border:none;
		//border-bottom:1px solid #eee;
		padding:7px;
		margin:0 0 10px;
		background:#f2f7f8;
		}
		.text:focus{
		background:#fff;
		}
		.btnBox{
		padding:10px 0;
		
			.btn{
			width:100%;
			}
		}
	}
	.pw{
	text-align:center;
	padding:20px 15px 20px 0;
	
		a{
		display:inline-block;
		padding:3px 5px;
		border-radius:3px;
		}
		a:hover{
		background:#fff;
		}
		span{
		display:inline-block;
		padding:0 10px;
		color:rgba(0, 0, 0, 0.3);
		}
	}
}

.active a{background:#f2f7f8;}
.mb5{margin-bottom:5px;}
.mr5{margin-right:5px;}

/* 全体 */
.jspContainer { overflow:hidden; position:relative; }

/* スクロールバーを除いたエリア */
.jspPane { position:absolute; }

/* 縦スクロールバー */
.jspVerticalBar { position:absolute; top:0; right:0; width:5px; height:100%; }

/* 横スクロールバー */
.jspHorizontalBar { position:absolute; bottom:0; left:0; width:100%; height:10px; }

/* 背景 */
.jspTrack { background:#fff; position:relative; }

/* ノブ */
.jspDrag { background:rgba(0, 0, 0, 0.4); position:relative; top:0; left:0; cursor:pointer; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float:left; height:100%; }
