@charset "utf-8";

//####################################################################################################
// auiButton
//----------------------------------------------------------------------------------------------------
.buttonBase {
	@extend .border-box;
	@extend .bRadius3;
	@include inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 5px;
	border: solid 1px $grayBorder;
	cursor: pointer;

	&:hover, &:focus {
		border: solid 1px $gray;
		text-decoration: none;
	}
	&:active {
		@include background-image(none);
		@include filter(none);
		@include box-shadow(inset 0 1px 3px rgba(#000,.2));
	}
}
input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton {
	@extend .buttonBase;
	@include background-image(linear-gradient(top, $white, $grayLight));
	@include filter-gradient($white, $grayLight, vertical);
	@include text-shadow(0 1px 0 rgba($white,1));
	@include box-shadow(inset 0 1px 3px rgba($white,.5));

	&:active {
		background-color: $grayLight;
		border: solid 1px $gray;
	}
}

.auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction {
	@extend .buttonBase;
	@include background-image(linear-gradient(top, lighten($orange,10), adjust-hue($orange, -10deg)));
	@include filter-gradient(lighten($orange,10), adjust-hue($orange, -10deg), vertical);
	@include text-shadow(0 -1px 0 rgba(#000,.2));
	@include box-shadow(inset 0 1px 3px rgba($white,.3));
	color: $white;
	border: solid 1px $orange !important;

	&:hover, &:focus {
		border: solid 1px $red !important;
	}
	&:active {
		background-color: adjust-hue($orange, -10deg);
		border: solid 1px $red !important;
	}
}

.auiButtonBold,
input[type=submit].auiButtonBold,
input[type=button].auiButtonBold,
input[type=reset].auiButtonBold,
button.auiButtonBold {
	@extend .buttonBase;
}

.auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
	@extend .buttonBase;
}

.auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled {
	@extend .buttonBase;
	background-color: $grayLighter;
	color: $gray;
	cursor: default;

	&:hover, &:focus, &:active {
		border: solid 1px $grayBorder;
		@include box-shadow(none);
	}
}

.auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon {
	@extend .buttonBase;
}

.auiButtonDummy,
input[type=submit].auiButtonDummy,
input[type=button].auiButtonDummy,
input[type=reset].auiButtonDummy,
button.auiButtonDummy {
	@extend .buttonBase;
}

.auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy {
	@extend .buttonBase;
}

.auiSelectButton a,
.auiWidget .auiSelectButton a {
	@extend .auiButton;
}

