@charset "utf-8";

// HTML reset style

body {
	margin: 0;
	font-family: $baseFontFamily;
	font-size: 12px;
	//background-color: $grayBackLight;
	background-color: $white;
}

p {
	margin: 5px 0;
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	border: none;
}

// box
div {
}

// List
ul,ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

// table
table, th, td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}

// form
form, input, button {
	font-size: 12px;
	@extend .border-box;
	outline: none;
}
input, button {
	font-family: $baseFontFamily;
	margin: 0;
}
input[type=text],
textarea {
	@extend .bRadiusM;
	@extend .border-box;
	border: solid 1px $grayBorder;

	&:hover {
		border: solid 1px $gray;
	}
}
input[type=text],
input[type=password] {
	height: $inputHeight;
}