@charset "utf-8";

// extend class
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.inline-block {
	@include inline-block();
}
.border-box {
	@include box-sizing(border-box);
}
.bRadiusNone {
	@include border-radius(0);
}
.bRadiusS {
	@include border-radius(2px);
}
.bRadiusM {
	@include border-radius(3px);
}
.bRadiusCircle {
	@include border-radius(50%);
}
.ellipsis {
	@include ellipsis;
}
.transition01 {
	@include transition(.1s);
}
.transition02 {
	@include transition(.2s);
}

.scrollDecoration {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background: $grayHightLight;
	}
	&::-webkit-scrollbar-piece {
		background:$grayLighter;
	}
	&::-webkit-scrollbar-thumb {
		background:$grayLight;
	}

	scrollbar-face-color: $grayLight;
	scrollbar-track-color: $grayHightLight;
	scrollbar-arrow-color: $grayLight;
	//scrollbar-highlight-color: $grayLight;
	scrollbar-shadow-color: $grayLight;
	//scrollbar-3dlight-color: $grayLight;
	//scrollbar-darkshadow-color: #f00;
}

.circleBtn {
	@extend .bRadiusCircle;
	display: inline-block;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0;
}