@charset "utf-8";

/***************************************************
	auiButton
--------------------------------------------------
input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiButtonAction,
.auiButtonBold,
.auiButtonSearch,
.auiButtonSmall,
.auiButtonDisabled,
.auiButtonIcon,
.auiButtonDummy,
.auiButtonIconDummy,
.auiSelectButton a,
.auiWidget .auiSelectButton a {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: $grayHightLight;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border: 1px solid $grayBorder;
	border-color: $grayBorder $grayBorder $grayBorderDark;
	//border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	@extend .bRadius4;
	*zoom: 1;
	white-space:nowrap;
	text-decoration:none;
	@include box-sizing(content-box);
}
@-moz-document url-prefix() {//Fx
	input[type=submit],
	input[type=button],
	input[type=reset],
	button {
		padding: 0 6px !important;
	}
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
input[type=submit].active,
input[type=button]:hover,
input[type=button]:focus,
input[type=button]:active,
input[type=button].active,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=reset]:active,
input[type=reset].active,
button:hover,
button:focus,
button:active,
button.active,
.auiButton:hover,
.auiButton:focus,
.auiButton:active,
.auiButton.active,
.auiButtonAction:hover,
.auiButtonAction:focus,
.auiButtonAction:active,
.auiButtonAction.active,
.auiButtonBold:hover,
.auiButtonBold:focus,
.auiButtonBold:active,
.auiButtonBold.active,
.auiButtonSearch:hover,
.auiButtonSearch:focus,
.auiButtonSearch:active,
.auiButtonSearch.active,
.auiButtonSmall:hover,
.auiButtonSmall:focus,
.auiButtonSmall:active,
.auiButtonSmall.active,
.auiButtonDisabled:hover,
.auiButtonDisabled:focus,
.auiButtonDisabled:active,
.auiButtonDisabled.active,
.auiButtonIcon:hover,
.auiButtonIcon:focus,
.auiButtonIcon:active,
.auiButtonIcon.active,
.auiSelectButton a:hover,
.auiSelectButton a:focus,
.auiSelectButton a:active {
	color: #333333;
	background-color: #e6e6e6;
}

input[type=submit]:active,
input[type=submit].active,
input[type=button]:active,
input[type=button].active,
input[type=reset]:active,
input[type=reset].active,
button:active,
button.active,
.auiButton:active,
.auiButton.active,
.auiButtonAction:active,
.auiButtonAction.active,
.auiButtonBold:active,
.auiButtonBold.active,
.auiButtonSearch:active,
.auiButtonSearch.active,
.auiButtonSmall:active,
.auiButtonSmall.active,
.auiButtonDisabled:active,
.auiButtonDisabled.active,
.auiButtonIcon:active,
.auiButtonIcon.active,
.auiSelectButton a:active {
	background-color: #cccccc \9;
}

input[type=submit]:first-child,
input[type=button]:first-child,
input[type=reset]:first-child,
button:first-child,
.auiButton:first-child,
.auiButtonAction:first-child,
.auiButtonBold:first-child,
.auiButtonSearch:first-child,
.auiButtonSmall:first-child,
.auiButtonDisabled:first-child,
.auiButtonIcon:first-child,
.auiButtonDummy:first-child,
.auiButtonIconDummy:first-child,
.auiSelectButton a:first-child {
	*margin-left: 0;
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
button:hover,
button:focus,
.auiButton:hover,
.auiButton:focus,
.auiButtonAction:hover,
.auiButtonAction:focus,
.auiButtonBold:hover,
.auiButtonBold:focus,
.auiButtonSearch:hover,
.auiButtonSearch:focus,
.auiButtonSmall:hover,
.auiButtonSmall:focus,
.auiButtonDisabled:hover,
.auiButtonDisabled:focus,
.auiButtonIcon:hover,
.auiButtonIcon:focus,
.auiSelectButton a:hover,
.auiSelectButton a:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
button:focus,
.auiButton:focus,
.auiButtonAction:focus,
.auiButtonBold:focus,
.auiButtonSearch:focus,
.auiButtonSmall:focus,
.auiButtonDisabled:focus,
.auiButtonIcon:focus,
.auiSelectButton a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

input[type=submit]:active,
input[type=submit].active,
input[type=button]:active,
input[type=button].active,
input[type=reset]:active,
input[type=reset].active,
button:active,
button.active,
.auiButton:active,
.auiButton.active,
.auiButtonAction:active,
.auiButtonAction.active,
.auiButtonBold:active,
.auiButtonBold.active,
.auiButtonSearch:active,
.auiButtonSearch.active,
.auiButtonSmall:active,
.auiButtonSmall.active,
.auiButtonDisabled:active,
.auiButtonDisabled.active,
.auiButtonIcon:active,
.auiButtonIcon.active,
.auiSelectButton a:active {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	outline: 0;
	@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15));
}

.auiButton,
.auiButtonAction,
.auiButtonBold,
.auiButtonDisabled,
.auiButtonIcon,
.auiButtonDummy,
.auiButtonIconDummy,
.auiButtonSearch,
.auiSelectButton a,
input[type=submit],
input[type=button],
input[type=reset],
button {
	height:$inputHeight;
	line-height:$inputHeight;
	padding:0 8px;
}

input[type=submit],
input[type=button],
input[type=reset],
button {
	@include box-sizing(content-box);
}
*:first-child+html input[type=submit],
*:first-child+html input[type=button],
*:first-child+html input[type=reset],
*:first-child+html button {
	height:$inputHeight + 2;
	line-height:$inputHeight - 4;
}

button.auiButton,
button {
	padding:0 0.55em;
}

.auiButtonSmall {
	padding:0 5px;
	height:16px !important;
	line-height:16px !important;
	font-size:10px;
}
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
	line-height:1em !important;
}

auiButtonAction
.auiButtonAction,
input.auiButtonAction {
	color: #ffffff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffb133;
	@include gradient-vertical(#ffb133,#f37318);
	background-repeat: repeat-x;
	border-color: #f39600 #e15e04 #e15e04;
	*background-color: #f37318;
	*border: 1px solid #e15e04;
}

.auiButtonAction:hover,
.auiButtonAction:focus,
.auiButtonAction:active,
.auiButtonAction.active,
input.auiButtonAction:hover,
input.auiButtonAction:focus,
input.auiButtonAction:active,
input.auiButtonAction.active {
	color: #ffffff;
	background-color: #f37318;
	*background-color: #f37318;
}

.auiButtonAction:active,
.auiButtonAction.active {
	background-color: #c67605 \9;
}

auiButtonDisabled
.auiButtonDisabled,
.auiButtonDisabled:hover,
.auiButtonDisabled:active,
input[disabled],
input[disabled]:hover,
input[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active {
	color:$gray;
	background-image: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	background-color:$grayBack;
	border:solid 1px $grayBorder;
	cursor: default;
	@include box-shadow(none);
	text-shadow:0 1px 0 $white;
}

auiButtonSearch
.auiButtonSearch,
input.auiButtonSearch {
	background-color: #d0d0d0;
	@include gradient-vertical(#eeeeee,#d0d0d0);
	background-repeat: repeat-x;
}

.auiButtonSearch:hover,
.auiButtonSearch:focus,
.auiButtonSearch:active,
.auiButtonSearch.active,
input.auiButtonSearch:hover,
input.auiButtonSearch:focus,
input.auiButtonSearch:active,
input.auiButtonSearch.active {
	background-color: #d0d0d0;
}

.auiButtonSearch:active,
.auiButtonSearch.active {
	background-color: #c0c0c0 \9;
}


.auiButton span {
	display:table-cell;
	min-width:$inputHeight - 10;
	height:$inputHeight;
	line-height:$inputHeight;
	text-align:center;
	vertical-align:middle;
}
.auiButton i {
	color:#333333;
}
.auiButtonSmall span {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.auiButton img,
.auiButtonSmall img {
	display:inline;
	vertical-align:middle;
}
auiButtonIcon
.auiButtonIcon,
.auiButtonIconDummy, {
	width:16px;
	height:16px;
	line-height: 16px;
	padding:3px !important;
	//font-size:14px;
	color:lighten($grayDark,20) !important;

	&:hover i {
		color:lighten($grayDark,20) !important;
	}
	span {
		display:table-cell;
		width:16px;
		height:16px;
		line-height:16px;
		text-align:center;
		vertical-align:middle;
	}
	span,
	i {
		cursor:pointer;
		vertical-align:baseline;
	}
	[class^=auiButton],
	[class^=icon-] {
		font-size:14px;
	}
}
[class^="auiButton"] {
	[class^="icon-"] {
		line-height: 16px;
	}
	.icon-remove {
		font-size:15px !important;
		line-height: 15px !important;
	}
}

.auiButtonDummy,
.auiButtonDummy span,
.auiButtonDummy i,
.auiButtonIconDummy,
.auiButtonIconDummy span,
.auiButtonIconDummy i {
	cursor: default !important;
}
*/

/***************************************************
	auiSelectButton
--------------------------------------------------
.auiSelectButton {
	background:#fff;

	ul {
		display:inline;
	}
	li,
	div {
		float:left;
		background:none;
		padding:0;
		line-height:1;
	}
	a,
	.auiWidget & a {
		display:block;
		margin:0 -1px;
		padding:0 !important;
		line-height:$inputHeight;
		min-width:$inputHeight - 3;
		@include border-radius(0);
		border-color: $grayBorder $grayBorder $grayBorderDark;
	}
	a {
		[class*=icon-] {
			line-height: 30px;
		}
		.icon-backward,
		.icon-forward {
			font-size: 10px;
		}
		.icon-backward {
			margin-right:2px;
		}
		.icon-forward {
			margin-left:1px;
		}
	}
	a.first,
	a.btn {
		margin-left:0;
		@include border-top-left-radius(4px);
		@include border-bottom-left-radius(4px);
	}
	a.last,
	a.btn {
		margin-right:0;
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
	}
	a:hover span {
		color:#333333;
	}
	span i,
	span img {
		margin:6px 0;
	}
	.active {
		a {
			background:$grayLight;
			border-color:$grayLight $grayLight $grayBorderDark;
			cursor:default;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
		}
		a:focus,
		a:active {
			@include box-shadow(none);
		}
		a:hover span {
			cursor:default;
		}
	}
	.auiIconArrowLeft {
		margin-left:-4px !important;
	}
	.auiWidget & span {
		padding:0;
		background-image:none;
	}
}
*/


/***************************************************
	auiButton (v2)
--------------------------------------------------*/
input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiButtonAction,
.auiButtonBold,
.auiButtonSearch,
.auiButtonSmall,
.auiButtonDisabled,
.auiButtonIcon,
.auiButtonDummy,
.auiButtonIconDummy,
.auiSelectButton a,
.auiSelectButtonSmall a,
.auiWidget .auiSelectButton a,
.auiWidget .auiSelectButtonSmall a {
	display: inline-block;
	height: $inputHeight+2;
	line-height: $inputHeight+2;
	margin: 0;
	padding: 0 8px;
	color: $textColor;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-color: $grayHightLight;
	@include background-image(linear-gradient(top, $white, $grayBack));
	@include filter-gradient($white, $grayBack, vertical);
	@include text-shadow(0 1px 0 rgba($white,.5));
	border: solid 1px $grayBorder;
	border-bottom-color: #b3b3b3;
	white-space:nowrap;
	vertical-align: middle;
	@include border-radius(4px);
	@include box-sizing(border-box !important);
	&:hover, &:focus, &:active, &.active {
		border: solid 1px $gray;
		color: $textColor;
		text-decoration: none;
	}
	&:active {
		@include background-image(none !important);
		@include filter(none !important);
		@include box-shadow(inset 0 1px 3px rgba(#000,.2) !important);
		background-color: $grayBackDark !important;
	}
	&:hover, &:focus {
		border: solid 1px $gray;
		color: $textColor;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	span {
		height: $inputHeight;
		line-height: $inputHeight;
		text-align: center;
		vertical-align: middle;
	}
}
@-moz-document url-prefix() {/*Fx*/
	input[type=submit],
	input[type=button],
	input[type=reset],
	button {
		padding: 0 6px !important;
	}
  input[type=submit],
  input[type=button],
  input[type=reset],
  button,
  .auiButton,
  .auiButtonAction,
  .auiButtonBold,
  .auiButtonSearch,
  .auiButtonSmall,
  .auiButtonDisabled,
  .auiButtonIcon,
  .auiButtonDummy,
  .auiButtonIconDummy,
  .auiSelectButton a,
  .auiSelectButtonSmall a,
  .auiWidget .auiSelectButton a,
  .auiWidget .auiSelectButtonSmall a {
	line-height: -moz-block-height;
  }
}

*:first-child+html input[type=submit],
*:first-child+html input[type=button],
*:first-child+html input[type=reset],
*:first-child+html button {
	height:$inputHeight + 2;
	line-height:$inputHeight - 4;
}

button.auiButton,
button {
	padding:0 0.55em;
}

.auiButtonSmall {
	padding: 0 5px;
	height: 24px !important;
	line-height: 24px !important;
	font-size: $fontSizeSmall;
}
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
	line-height:1em !important;
}

.auiButtonAction,
input.auiButtonAction {
	background-color: $orange;
	@include background-image(linear-gradient(top, lighten($orange,5), adjust-hue($orange, -5deg)));
	@include filter-gradient(lighten($orange,5), adjust-hue($orange, -5deg), vertical);
	@include text-shadow(0 -1px 0 rgba(#000,.2));
	color: $white;
	border: solid 1px darken($orange,5) !important;

	&:hover, &:focus {
		color: $white;
		border: solid 1px darken($orange, 25) !important;
	}
	&:active {
		background-color: adjust-hue($orange, -10deg) !important;
		border: solid 1px darken($orange, 25) !important;
	}
	.fa, [class*="icon-"], [class^="icon-"] {
		color: $white;
	}
}

.auiButtonDisabled,
.auiButtonDisabled:hover,
.auiButtonDisabled:active,
input[disabled],
input[disabled]:hover,
input[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active {
	color: $gray !important;
	background-image: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	background-color: $grayLighter !important;
	border:solid 1px $grayBorder !important;
	cursor: default;
	@include box-shadow(none !important);
	text-shadow:0 1px 0 $white;
}

.auiButton span {
	display:table-cell;
	min-width:$inputHeight - 10;
	height:$inputHeight;
	line-height:$inputHeight;
	text-align:center;
	vertical-align:middle;
}
.auiButton i {
	color:#333333;
}
.auiButtonSmall span {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.auiButton img,
.auiButtonSmall img {
	display:inline;
	vertical-align:middle;
}

.auiButtonIcon,
.auiButtonIconDummy, {
	min-width: 24px;
	height: 24px;
	line-height: 24px;
	padding: 3px;

	span {
		display: table-cell;
		min-width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		cursor:pointer;
		vertical-align:baseline;
	}
	[class*="icon-"] {
		display: inline-block;
		color: #666;
		width: 16px;
		height: 16px;
		line-height: 16px;
	}
}
[class^="auiButton"] {
	[class^="icon-"] {
		line-height: 16px;
	}
	.icon-remove {
		font-size: 15px !important;
		line-height: 15px !important;
	}
}

.auiButtonIcon{

  &.file{
	height: 32px;
	line-height: 32px;
	padding: 0;
	background: $grayBackLight;
	border: none;
	//border-radius: 0;

	span {
	  display: block;
	  line-height: 32px;
	  height: 32px;
	  //width: 100%;

	  i {
		line-height: 32px;
		font-size: 18px;
		color: $gray;
	  }
	}
  }
}

.auiButtonDummy,
.auiButtonDummy span,
.auiButtonDummy i,
.auiButtonIconDummy,
.auiButtonIconDummy span,
.auiButtonIconDummy i {
	cursor: default !important;
}

/***************************************************
	auiSelectButton
--------------------------------------------------*/
.auiSelectButton,
.auiSelectButtonSmall {
	background:#fff;

	ul {
		display:inline;
	}
	li,
	div {
		float:left;
		background:none;
		padding:0;
		line-height:1;
	}
	a,
	.auiWidget & a {
		display:block;
		margin:0 -1px;
		padding:0 !important;
		line-height:$inputHeight;
		min-width:$inputHeight - 3;
		@include border-radius(0);
		border-color: $grayBorder $grayBorder $grayBorderDark;
	}
	a {
		[class*=icon-] {
			line-height: 30px;
		}
		.icon-backward,
		.icon-forward {
			font-size: 10px;
		}
		.icon-backward {
			margin-right:2px;
		}
		.icon-forward {
			margin-left:1px;
		}
	}
	a:hover, a:active, a:focus {
		position: relative;
		text-decoration: none;
	}
	a.first,
	a.btn {
		margin-left:0;
		@include border-top-left-radius(4px);
		@include border-bottom-left-radius(4px);
	}
	a.last,
	a.btn {
		margin-right:0;
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
	}
	a:hover span {
		color:#333333;
		text-decoration: none;
	}
	span i,
	span img {
		margin:6px 0;
	}
	.active {
		a {
			background:$grayLight;
			border-color:$grayLight $grayLight $grayBorderDark;
			cursor:default;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
		}
		a:focus,
		a:active {
			@include box-shadow(none !important);
		}
		a:hover span {
			cursor:default;
		}
	}
	.auiIconArrowLeft {
		margin-left:-4px !important;
	}
	.auiWidget & span {
		padding:0;
		background-image:none;
	}
	.count {
		line-height: $inputHeight;
	}
}
.auiSelectButtonSmall {
	a,
	.auiWidget & a {
		height: 24px;
		line-height: 24px;
		min-width: 24px;
	}
	a {
		[class*=icon-] {
			line-height: 22px;
		}
	}
}


//####################################################################################################
// auiButton (v2-old)
//----------------------------------------------------------------------------------------------------
/*
.buttonBase {
	@extend .border-box;
	@extend .bRadius4;
	display: inline-block;//@include inline-block;
	height: $inputHeight+2;
	line-height: $inputHeight+2;
	padding: 0 8px;
	border: solid 1px $grayBorder;
	cursor: pointer;
	color: $textColor;
	text-decoration: none;
	text-align: center;
	background-color: $white;

	&:hover, &:focus {
		border: solid 1px $gray;
		color: $textColor;
		text-decoration: none;
	}
	&:active {
		@include background-image(none !important);
		@include filter(none !important);
		@include box-shadow(inset 0 1px 3px rgba(#000,.2) !important);
		background-color: $grayBackDark !important;
	}
	span {
		display: table-cell;
		//min-width: $inputHeight;
		height: $inputHeight;
		line-height: $inputHeight;
		text-align: center;
		vertical-align: middle;
	}
	.fa, [class*="icon-"], [class^="icon-"] {
		//color: $gray;
		cursor: pointer;
	}
}
input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiButtonBold,
input[type=submit].auiButtonBold,
input[type=button].auiButtonBold,
input[type=reset].auiButtonBold,
button.auiButtonBold,
.auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon {
	@extend .buttonBase;
	@include background-image(linear-gradient(top, $white, $grayBack));
	@include filter-gradient($white, $grayBack, vertical);
	@include text-shadow(0 1px 0 rgba($white,.5));
	//@include box-shadow(inset 0 1px 3px rgba($white,.5));

	&:active {
		background-color: $grayLight;
		border: solid 1px $gray;
	}
}

.auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction {
	@extend .buttonBase;
	@include background-image(linear-gradient(top, lighten($orange,5), adjust-hue($orange, -5deg)));
	@include filter-gradient(lighten($orange,5), adjust-hue($orange, -5deg), vertical);
	@include text-shadow(0 -1px 0 rgba(#000,.2));
	color: $white;
	border: solid 1px darken($orange,5) !important;

	&:hover, &:focus {
		color: $white;
		border: solid 1px darken($orange, 25) !important;
	}
	&:active {
		background-color: adjust-hue($orange, -10deg) !important;
		border: solid 1px darken($orange, 25) !important;
	}
	.fa, [class*="icon-"], [class^="icon-"] {
		color: $white;
	}
}

.auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
	@extend .buttonBase;
	font-size: 10px;
	height: 24px;
	line-height: 24px;
	@include background-image(linear-gradient(top, $white, $grayBack));
	@include filter-gradient($white, $grayBack, vertical);
	@include text-shadow(0 1px 0 rgba($white,.5));
	@include box-shadow(inset 0 1px 3px rgba($white,.5));
}

.auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon,
.auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy {
	min-width: 24px;
	height: 24px;
	line-height: 24px;
	padding: 3px;
	span {
		display: table-cell;
		min-width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
	}
	[class*="icon-"] {
		display: inline-block;
		color: #666;
		width: 16px;
		height: 16px;
		line-height: 16px;
	}
}

.auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled {
	@extend .buttonBase;
	background-color: $grayLighter;
	color: $gray;
	cursor: default;

	&:hover, &:focus, &:active {
		color: $gray;
		border: solid 1px $grayBorder;
		background-color: $grayLighter !important;
		@include box-shadow(none !important);
	}
}

.auiButtonDummy,
input[type=submit].auiButtonDummy,
input[type=button].auiButtonDummy,
input[type=reset].auiButtonDummy,
button.auiButtonDummy {
	@extend .buttonBase;
}

.auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy {
	@extend .buttonBase;
}
*/
//.auiSelectButton a,
//.auiWidget .auiSelectButton a,
//.auiSelectButtonSmall a,
//.auiWidget .auiSelectButtonSmall a {
//	@extend .auiButton;
//	span {
//		display: block;
//	}
//}

/***************************************************
	auiSelectButton
--------------------------------------------------
.auiSelectButton,
.auiSelectButtonSmall {
	background:#fff;

	ul {
		@extend .inline-block;
	}
	li,
	div {
		float:left;
		background:none;
		padding:0;
		line-height:1;
	}
	a,
	.auiWidget & a {
		@extend .auiButton;
		display:block;
		margin:0 -1px 0 0;
		padding:0 !important;
		line-height:$inputHeight;
		min-width:$inputHeight - 3;
		@include border-radius(0);
		border-color: $grayBorder $grayBorder $grayBorderDark;
		span {
			display: block;
		}
	}
	a {
		[class*=icon-] {
			line-height: $inputHeight;
		}
		.icon-backward,
		.icon-forward {
			font-size: 10px;
		}
		.icon-backward {
			margin-right:2px;
		}
		.icon-forward {
			margin-left:1px;
		}
	}
	a:hover, a:active, a:focus {
		position: relative;

		span {
			color:$textColor;
		}
	}
	a:active {
		background-color: $grayBackDark !important;
	}
	a.first,
	a.btn {
		margin-left:0;
		@include border-top-left-radius(3px);
		@include border-bottom-left-radius(3px);
	}
	a.last {
		&:hover:after {
			display: none;
		}
	}
	a.last,
	a.btn {
		margin-right:0;
		@include border-top-right-radius(3px);
		@include border-bottom-right-radius(3px);
	}
	span i,
	span img {
		margin:6px 0;
	}
	.active {
		a {
			background:$grayLight;
			border-color:$grayLight $grayLight $grayBorderDark;
			cursor:default;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
		}
		a:focus,
		a:active {
			@include box-shadow(none !important);
		}
		a:hover span {
			cursor:default;
		}
	}
	.auiIconArrowLeft {
		margin-left:-4px !important;
	}
	.auiWidget & span {
		padding:0;
		background-image:none;
	}
	.count {
		line-height: $inputHeight;
	}
}
.auiSelectButtonSmall {
	a,
	.auiWidget & a {
		height: 24px;
		line-height: 24px;
		font-size: 10px;
		[class*=icon-] {
			line-height: 24px;
		}
	}
}
.selectCount {
	display: inline-block;
	line-height: 100%;
}
*/
