@charset "utf-8";

/***************************************************
	auiHeader
--------------------------------------------------*/
$headerHeight:60px;
#auiHeader {
	position: fixed;
	width: 100%;
	min-width: $layoutMinWidth;
	@extend .clearfix;
	@extend .border-box;
	padding: 0 0 0 10px;
	background-color: $white;
	border-bottom: solid 1px $grayLight;
	z-index: $zindex-auiHeader;
	a {
		@extend .border-box;
	}
	ul {
		li {
			padding: 0;
			background-image: none;
		}
	}
}
.hdLogo {
	float: left;
	a {
		display: inline-block;
		padding: 15px 10px;
	}
}
.hdPages {
	float: left;
	padding-left: 20px;
	> ul {
		@extend .clearfix;
		> li {
			position: relative;
			display: block;
			float: left;

			> a {
				display: block;
				float: left;
				line-height: $headerHeight;
				padding: 0 20px;
				color: $grayLight;
				//font-size: $fontSizeSmall;
				text-decoration: none;
				[class*=icon-] {
					color: $grayLight;
				}
				&:hover {
					color: $textColor;
					text-decoration: none;
					[class*=icon-] {
						color: $textColor;
					}
				}
			}
			[class^="icon-"], [class*=" icon-"] {
				line-height: $headerHeight;
			}

			&:hover {
				a.setting {
					display: block;
				}
			}
		}
	}
	a.name {
		@extend .ellipsis;
		max-width: 12em;
		//font-size: $fontSizeSmall;
	}
	a.setting {
		//display: none;
		position: absolute;
		right: 0;
		width: 16px;
		padding: 0;
		text-align: center;
		&.active {
			//display: block;
			[class*=icon-] {
				color: $textColor;
			}
		}
	}
	a.plus {
		padding: 0 15px;
		[class*=icon-] {
			color: $grayLight;
		}
	}
	.current {
		position: relative;
		&:after {
			position: absolute;
			display: block;
			content: "";
			//width: 12px;
			//height: 12px;
			//bottom: -7px;
			//left: 50%;
			//margin-left: -6px;
			//background-color: $white;
			//border: solid 1px $grayBorder;
			//border-right: none;
			//border-bottom: none;
			//@include transform(rotate(45deg));
			bottom: -1px;
			width: 100%;
			height: 1px;
			background-color: $textColor;
		}
		a {
			color: $textColor;
		}
	}
}

.hdNavigation {
	position: absolute;
	right: 10px;
	//font-size: $fontSizeSmall;
	background: $white;

	> ul {
		@extend .clearfix;
		float: left;
		> li {
			display: block;
			//position: relative !important; //Fx
			float: left;
			list-style: none;
			line-height: $headerHeight;

			&:hover {
				//background-color: $grayBack;
				//.dropdown {
				//	display: block;
				//}
			}

			> a {
				position: relative;
				display: block !important;
				height: $headerHeight;
				padding: 0 10px;
				min-width: $headerHeight - 10;
				text-align: center;
				text-decoration: none;
				color: $gray;
				border-top: solid 1px transparent;
				border-right: solid 1px transparent;
				border-left: solid 1px transparent;
				@include border-radius(3px 3px 0 0);

				[class^="icon-"], [class*=" icon-"] {
					line-height: $headerHeight;
					vertical-align: middle;
					font-size: 18px;
					color: $grayLight;
				}
				[class*="sprite-"] {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}
				&:hover {
					text-decoration: none;
					[class^="icon-"], [class*=" icon-"] {
						color: $grayDark;
					}
				}
				&.active {
					position: relative;
					border-top: solid 1px $grayBorderDark;
					border-right: solid 1px $grayBorderDark;
					border-left: solid 1px $grayBorderDark;
					background-color: $white;
					//@extend .popupShadow;
					[class^="icon-"], [class*=" icon-"] {
						color: $grayDark;
					}
					&:before {
						position: absolute;
						bottom: -1px;
						right: 0;
						display: block;
						content: "";
						width: 100%;
						height: 1px;
						background-color: $white;
						z-index: $zindex-dropdown + 1;
					}
				}
			}
		}
	}
	//.icon-caret-down {
	//	font-size: 10px !important;
	//}
}
.search {
	position: relative;
	@extend .bRadius3;
	border: solid 1px $grayBorder;
	background-color: $white;

	&:hover {
		border: solid 1px $gray;
	}
	input[type=text], .submit {
		height: $inputHeight;//20px;
		border: none;
		vertical-align: middle;
		outline: none;
	}
	input[type=text] {
		width: 100%;
		padding: 0 30px 0 3px;
		&:hover, &:focus {
			border: none;
			@include box-shadow(none);
		}
	}
	.submit {
		position: absolute;
		top: 0;
		right: 0;
		//height: $headerHeight - 20 - 2;
		margin: 0;
		padding: 0;
		background: none;
		filter: none;
		cursor: pointer;
		//border-left: solid 1px $grayBorderLight;
		@include border-left-radius(0);

		[class^="icon-"], [class*=" icon-"] {
			display: block;
			width: 30px;
			color: $gray;
		}

		&:hover {
			//background-color: $grayBackLight;
			[class^="icon-"], [class*=" icon-"] {
				color: $textColor;
			}
		}
	}
	.placeholder {
		top: 7px !important;
		line-height: 1.6;
	}
}
.hdSearch {
	position: relative;
	float: left;
	margin: 10px;

	form {
		@extend .bRadius3;
		border: solid 1px $grayBorder;
		background-color: $white;

		&:hover {
			border: solid 1px $gray;
		}
	}

	input[type=text], .submit {
		height: 20px;
		border: none;
		vertical-align: middle;
		outline: none;
	}
	input[type=text] {
		width: 160px;
		margin: 0 3px;
		&:hover, &:focus {
			border: none;
			@include box-shadow(none);
		}
	}
	.submit {
		height: $headerHeight - 20 - 2;
		margin: 0;
		padding: 0;
		background: none;
		filter: none;
		cursor: pointer;
		border-left: solid 1px $grayBorderLight;
		@include border-left-radius(0);

		[class^="icon-"], [class*=" icon-"] {
			display: block;
			width: 30px;
			color: $gray;
		}

		&:hover {
			background-color: $grayBackLight;
			[class^="icon-"], [class*=" icon-"] {
				color: $textColor;
			}
		}
	}
	.dropdown_menu {
		a {
			line-height: 1.5;
		}
		.date, .body {
			@extend .border-box;
			width: 100%;
		}
		.date {
			@extend .ellipsis;
			color: $gray;
		}
	}
	#preSearch {
		width: 100%;
		li {
			border-top: solid 1px $grayBorderLight;
		}
	}
	.placeholder {
		top: 7px !important;
		line-height: 1.6;
	}
}
.searchCategory {
	display: inline-block;
	float: left;
	width: 60px;
	border-right: solid 1px $grayBorderLight;
	color: $gray;
	cursor: pointer;
	overflow: hidden;
	@include border-radius(3px 0 0 3px);

	.name {
		line-height: $headerHeight - 20 - 2;
		text-align: center;
	}
	[class^="icon-"], [class*=" icon-"] {
		margin-left: 5px;
	}

	&:hover, .active {
		color: $textColor;
		background-color: $grayBackLight;
		//.dropdown {
		//	display: block;
		//}
		[class^="icon-"], [class*=" icon-"] {
			color: $textColor;
		}
	}
}

ul.hdCommunications {
	padding: 5px 0;
	> li {
		position: static;
		padding: 0;
		background-image: none;
		> a {
			display: table-cell;
			vertical-align: middle;
			height: $headerHeight - 10;
			[class^="icon-"], [class*=" icon-"] {
				line-height: $headerHeight - 10;
			}
		}
	}

	.num {
		position: absolute;
		top: 8px;
		right: 8px;
		min-width: 12px;
		line-height: 13px;
		padding: 0 2px;
		font-size: 10px;
		text-align: center;
		background-color: $red;
		color: $white;
		white-space: nowrap;
		@include box-shadow(0 1px 1px rgba($black,.1));
		@extend .bRadius3;
		@extend .border-box;
	}
	.label {
		text-wrap: nowrap;
	}
}

[class^="sprite-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../images/common/head_icons.png);
}
.sprite-comment {
	background-position: left top;
	a:hover &,
	a.active & {
		background-position: left bottom;
	}
}
.sprite-notification {
	background-position: center top;
	a:hover &,
	a.active & {
		background-position: center bottom;
	}
}
.sprite-support {
	background-position: right top;
	a:hover &,
	a.active & {
		background-position: right bottom;
	}
}

.tweet {
	textarea {
		width: 100%;
	}
}

ul.hdTools {
	//border-left: solid 1px $grayLighter;
	padding: 5px 0;

	> li {
		position: relative;
		min-width: 120px;
		line-height: $headerHeight - 10;
		> a {
			height: $headerHeight - 10;
			text-decoration: none;
			text-align: left;
			&:hover, &:hover .name {
				color: $textColor;
			}
			[class^="icon-"], [class*=" icon-"] {
				line-height: $headerHeight - 10;
			}
		}
	}
	.name {
		display: inline-block;
		vertical-align: middle;
		max-width: 10em;
		margin: 0 5px;
		@extend .ellipsis;
	}
	.dropdown {
		min-width: 100%;
		@include border-radius(0 0 3px 3px);
		&:before {
			width: 100%;
		}
	}
}
.hdLauncher {
	border-left: solid 1px $grayLighter;
	a {
		width: 60px;
		margin-right: -10px;
		&.launcherActive {
			[class^="icon-"], [class*=" icon-"] {
				color: $textColor;
			}
		}
	}
}

/***************************************************
	dropdown
--------------------------------------------------*/
$dropdownSideWidth: 280px;
.dropdown,
.activityPopup, .supportPopup {
	@extend .bRadius3;
	@extend .popupShadow;
	@extend .border-box;
	display: none;
	position: absolute;
	z-index: $zindex-dropdown;
	border: solid 1px $grayBorderDark;
	background-color: $white;
	line-height: 2;
	//font-size: $fontSizeSmall;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);

	&.open {
		display: block;
	}

	.hdCommunications &, .hdTools &, .tools & {
		right: 0;
	}
	.hdCommunications & {
		width: 320px;
	}
	.title {
		@extend .clearfix;
		@extend .border-box;
		height: 40px;
		padding: 8px 10px;
		line-height: 24px;
		//font-weight: bold;
		border-bottom: solid 1px $grayBorder;
	}
	.body {
		@extend .clearfix;
	}
	.sideBlock {
		float: left;
		width: $dropdownSideWidth;
	}
	.contents {
		@extend .clearfix;
		position: relative;
		padding: 10px;
	}
	h2 {
		margin: 0 0 10px 0;
		font-weight: normal;
		line-height: 24px;

		&:first-child {
			border-top: none;
		}
	}
	.foot {
		@extend .clearfix;
		padding: 8px 10px;
		.count {
			line-height: 24px;
		}
	}
}
.activityPopup, .supportPopup {
	display: block;
	padding: 0 !important;
	&.auiPopup h2 {
		padding: 0;
		border: none;
	}
}
.dropdown_menu {
	li {
		padding: 0;
		background-image: none;
	}
	a {
		//@extend .ellipsis;
		display: block;
		padding: 6px 10px;
		color: $textColor;
		text-decoration: none;

		#auiHeader & {
			min-width: 118px;//10em;
		}

		&:hover {
			text-decoration: none;
			background-color: $grayBackLight;
		}
	}
	.active {
		a {
			background-color: $grayBackLight;
		}
	}
}
.dropdown_list {
	min-height: 200px;
	position: relative;
	ul {
		@extend .dropdown_menu;
		font-size: $fontSizeSmall;
	}
	li {
		padding: 0;
		border-bottom: solid 1px $grayBorderLight;
		background-image: none;
		> a {
			> .avatar {
				position: absolute;
				+ .body {
					padding-left: 30px;
				}
			}
		}
	}
	.name {
		margin-bottom: 5px;
	}
	.date {
		float: right;
		color: $gray;
	}
	//[class*=avatar_] {
	//	margin-right: 5px;
	//}
	.new {
		background-color: $grayBackLight;
		.date, .name {
			color: $textColor;
			font-weight: bold;
		}
	}
}
.contentList {
	li {
		padding: 6px 10px !important;
		line-height: 1.5;
		border-top: solid 1px $grayBorderLight;
		&:first-child {
			border-top: none;
		}
	}
	.date {
		margin-bottom: 3px;
		color: $gray;
	}
}
.divider {
	border-bottom: solid 1px $grayBorderLight;
}

/***************************************************
	dd_message
--------------------------------------------------*/
#dd_message {
	width: 100%;

	.mainBlock {
		margin-left: $dropdownSideWidth;
		border-left: solid 1px $grayBorder;
	}
	.contents {
	}
	.subContents {
		@extend .border-box;
		float: right;
		width: $dropdownSideWidth;
		border-left: solid 1px $grayBorder;
	}
	.inputField {
		margin-bottom: 10px;
	}
}
.nrCount {
	@extend .counter;
	margin: 0;
}
.messageSummary {
	font-size: $fontSizeSmall;
	li {
		position: relative;
		padding: 0;
		background-image: none;
		border-bottom: solid 1px $black;
		a {
			@extend .clearfix;
			display: block;
			text-decoration: none;
			padding: 5px 5px 5px 40px;
			color: $gray;
			.name {
				color: $white;
			}
			&:hover {
				color: $linkColorHover;
				background-color: $grayDarker;
				.name {
					color: $linkColorHover;
				}
			}
		}
		span {
			display: block;
		}
	}
	.avatar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 8px;
		img, .icon-group {
			display: block;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			@extend .bRadius3;
		}
		.icon-group {
			background-color: $gray;
			color: $white;
			font-size: 18px;
		}
	}
	.date {
		float: right;
		white-space: nowrap;
		margin-left: 5px;
	}
	.date, .name, .latest {
		line-height: 16px;
		height: 16px;
		overflow: hidden;
		@include ellipsis;
	}
	.latest {
	}
	.nrCount {
		margin: 0 3px 0 0;
	}
	.active {
		background-color: $white;
		a, a:hover {
			color: $gray !important;
			background-color: $white;
			.date, .latest {
				color: $gray !important;
			}
			.name {
				color: $textColor;
			}
		}
	}
	[class*="icon-"] {
		color: $blue;
	}
}
.messageSummaryHead {
	div {
		border-bottom: solid 1px $black;
	}
}
.roomHeader {
	margin-bottom: 10px;
	.floatRight {
		a {
			display: inline-block;
			[class*=icon-] {
				display: inline-block;
				min-width: 24px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				color: $grayLight;
			}
			&:hover [class*=icon-] {
				color: $textColor;
			}
		}
	}
}
#messageTimeline {
	margin: 0 -10px;
	.message {
		padding-right: 10px;
		padding-left: 10px;
		&.invite {
			background-color: $grayBackLight;
		}
	}
}
//#messageFavorites,
//#messageFiles{
//	padding: 5px;
//	.timeline {
//		.avatar {
//
//		}
//		.avatar img {
//			width: 24px;
//			height: auto;
//		}
//		.message {
//			border-bottom: solid 1px $grayBorderLight;
//		}
//		.messageContents {
//			margin-left: 30px;
//		}
//	}
//	.tlClipImage {
//		float: none;
//		max-width: 100%;
//		max-height: 100%;
//		margin-left: 0;
//		margin-bottom: 10px;
//	}
//}

/***************************************************
	sideBlock
--------------------------------------------------*/
.sideBlock {
	position: relative;
	background-color: $grayDark;
	color: $white;
	.inner {
		padding: 10px;
	}
	.search {
		background-color: $grayDeep;
		border-color: $grayDeep;
		input[type=text] {
			background-color: $grayDeep;
		}
		button {
			text-shadow: none;
		}
		label,
		[class*="icon-"] {
			color: $grayLight;
		}
	}
	.auiTabs {
		.tab {
			li {
				a,
				&:first-child a {
					margin: 0;
					background-color: $grayDarker;
					height: 45px;
					line-height: 45px;
					border: none;
					color: $grayLight;
					&:hover {
						color: $white;
					}
				}
				&.active a {
					background-color: $grayDark;
					color: $white !important;
				}
			}
		}
		.tabContents {
			li {
				padding: 0 !important;
			}
		}
	}
}
/***************************************************
	dd_information
--------------------------------------------------*/
#dd_notification {
}

/***************************************************
	scroll
--------------------------------------------------*/
.scroll {
	@extend .scrollDecoration;
	@extend .border-box;
	overflow: auto;
}

/***************************************************
	emptyMessage
--------------------------------------------------*/
.emptyMessage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 17em;
	height: 160px;
	margin: auto;
	text-align: center;
	color: $gray;
	[class*=icon-] {
		font-size: 10em;
		color: $grayLight;
		@include text-shadow(0 -1px 0 darken($grayLight,10));
	}
}

/***************************************************
	auiLauncher
--------------------------------------------------*/
$lcWidth: 50px;
$lcHeight: 40px;
#auiLauncher {
	display: none;
	@extend .clearfix;
	//@extend .transitionS;
	position: fixed;
	z-index: 2;
	right: 0;
	//top: 0;
	//bottom: 0;
	//width: $lcWidth * 3 - 10;
	width: $lcWidth - 10;
	padding: 10px;

	&.launcherOpen {
		display: block;
	}

	//.start {
	//	position: relative;
	//	> a {
	//		width: 100%;
	//		height: 40px;
	//		line-height: 40px;
	//		text-align: center;
	//	}
	//}
	//&.narrow {
	//	.name {
	//		display: none;
	//	}
	//}

	ul.launcher,
	ul.setting {
		position: relative;
		li {
			position: relative;
			height: $lcHeight;
			padding: 0;
			background-image: none;
			a {
				@extend .clearfix;
				@extend .border-box;
				@extend .ellipsis;
				display: block;
				line-height: $lcHeight;
				color: $gray;
				text-decoration: none;
				[class^="icon-"], [class*=" icon-"] {
					//@extend .transitionS;
					color: $gray;
				}
				&:hover {
					color: $textColor;
					text-decoration: none;
					[class^="icon-"], [class*=" icon-"] {
						color: $textColor;
					}
					.name {
						display: block;
					}
				}
			}
			.icon, [class^="icon-"], [class*=" icon-"] {
				display: block;
				float: left;
				width: $lcWidth - 10;
				line-height: $lcHeight;
				text-align: center;
			}
			.name {
				@extend .bRadius2;
				display: none;
				position: absolute;
				top: 5px;
				left: -9em;
				width: 9em;
				line-height: 30px;
				text-align: center;
				white-space: nowrap;
				color: $white;
				background-color: $gray;
				&:after {
					display: block;
					display: none\9; //IE8 hack
					content: "";
					position: absolute;
					top: 50%;
					right: -3px;
					width: 6px;
					height: 6px;
					margin-top: -3px;
					background-color: $gray;
					@include transform(rotate(45deg));
				}
			}
		}
	}
	ul.setting {
		border-top: solid 1px $grayBorder;
	}
}
