// Core variables and mixins
@import "variables";
@import "mixins";
@import "compass";

@charset "utf-8";
/* CSS Document */

/***************************************************
	mobileHeader
--------------------------------------------------*/
#mobileHeader_v2 {
	.counter {
    	padding:2px 2px 0;
    }
}
#mobileHeader_v3 {
	.counter {
    	padding:3px 2px 0;
    }
}

/***************************************************
	auiRowTable
--------------------------------------------------*/
.auiRowTable {
  .auiMTCheck {
    padding-top:4px;
  }
}
/***************************************************
	auiMbTable
--------------------------------------------------*/
$auiMbCaptionHeight:	18px !default;
.auiMbTable {
    .auiMTCheck {
        padding:0 10px 0 5px;
    }
}

/***************************************************
	project
--------------------------------------------------*/
#gantt_task {
	> table {
		th {
			height: 40px;
		}
		td {
			height: 30px;
		}
	}
}
#gantt_area {
	overflow-x:visible !important;
	border-bottom: solid 1px $grayBorder;
	.gantt_area_month {
		td {
			height: 19px;
		}
	}
	.gantt_area_day {
		td {
			height: 20px;
		}
	}
}

/***************************************************
	message
--------------------------------------------------*/
.messageSummary .nrCount {
	line-height: 15px
}