// Core variables and mixins
@import "variables";
@import "mixins";
@import "compass";

@charset "utf-8";
/* CSS Document */

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height:100%;
}

.test {
  margin:0;
}

#appsNavigation_v2,
#appsNavigationBack_v2 {
    @include transition(none);
}

/***************************************************
	modalDialog
--------------------------------------------------*/
.modalDialog {
    input[type=checkbox],
    input[type=radio] {
        vertical-align:-0.3em;
    }
}

/***************************************************
	auiIcon
--------------------------------------------------*/
[class^="auiButton"] [class^="auiIcon "] {
	margin-top:-1px;
}

/***************************************************
	auiHeader
--------------------------------------------------*/
ul.hdCommunications {
	.num {
		line-height: 14px;
	}
}

/***************************************************
	mobileHeader
--------------------------------------------------*/
.auiPortletHead {
    display:none;
}
#mobileHeader_v2 {
    position:static;

	.counter {
    	padding:2px 2px 0;
    }
}
#mobileHeader_v3 {
    position:static;

	.counter {
    	padding:2px 2px 0;
    }
}
#roundWrapper .roundMainWrapper {
    padding:0;
}

/***************************************************
	auiMbTable
--------------------------------------------------*/
$auiMbCaptionHeight:	18px !default;
.auiMbTable {
    .auiMTCheck {
        padding:2px 10px 0 5px;
    }
}

/***************************************************
	project
--------------------------------------------------*/
#gantt_task {
	> table {
		th {
			height: 38px;
		}
		td {
			height: 29px;
		}
	}
}
#gantt_area {
	.gantt_area_month {
		td {
			height: 18px;
		}
	}
	.gantt_area_day {
		td {
			height: 19px;
		}
	}
}

/***************************************************
	dropdown
--------------------------------------------------*/
.dropdown_list {
	max-height: none;
}
