// Core variables and mixins
@import "variables";
@import "mixins";
@import "compass";

@charset "utf-8";
/* CSS Document */

/***************************************************
	mobileHeader
--------------------------------------------------*/
#mobileHeader_v2 {
	.counter {
    	padding:2px 2px 0;
    }
}
#mobileHeader_v3 {
	.counter {
    	padding:3px 2px 0;
    }
}

/***************************************************
	auiMbTable
--------------------------------------------------*/
$auiMbCaptionHeight:	18px !default;
.auiMbTable {
    .auiMTCheck {
        padding:0 10px 0 5px;
    }
}