@charset "UTF-8";
.clearfix:before, #auiHeader:before, .hdNavi > ul:before, .dropdown .title:before, .dropdown .contents:before, #auiContents:before, #auiNavigation:before, #auiApps > .inner:before, .auiPortlet .portletHead .inner:before, .auiTip .portletHead .inner:before, .auiPortlet .portletBody .inner:before, .auiTip .portletBody .inner:before, .auiPortlet .portletFoot .inner:before, .auiTip .portletFoot .inner:before, .naviPortlet .portletHead .inner:before, .naviPortlet .portletBody .inner:before, .naviPortlet .portletFoot .inner:before, .auiTopics .head:before, .auiSummaryMeta:before,
.clearfix:after,
#auiHeader:after,
.hdNavi > ul:after,
.dropdown .title:after,
.dropdown .contents:after,
#auiContents:after,
#auiNavigation:after,
#auiApps > .inner:after,
.auiPortlet .portletHead .inner:after,
.auiTip .portletHead .inner:after,
.auiPortlet .portletBody .inner:after,
.auiTip .portletBody .inner:after,
.auiPortlet .portletFoot .inner:after,
.auiTip .portletFoot .inner:after,
.naviPortlet .portletHead .inner:after,
.naviPortlet .portletBody .inner:after,
.naviPortlet .portletFoot .inner:after,
.auiTopics .head:after,
.auiSummaryMeta:after {
  content: " ";
  display: table;
}

.clearfix:after, #auiHeader:after, .hdNavi > ul:after, .dropdown .title:after, .dropdown .contents:after, #auiContents:after, #auiNavigation:after, #auiApps > .inner:after, .auiPortlet .portletHead .inner:after, .auiTip .portletHead .inner:after, .auiPortlet .portletBody .inner:after, .auiTip .portletBody .inner:after, .auiPortlet .portletFoot .inner:after, .auiTip .portletFoot .inner:after, .naviPortlet .portletHead .inner:after, .naviPortlet .portletBody .inner:after, .naviPortlet .portletFoot .inner:after, .auiTopics .head:after, .auiSummaryMeta:after {
  clear: both;
}

.clearfix, #auiHeader, .hdNavi > ul, .dropdown .title, .dropdown .contents, #auiContents, #auiNavigation, #auiApps > .inner, .auiPortlet .portletHead .inner, .auiTip .portletHead .inner, .auiPortlet .portletBody .inner, .auiTip .portletBody .inner, .auiPortlet .portletFoot .inner, .auiTip .portletFoot .inner, .naviPortlet .portletHead .inner, .naviPortlet .portletBody .inner, .naviPortlet .portletFoot .inner, .auiTopics .head, .auiSummaryMeta {
  *zoom: 1;
}

.inline-block, [class*=avatar_], .auiSelectButton ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.border-box, form, input, button, textarea, input[type=text], .hdSearch .dropdown_menu .date, .hdSearch .dropdown_list .date, .hdSearch .dropdown_menu .body, .hdSearch .dropdown_list .body, .hdCommunications .count, #auiNavigation, #auiApps, .auiPortlet, .auiTip, .naviPortlet, .auiPortlet .portletHead, .auiTip .portletHead, .auiPortlet .portletBody, .auiTip .portletBody, .auiPortlet .portletFoot, .auiTip .portletFoot, .naviPortlet .portletHead, .naviPortlet .portletBody, .naviPortlet .portletFoot, .auiPortlet .portletHead .inner, .auiTip .portletHead .inner, .auiPortlet .portletBody .inner, .auiTip .portletBody .inner, .auiPortlet .portletFoot .inner, .auiTip .portletFoot .inner, .naviPortlet .portletHead .inner, .naviPortlet .portletBody .inner, .naviPortlet .portletFoot .inner, .searchBar .text, .buttonBase, input[type=submit],
input[type=button],
input[type=reset],
.auiButton,
.auiSelectButton a,
.auiWidget .auiSelectButton a, .auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction, .auiButtonBold,
input[type=submit].auiButtonBold,
input[type=button].auiButtonBold,
input[type=reset].auiButtonBold,
button.auiButtonBold, .auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall, .auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled, .auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon, .auiButtonDummy,
input[type=submit].auiButtonDummy,
input[type=button].auiButtonDummy,
input[type=reset].auiButtonDummy,
button.auiButtonDummy, .auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bRadiusS, .hdCommunications .count, .avatar_s, .avatar_m {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.bRadiusM, input[type=text],
textarea, .hdSearch form, .dropdown, .avatar_l, .avatar_xl, .addApp a, .auiPortlet, .auiTip, .alert, .searchBar, .buttonBase, input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiSelectButton a,
.auiWidget .auiSelectButton a, .auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction, .auiButtonBold,
input[type=submit].auiButtonBold,
input[type=button].auiButtonBold,
input[type=reset].auiButtonBold,
button.auiButtonBold, .auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall, .auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled, .auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon, .auiButtonDummy,
input[type=submit].auiButtonDummy,
input[type=button].auiButtonDummy,
input[type=reset].auiButtonDummy,
button.auiButtonDummy, .auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy, #timelineOuter #inputField, #timelineOuter .outer, #timelineOuter .newMessage, #timelineOuter .readMore, .timeline .commentInputDummy span, .name .avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.bRadius50p {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.ellipsis, .hdSearch .dropdown_menu .date, .hdSearch .dropdown_list .date, .hdSearch .dropdown_menu .body, .hdSearch .dropdown_list .body, .dropdown_menu a, .dropdown_list a, .dropdown_list .body, #auiNavigation .launcher a, .auiRowTable a {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.transition01 {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.transition02 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.scrollDecoration, .auiPortlet .portletBody, .auiTip .portletBody, .naviPortlet .portletBody, .timeline {
  scrollbar-face-color: #d6d6d6;
  scrollbar-track-color: #f6f6f6;
  scrollbar-arrow-color: #d6d6d6;
  scrollbar-shadow-color: #d6d6d6;
}
.scrollDecoration::-webkit-scrollbar, .auiPortlet .portletBody::-webkit-scrollbar, .auiTip .portletBody::-webkit-scrollbar, .naviPortlet .portletBody::-webkit-scrollbar, .timeline::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #f6f6f6;
}
.scrollDecoration::-webkit-scrollbar-piece, .auiPortlet .portletBody::-webkit-scrollbar-piece, .auiTip .portletBody::-webkit-scrollbar-piece, .naviPortlet .portletBody::-webkit-scrollbar-piece, .timeline::-webkit-scrollbar-piece {
  background: #f0f0f0;
}
.scrollDecoration::-webkit-scrollbar-thumb, .auiPortlet .portletBody::-webkit-scrollbar-thumb, .auiTip .portletBody::-webkit-scrollbar-thumb, .naviPortlet .portletBody::-webkit-scrollbar-thumb, .timeline::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "メイリオ", Meiryo, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 12px;
  background-color: white;
}

p {
  margin: 5px 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

table, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

form, input, button, textarea {
  outline: none;
  font-family: "メイリオ", Meiryo, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

input, button {
  font-size: 12px;
  font-family: "メイリオ", Meiryo, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  margin: 0;
  vertical-align: middle;
}

input[type=text],
textarea {
  border: solid 1px #d6d6d6;
}
input[type=text]:hover,
textarea:hover {
  border: solid 1px #999999;
}

input[type=text],
input[type=password] {
  height: 30px;
}

#wrapper {
  min-width: 960px;
}

#auiHeader {
  padding: 0 10px;
  background-color: white;
  border-bottom: solid 1px #d6d6d6;
}
#auiHeader .fa {
  vertical-align: middle;
}

.hdLogo {
  float: left;
  height: 30px;
  padding: 10px;
}

.hdNavi {
  float: right;
  font-size: 11px;
}
.hdNavi > ul {
  float: left;
}
.hdNavi > ul > li {
  display: block;
  position: relative;
  float: left;
  list-style: none;
  line-height: 50px;
}
.hdNavi > ul > li > a {
  display: block;
  padding: 0 10px;
}
.hdNavi > ul > li > a:hover, .hdNavi > ul > li > a.active {
  text-decoration: none;
  background-color: #f0f0f0;
}
.hdNavi > ul > li > a:hover .fa, .hdNavi > ul > li > a.active .fa {
  color: #333333;
}
.hdNavi .fa-caret-down {
  font-size: 10px;
}

.hdSearch {
  position: relative;
  float: left;
  padding: 10px;
}
.hdSearch form {
  border: solid 1px #d6d6d6;
  background-color: white;
}
.hdSearch form:hover {
  border: solid 1px #999999;
}
.hdSearch input[type=text], .hdSearch .submit {
  height: 20px;
  border: none;
  vertical-align: middle;
}
.hdSearch input[type=text] {
  width: 160px;
  margin: 0 3px;
}
.hdSearch input[type=text]:focus {
  width: 216px;
}
.hdSearch .submit {
  height: 28px;
  margin: 0;
  padding: 0;
  background: none;
  filter: none;
  cursor: pointer;
  border-left: solid 1px #ededed;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hdSearch .submit .fa {
  display: block;
  width: 30px;
  color: #999999;
}
.hdSearch .submit:hover {
  background-color: #f6f6f6;
}
.hdSearch .submit:hover .fa {
  color: #333333;
}
.hdSearch .dropdown_menu li, .hdSearch .dropdown_list li {
  border-top: solid 1px #ededed;
}
.hdSearch .dropdown_menu a, .hdSearch .dropdown_list a {
  line-height: 1.5;
}
.hdSearch .dropdown_menu .date, .hdSearch .dropdown_list .date, .hdSearch .dropdown_menu .body, .hdSearch .dropdown_list .body {
  width: 100%;
}
.hdSearch .dropdown_menu .date, .hdSearch .dropdown_list .date {
  color: #999999;
}

.searchCategory {
  display: inline-block;
  float: left;
  width: 60px;
  border-right: solid 1px #ededed;
  color: #999999;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.searchCategory .name {
  line-height: 28px;
  text-align: center;
}
.searchCategory .fa {
  margin-left: 5px;
}
.searchCategory:hover, .searchCategory .active {
  color: #333333;
  background-color: #f6f6f6;
}
.searchCategory:hover .fa, .searchCategory .active .fa {
  color: #333333;
}

.hdCommunications .count {
  display: block;
  float: left;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  margin: 17px 2px 0 0;
  padding: 0 2px;
  font-size: 10px;
  background-color: #f0f0f0;
  text-align: center;
  color: #999999;
}
.hdCommunications .count.valid {
  background-color: #333333;
  color: white;
}
.hdCommunications .label {
  text-wrap: nowrap;
}

.tweet textarea {
  width: 100%;
}

.hdTools {
  border-left: solid 1px #f0f0f0;
}
.hdTools .name {
  margin: 0 5px;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  border: solid 1px #d6d6d6;
  background-color: white;
  line-height: 2;
  font-size: 11px;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}
#auiHeader .dropdown {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.hdCommunications .dropdown, .hdTools .dropdown, .tools .dropdown {
  right: 0;
}
.hdCommunications .dropdown {
  width: 320px;
}
.dropdown#preSearch {
  width: 320px;
  margin-top: 1px;
}
.dropdown#dd_searchcategory {
  margin-top: 2px;
}
.dropdown .title {
  padding: 10px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: solid 1px #ededed;
}
.dropdown .contents {
  padding: 10px;
}
.dropdown .divider {
  border-bottom: solid 1px #ededed;
}
.dropdown h2 {
  margin: 0;
  padding: 2px 10px;
  font-size: 1em;
  background-color: #f0f0f0;
  border-top: solid 1px #d6d6d6;
}
.dropdown h2:first-child {
  border-top: none;
}

.dropdown_menu a, .dropdown_list a {
  display: block;
  padding: 6px 10px;
}
#auiHeader .dropdown_menu a, #auiHeader .dropdown_list a {
  min-width: 10em;
}
.dropdown_menu a:hover, .dropdown_list a:hover {
  text-decoration: none;
  background-color: #f6f6f6;
}

.dropdown_list .body {
  width: 100%;
}
.dropdown_list .date {
  float: right;
  color: #999999;
}
.dropdown_list [class*=avatar_] {
  margin-right: 5px;
}

.contentList li {
  padding: 6px 10px;
  line-height: 1.5;
}
.contentList .date {
  margin-bottom: 3px;
  color: #999999;
}

.avatar_s {
  width: 16px;
  height: 16px;
}

.avatar_m {
  width: 24px;
  height: 24px;
}

.avatar_l {
  width: 32px;
  height: 32px;
}

.avatar_xl {
  width: 48px;
  height: 48px;
}

#auiContents td {
  vertical-align: top;
}

#auiNavigation {
  float: left;
  width: 240px;
  padding: 10px 10px 10px 20px;
}
#auiNavigation h2 {
  line-height: 20px;
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: normal;
}
#auiNavigation .launcher {
  position: relative;
  height: 135px;
  margin: 10px 0;
  overflow: hidden;
  -webkit-transition: 0.2s 0.2s;
  -moz-transition: 0.2s 0.2s;
  -o-transition: 0.2s 0.2s;
  transition: 0.2s 0.2s;
}
#auiNavigation .launcher:after {
  position: absolute;
  bottom: -4px;
  content: "";
  width: 100%;
  height: 4px;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s 0.2s;
  -moz-transition: 0.2s 0.2s;
  -o-transition: 0.2s 0.2s;
  transition: 0.2s 0.2s;
}
#auiNavigation .launcher:hover {
  height: 510px;
}
#auiNavigation .launcher:hover:after {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}
#auiNavigation .launcher a {
  display: block;
  line-height: 30px;
}
#auiNavigation .launcher a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}
#auiNavigation .launcher a:hover .fa {
  color: #333333;
}
#auiNavigation .launcher .fa {
  width: 20px;
  padding: 0 10px;
  text-align: center;
}

.addApp a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #999999;
  font-size: 11px;
}
.addApp a .fa {
  vertical-align: middle;
}
.addApp a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #333333;
}
.addApp a:hover .fa {
  color: #333333;
}

#auiApps {
  float: right;
  width: 100%;
  height: 100%;
  margin-left: -240px;
  padding: 0 5px;
  background-color: white;
}
#auiApps > .inner {
  margin-left: 240px;
}

.appsCol {
  float: left;
  width: 50%;
  overflow: auto;
}

.auiPortlet .portletHead, .auiTip .portletHead, .naviPortlet .portletHead {
  position: relative;
  height: 35px;
}
.auiPortlet .title, .auiTip .title, .naviPortlet .title {
  float: left;
  white-space: nowrap;
}
.auiPortlet .title .fa, .auiTip .title .fa, .naviPortlet .title .fa {
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.auiPortlet .tools, .auiTip .tools, .naviPortlet .tools {
  position: absolute;
  top: 0;
  right: 0;
}
.auiPortlet .tools > div, .auiTip .tools > div, .naviPortlet .tools > div {
  float: left;
  white-space: nowrap;
}
.auiPortlet .tools > div > a, .auiTip .tools > div > a, .naviPortlet .tools > div > a {
  display: block;
  line-height: 34px;
  padding: 0 5px;
  text-align: center;
}
.auiPortlet .tools > div > a:hover .fa, .auiTip .tools > div > a:hover .fa, .naviPortlet .tools > div > a:hover .fa {
  color: #333333;
}
.auiPortlet .tools .active .fa, .auiTip .tools .active .fa, .naviPortlet .tools .active .fa {
  color: #333333;
}
.auiPortlet .portletBody, .auiTip .portletBody, .naviPortlet .portletBody {
  overflow: auto;
}
.auiPortlet .portletBody .inner, .auiTip .portletBody .inner, .naviPortlet .portletBody .inner {
  padding: 10px;
}
.auiPortlet .portletFoot, .auiTip .portletFoot, .naviPortlet .portletFoot {
  height: 40px;
  overflow: hidden;
  border-top: solid 1px #ededed;
}
.auiPortlet .portletFoot .inner, .auiTip .portletFoot .inner, .naviPortlet .portletFoot .inner {
  padding: 8px;
}
.auiPortlet .portletFoot a, .auiTip .portletFoot a, .naviPortlet .portletFoot a {
  height: 24px;
  line-height: 24px;
}

.auiPortlet, .auiTip {
  margin: 10px;
  background-color: white;
}
.auiPortlet .portletHead, .auiTip .portletHead {
  border-bottom: solid 1px #ededed;
}
.auiPortlet .portletHead .inner, .auiTip .portletHead .inner {
  padding: 0 10px;
}
.auiPortlet .title, .auiTip .title {
  line-height: 34px;
}
.auiPortlet .tools > div > a, .auiTip .tools > div > a {
  min-width: 30px;
  line-height: 34px;
}
.auiPortlet .tools .dropdown, .auiTip .tools .dropdown {
  margin-right: -1px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.naviPortlet {
  margin: 10px 0;
  border-bottom: solid 1px #ededed;
}
.naviPortlet .title {
  line-height: 25px;
}
.naviPortlet .tools > div > a {
  line-height: 25px;
}

.alert {
  margin: 10px 5px;
  padding: 10px;
  background-color: #f0f0f0;
}
.alert .alertTool {
  float: right;
}
.alert .alertTool a i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-decoration: none;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.alert .alertHead {
  border-bottom: solid 1px #d6d6d6;
  padding-bottom: 9px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 20px;
}

#auiContents > .alert {
  margin: 10px 5px 0;
}

.auiTopics {
  margin: 10px 0;
  border-bottom: solid 1px #ededed;
}
.auiTopics .head li {
  float: left;
  width: 50%;
}
.auiTopics .head li span {
  display: block;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  background-color: #f6f6f6;
  border-top: solid 1px #f6f6f6;
  border-bottom: solid 1px #d6d6d6;
  cursor: pointer;
}
.auiTopics .head li span:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}
.auiTopics .head li.today span {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.auiTopics .head li.tomorrow span {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.auiTopics .head li.active span {
  border: solid 1px #d6d6d6;
  border-bottom-color: white;
  background-color: white;
}
.auiTopics .body li {
  margin: 5px 0;
}
.auiTopics .body li > a {
  display: block;
  padding: 5px 10px;
}
.auiTopics .body li > a:hover {
  text-decoration: none;
  background-color: #f6f6f6;
}

.searchBar {
  position: relative;
  border: solid 1px #d6d6d6;
  background-color: white;
}
.searchBar:hover {
  border: solid 1px #999999;
}
.searchBar input[type=text], .searchBar .submit {
  border: none;
  vertical-align: middle;
}
.searchBar .text {
  display: inline-block;
  width: 100%;
  padding: 0 33px 0 3px;
}
.searchBar .text input {
  width: 100%;
}
.searchBar .submit {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background: none;
  filter: none;
  border-left: solid 1px #ededed;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.searchBar .submit .fa {
  display: block;
  width: 30px;
  color: #999999;
}
.searchBar .submit:hover {
  background-color: #f6f6f6;
}
.searchBar .submit:hover .fa {
  color: #333333;
}

.popup {
  display: none;
  position: absolute;
  z-index: 10;
}

.auiTip {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.auiSummaryMeta {
  margin: 10px 0;
}
.auiSummaryMeta:nth-last-of-type(1) {
  margin-bottom: 0;
}

.auiRowTable th, .auiRowTable td {
  padding: 8px 5px;
  border-bottom: solid 1px #ededed;
  white-space: nowrap;
}
.auiRowTable a {
  display: block;
  width: 100%;
}

#auiFooter .inner {
  height: 25px;
  font-size: 10px;
  color: #999999;
}
#auiFooter .inner a {
  color: #999999;
}
#auiFooter .inner a:hover {
  text-decoration: none;
  color: #333333;
}
#auiFooter .inner a:hover .fa {
  color: #333333;
}
#auiFooter .menu li {
  display: inline-block;
  margin: 0 10px;
}
#auiFooter .menu .fa {
  vertical-align: middle;
  margin-right: 3px;
}

.buttonBase, input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiSelectButton a,
.auiWidget .auiSelectButton a, .auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction, .auiButtonBold,
input[type=submit].auiButtonBold,
input[type=button].auiButtonBold,
input[type=reset].auiButtonBold,
button.auiButtonBold, .auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall, .auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled, .auiButtonIcon,
input[type=submit].auiButtonIcon,
input[type=button].auiButtonIcon,
input[type=reset].auiButtonIcon,
button.auiButtonIcon, .auiButtonDummy,
input[type=submit].auiButtonDummy,
input[type=button].auiButtonDummy,
input[type=reset].auiButtonDummy,
button.auiButtonDummy, .auiButtonIconDummy,
input[type=submit].auiButtonIconDummy,
input[type=button].auiButtonIconDummy,
input[type=reset].auiButtonIconDummy,
button.auiButtonIconDummy {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  border: solid 1px #d6d6d6;
  cursor: pointer;
}
.buttonBase:hover, input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:hover,
.auiButton:hover,
.auiSelectButton a:hover, .auiButtonAction:hover, .auiButtonBold:hover, .auiButtonSmall:hover, .auiButtonDisabled:hover, .auiButtonIcon:hover, .auiButtonDummy:hover, .auiButtonIconDummy:hover, .buttonBase:focus, input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
button:focus,
.auiButton:focus,
.auiSelectButton a:focus, .auiButtonAction:focus, .auiButtonBold:focus, .auiButtonSmall:focus, .auiButtonDisabled:focus, .auiButtonIcon:focus, .auiButtonDummy:focus, .auiButtonIconDummy:focus {
  border: solid 1px #999999;
  text-decoration: none;
}
.buttonBase:active, input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
button:active,
.auiButton:active,
.auiSelectButton a:active, .auiButtonAction:active, .auiButtonBold:active, .auiButtonSmall:active, .auiButtonDisabled:active, .auiButtonIcon:active, .auiButtonDummy:active, .auiButtonIconDummy:active {
  background-image: none !important;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  filter: none !important;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2) !important;
}
.buttonBase .fa, input[type=submit] .fa,
input[type=button] .fa,
input[type=reset] .fa,
button .fa,
.auiButton .fa,
.auiSelectButton a .fa, .auiButtonAction .fa, .auiButtonBold .fa, .auiButtonSmall .fa, .auiButtonDisabled .fa, .auiButtonIcon .fa, .auiButtonDummy .fa, .auiButtonIconDummy .fa {
  color: #333333;
}

input[type=submit],
input[type=button],
input[type=reset],
button,
.auiButton,
.auiSelectButton a,
.auiWidget .auiSelectButton a {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF0F0F0');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
}
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
button:active,
.auiButton:active,
.auiSelectButton a:active {
  background-color: #d6d6d6;
  border: solid 1px #999999;
}

.auiButtonAction,
input[type=submit].auiButtonAction,
input[type=button].auiButtonAction,
input[type=reset].auiButtonAction,
button.auiButtonAction {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjM2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNzczMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb366), color-stop(100%, #ff7733));
  background-image: -webkit-linear-gradient(top, #ffb366, #ff7733);
  background-image: -moz-linear-gradient(top, #ffb366, #ff7733);
  background-image: -o-linear-gradient(top, #ffb366, #ff7733);
  background-image: linear-gradient(top, #ffb366, #ff7733);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFB366', endColorstr='#FFFF7733');
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3);
  color: white;
  border: solid 1px #ff9933 !important;
}
.auiButtonAction:hover, .auiButtonAction:focus,
input[type=submit].auiButtonAction:hover,
input[type=submit].auiButtonAction:focus,
input[type=button].auiButtonAction:hover,
input[type=button].auiButtonAction:focus,
input[type=reset].auiButtonAction:hover,
input[type=reset].auiButtonAction:focus,
button.auiButtonAction:hover,
button.auiButtonAction:focus {
  border: solid 1px #b35900 !important;
}
.auiButtonAction:active,
input[type=submit].auiButtonAction:active,
input[type=button].auiButtonAction:active,
input[type=reset].auiButtonAction:active,
button.auiButtonAction:active {
  background-color: #ff7733 !important;
  border: solid 1px #b35900 !important;
}

.auiButtonSmall,
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
  font-size: 10px;
  height: 24px;
  line-height: 24px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF0F0F0');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
}

.auiButtonDisabled,
input[type=submit].auiButtonDisabled,
input[type=button].auiButtonDisabled,
input[type=reset].auiButtonDisabled,
button.auiButtonDisabled {
  background-color: #f0f0f0;
  color: #999999;
  cursor: default;
}
.auiButtonDisabled:hover, .auiButtonDisabled:focus, .auiButtonDisabled:active,
input[type=submit].auiButtonDisabled:hover,
input[type=submit].auiButtonDisabled:focus,
input[type=submit].auiButtonDisabled:active,
input[type=button].auiButtonDisabled:hover,
input[type=button].auiButtonDisabled:focus,
input[type=button].auiButtonDisabled:active,
input[type=reset].auiButtonDisabled:hover,
input[type=reset].auiButtonDisabled:focus,
input[type=reset].auiButtonDisabled:active,
button.auiButtonDisabled:hover,
button.auiButtonDisabled:focus,
button.auiButtonDisabled:active {
  border: solid 1px #d6d6d6;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/***************************************************
	auiSelectButton
--------------------------------------------------*/
.auiSelectButton {
  background: #fff;
}
.auiSelectButton li,
.auiSelectButton div {
  float: left;
  background: none;
  padding: 0;
  line-height: 1;
}
.auiSelectButton a, .auiWidget .auiSelectButton a {
  display: block;
  margin: 0 -1px 0 0;
  padding: 0 !important;
  line-height: 30px;
  min-width: 27px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-color: #d6d6d6 #d6d6d6 silver;
}
.auiSelectButton a {
  text-align: center;
}
.auiSelectButton a [class*=icon-] {
  line-height: 30px;
}
.auiSelectButton a .icon-backward,
.auiSelectButton a .icon-forward {
  font-size: 10px;
}
.auiSelectButton a .icon-backward {
  margin-right: 2px;
}
.auiSelectButton a .icon-forward {
  margin-left: 1px;
}
.auiSelectButton a:hover, .auiSelectButton a:active, .auiSelectButton a:focus {
  position: relative;
}
.auiSelectButton a:hover span, .auiSelectButton a:active span, .auiSelectButton a:focus span {
  color: #333333;
}
.auiSelectButton a.first,
.auiSelectButton a.btn {
  margin-left: 0;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.auiSelectButton a.last {
  margin: 0;
}
.auiSelectButton a.last:hover:after {
  display: none;
}
.auiSelectButton a.last,
.auiSelectButton a.btn {
  margin-right: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.auiSelectButton span i,
.auiSelectButton span img {
  margin: 6px 0;
}
.auiSelectButton .active a {
  background: #d6d6d6;
  border-color: #d6d6d6 #d6d6d6 silver;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.auiSelectButton .active a:focus,
.auiSelectButton .active a:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.auiSelectButton .active a:hover span {
  cursor: default;
}
.auiSelectButton .auiIconArrowLeft {
  margin-left: -4px !important;
}
.auiWidget .auiSelectButton span {
  padding: 0;
  background-image: none;
}

.selectCount {
  display: inline-block;
  line-height: 100%;
}

.bbstest {
  margin: 0;
}

#timelineOuter {
  position: relative;
}
#timelineOuter #inputField, #timelineOuter .outer {
  border: solid 1px #d6d6d6;
  background: white;
  overflow: hidden;
}
#timelineOuter #inputField:hover, #timelineOuter .outer:hover {
  border: solid 1px #999999;
}
#timelineOuter #inputField {
  margin-bottom: 15px;
  background: transparent;
}
#timelineOuter .outer {
  padding: 3px;
  margin: 0 0 5px 0;
}
#timelineOuter textarea {
  width: 100%;
  margin: 0;
  border: none;
  resize: none;
}
#timelineOuter .message {
  margin: 0;
  padding: 10px 0 0;
  clear: both;
  border-top: 1px solid #ededed;
}
#timelineOuter .message:first-child,
#timelineOuter .message.first {
  border-top: none !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#timelineOuter .on {
  border-top: 1px solid #999999;
}
#timelineOuter .newMessage, #timelineOuter .readMore {
  background: #f6f6f6;
  border: solid 1px #d6d6d6;
  text-align: center;
}
#timelineOuter .newMessage a, #timelineOuter .readMore a {
  display: block;
  padding: 3px;
}
#timelineOuter .newMessage a:hover, #timelineOuter .readMore a:hover {
  text-decoration: none;
}
#timelineOuter .newMessage:hover, #timelineOuter .readMore:hover {
  border: solid 1px #999999;
}
#timelineOuter .newMessage {
  margin-bottom: 15px;
}
#timelineOuter .readMore {
  margin-top: 10px;
}

.tlInputMention {
  padding: 4px;
}

.tlInputAttachment {
  border-top: dotted 1px #d6d6d6;
  padding: 10px;
}

.tlInputAttachmentTitle {
  font-weight: bold;
}

.tlInputControls {
  border-top: solid 1px #ededed;
  padding: 4px;
  background: #f6f6f6;
}
.tlInputControls .floatRight li {
  float: left;
  background: none;
  padding: 0 0 0 5px;
}
.tlInputControls .floatRight li:first-child {
  padding: 0;
}
.tlInputControls .floatRight .indicatorglay {
  display: inline-block;
}
.tlInputControls ul.attachments {
  float: left;
  margin: 0;
}
.tlInputControls ul.attachments > li {
  margin-left: 5px;
}

.tlDisplayChanger {
  position: relative;
  height: 15px;
  line-height: 15px;
  border-top: 1px solid #ededed;
}
.tlDisplayChanger .btn {
  background: #fff;
  padding: 0 3px;
  position: absolute;
  top: -9px;
  right: 15px;
}
.tlDisplayChanger .btn a {
  font-size: 11px;
}
.tlDisplayChanger .btn span {
  height: 20px;
  line-height: 20px;
}
.tlDisplayChanger .indicator {
  vertical-align: middle;
  float: left;
  margin: 1px 0;
}
.tlDisplayChanger .dropdown {
  top: 10px;
  right: 0;
  width: 12em;
}

.tlDisplayGroup {
  cursor: pointer;
  /*IE7*/
}

.timeline {
  overflow: auto;
}
.timeline .avatar {
  float: left;
  margin: 0 10px 0 0;
}
.timeline .messageContents {
  margin-left: 60px;
  margin-bottom: 10px;
}
.timeline .messageContents .tlClipBoard {
  border: solid 1px #ededed;
  margin: 10px 0 5px;
  padding: 10px;
}
.timeline .commentsBorder, .timeline .comments .message, .timeline .commentCaption, .timeline .commentInputDummy, .timeline .commentField {
  border-top: solid 1px #fff !important;
}
.timeline .comments {
  margin: 0 0 10px 60px;
  background: #f6f6f6;
  overflow: hidden;
}
.timeline .comments .messageContents {
  margin-left: 42px;
}
.timeline .comments .message {
  margin: 0;
  padding: 5px !important;
  border: none;
}
.timeline .message .comments {
  margin-top: 10px;
  margin-bottom: 10px;
}
.timeline .message .comments .avatar {
  margin: 0 10px 0 0;
}
.timeline .commentCaption {
  padding: 3px 5px;
  font-size: smaller;
}
.timeline .commentInputDummy {
  padding: 5px;
}
.timeline .commentInputDummy span {
  display: block;
  padding: 5px;
  border: 1px #d6d6d6 solid;
  color: #d6d6d6;
  cursor: text;
  background: #fff;
}
.timeline .commentField {
  padding: 5px;
}
.timeline .commentField form {
  margin-left: 42px;
}
.timeline .timeline {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

.messageContents .name {
  font-weight: bold;
  padding-right: 5px;
}
.messageContents .body {
  padding: 5px 0;
}
.messageContents .time {
  font-size: 80%;
  *font-size: 75%;
  color: #434343;
}

.tlActivity,
.tlActivity a {
  color: #666666;
  font-size: 11px;
}

.tlActivity .messageContents {
  display: table-cell;
  padding-left: 0px !important;
  line-height: 20px;
}
.tlActivity .messageContents div {
  display: inline;
  padding: 0;
}

/* tlImageBox */
.tlImageBlock {
  margin: 10px 0;
}
.tlImageBlock a {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tlImageBlock a:hover img {
  border: solid 1px #d6d6d6;
}
.tlImageBlock img {
  max-width: 160px;
  max-height: 160px;
  height: auto;
  padding: 4px;
  border: solid 1px #ededed;
}

.thumbBlock img {
  max-width: 160px;
  max-height: 160px;
  height: auto;
  padding: 4px;
  border: solid 1px #ededed;
}
.thumbBlock a:hover img {
  border: solid 1px #d6d6d6;
}

/* clipBloard */
.tlClipImage {
  float: left;
  max-width: 90px;
  max-height: 90px;
  margin-right: 10px;
  text-align: center;
}
.tlClipImage img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.tlClipContents {
  display: table-cell;
}

.tlClipTitle {
  font-size: 12px;
}

.tlClipUrl {
  font-size: 10px;
}

.tlClipBody {
  padding-top: 5px;
  color: #666666;
}

.name .avatar {
  float: left;
  width: 23px;
  height: 23px;
  margin: 0 4px 0 0;
}

.timeline .message > .more {
  line-height: 1.6;
  margin: 0 0 10px 60px;
}

.timeline .text_exposed_show.ellipsis, .timeline .hdSearch .dropdown_menu .text_exposed_show.date, .hdSearch .dropdown_menu .timeline .text_exposed_show.date, .timeline .hdSearch .dropdown_list .text_exposed_show.date, .hdSearch .dropdown_list .timeline .text_exposed_show.date, .timeline .hdSearch .dropdown_menu .text_exposed_show.body, .hdSearch .dropdown_menu .timeline .text_exposed_show.body, .timeline .dropdown_menu a.text_exposed_show, .dropdown_menu .timeline a.text_exposed_show, .timeline .dropdown_list a.text_exposed_show, .dropdown_list .timeline a.text_exposed_show, .timeline .dropdown_list .text_exposed_show.body, .dropdown_list .timeline .text_exposed_show.body, .timeline #auiNavigation .launcher a.text_exposed_show, #auiNavigation .launcher .timeline a.text_exposed_show, .timeline .auiRowTable a.text_exposed_show, .auiRowTable .timeline a.text_exposed_show,
.timeline .message .more.opened {
  display: none;
}

.iconLike,
.iconComment {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.iconLike {
  background-position: -2px -594px;
}

.iconComment {
  background-position: -2px -609px;
}

/* table Class */
.disabled th, .disabled td {
  background: #f6f6f6;
  color: #666666;
}

.disabled a {
  color: #666666;
}

/***************************************************
	width
--------------------------------------------------*/
.thin {
  width: 1%;
}

.wide, .w100 {
  width: 100% !important;
  max-width: 100% !important;
}

.w5 {
  width: 5% !important;
}

.w10 {
  width: 10% !important;
}

.w15 {
  width: 15% !important;
}

.w20 {
  width: 20% !important;
}

.w25 {
  width: 25% !important;
}

.w30 {
  width: 30% !important;
}

.w35 {
  width: 35% !important;
}

.w40 {
  width: 40% !important;
}

.w45 {
  width: 45% !important;
}

.w50 {
  width: 50% !important;
}

.w55 {
  width: 55% !important;
}

.w60 {
  width: 60% !important;
}

.w65 {
  width: 65% !important;
}

.w70 {
  width: 70% !important;
}

.w75 {
  width: 75% !important;
}

.w80 {
  width: 80% !important;
}

.w85 {
  width: 85% !important;
}

.w90 {
  width: 90% !important;
}

.w95 {
  width: 95% !important;
}

.w100 {
  width: 100% !important;
}

.w99 {
  width: 99%  !important;
}

.w49 {
  width: 49% !important;
}

.w48 {
  width: 48% !important;
}

.w47 {
  width: 47% !important;
}

.w46 {
  width: 46% !important;
}

.w33 {
  width: 33.333333% !important;
}

.mw200 {
  min-width: 200px !important;
}

.mw250 {
  min-width: 250px !important;
}

.mw300 {
  min-width: 300px !important;
}

.mw350 {
  min-width: 350px !important;
}

.mw400 {
  min-width: 400px !important;
}

.mw450 {
  min-width: 450px !important;
}

.mw500 {
  min-width: 500px !important;
}

.mw550 {
  min-width: 550px !important;
}

.mw600 {
  min-width: 600px !important;
}

/***************************************************
	margin&padding
--------------------------------------------------*/
.noMP {
  margin: 0;
  padding: 0;
}

.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ma0 {
  margin: 0px !important;
}

.mh0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ma5 {
  margin: 5px !important;
}

.mh5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ma10 {
  margin: 10px !important;
}

.mh10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ma15 {
  margin: 15px !important;
}

.mh15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ma20 {
  margin: 20px !important;
}

.mh20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ma25 {
  margin: 25px !important;
}

.mh25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ma30 {
  margin: 30px !important;
}

.mh30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ma35 {
  margin: 35px !important;
}

.mh35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ma40 {
  margin: 40px !important;
}

.mh40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ma45 {
  margin: 45px !important;
}

.mh45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ma50 {
  margin: 50px !important;
}

.mh50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ma55 {
  margin: 55px !important;
}

.mh55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ma60 {
  margin: 60px !important;
}

.mh60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ma65 {
  margin: 65px !important;
}

.mh65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ma70 {
  margin: 70px !important;
}

.mh70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ma75 {
  margin: 75px !important;
}

.mh75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ma80 {
  margin: 80px !important;
}

.mh80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ma85 {
  margin: 85px !important;
}

.mh85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ma90 {
  margin: 90px !important;
}

.mh90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ma95 {
  margin: 95px !important;
}

.mh95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.ma100 {
  margin: 100px !important;
}

.mh100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.noPadding {
  padding: 0px;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pa0 {
  padding: 0px !important;
}

.ph0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pa5 {
  padding: 5px !important;
}

.ph5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pa10 {
  padding: 10px !important;
}

.ph10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pa15 {
  padding: 15px !important;
}

.ph15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pa20 {
  padding: 20px !important;
}

.ph20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pa25 {
  padding: 25px !important;
}

.ph25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pa30 {
  padding: 30px !important;
}

.ph30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pa35 {
  padding: 35px !important;
}

.ph35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pa40 {
  padding: 40px !important;
}

.ph40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pa45 {
  padding: 45px !important;
}

.ph45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pa50 {
  padding: 50px !important;
}

.ph50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pa55 {
  padding: 55px !important;
}

.ph55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pa60 {
  padding: 60px !important;
}

.ph60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pa65 {
  padding: 65px !important;
}

.ph65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pa70 {
  padding: 70px !important;
}

.ph70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pa75 {
  padding: 75px !important;
}

.ph75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pa80 {
  padding: 80px !important;
}

.ph80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pa85 {
  padding: 85px !important;
}

.ph85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pa90 {
  padding: 90px !important;
}

.ph90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pa95 {
  padding: 95px !important;
}

.ph95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pa100 {
  padding: 100px !important;
}

.ph100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.noBorder {
  border: none !important;
}
.noBorder td, .noBorder th {
  border: none !important;
}

/***************************************************
	font
--------------------------------------------------*/
.fs10 {
  font-size: 10px !important;
}

.fs11 {
  font-size: 11px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

/***************************************************
	align & float
--------------------------------------------------*/
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

/***************************************************
	color
--------------------------------------------------*/
.fcWhite {
  color: white !important;
}

.fcGray {
  color: #999999 !important;
}

.fcGrayLight {
  color: #d6d6d6 !important;
}

.fcBlue {
  color: #049cdb !important;
}

.fcGreen {
  color: #46a546 !important;
}

.fcRed {
  color: #e63439 !important;
}

.fcYellow {
  color: #ffc40d !important;
}

.fcOrange {
  color: #ff9933 !important;
}

.fcPink {
  color: #c3325f !important;
}

.fcPurple {
  color: #7a43b6 !important;
}

.colorTwitter {
  color: #01a5ed !important;
}

.colorFacebook {
  color: #4862a3 !important;
}

/***************************************************
	FontAwesome
--------------------------------------------------*/
.fa {
  font-size: 14px;
  color: #999999;
}
