@charset "utf-8";
body {
	padding-top:0 !important;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position:absolute !important;
	top:-45px !important;
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.nav-collapse {
    position:absolute !important;
    top:45px;
    right:5px;
    padding:0;
    background:#dddddd;
    box-shadow:-10px 0 10px #dddddd;
    -webkit-box-shadow:-10px 0 10px #dddddd;
}
.navbar .nav.pull-right {
    height:30px !important;
}
.navbar .nav > li > a {
    padding:0 !important;
    height:35px;
}
.dropdown-toggle .activitychecker {
	margin-top:7px;
}
.activeRoom {
    line-height:35px !important
}
.dropdown .caret {
    margin:15px 5px 0 0 !important;
}
.nav-room .dropdown-menu {
    right:0 !important
}
.chatFormWrapper > .inner {
    padding:5px;
}
.chatFormWrapper {
	position:static !important;
}