body {
    padding-top: 40px;
}
img {
	height:auto;
}
h1 {
	font-size:20px;
	line-height:140%;
	font-weight:bold !important;
}
h2 {
	font-size:16px;
}
#wrapper{
overflow:hidden;
}
.sub{
font-size:14px;
}
/***************************************************
	smp class
--------------------------------------------------*/
.pc{
display:none;
}
.smp{
display:inherit;
}
.visible-phone {
	display: inherit !important;
}
.hidden-phone {
	display: none !important;
}
.hidden-desktop {
	display: inherit !important;
}
.visible-desktop {
	display: none !important;
}
.nav-collapse {
	-webkit-transform: translate3d(0, 0, 0);
}
.page-header h1 small {
	display: block;
	line-height: 18px;
}
input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #ccc;
}
.form-horizontal .control-group > label {
	float: none;
	width: auto;
	padding-top: 0;
	text-align: left;
}
.form-horizontal .controls {
	margin-left: 0;
}
.form-horizontal .control-list {
	padding-top: 0;
}
.form-horizontal .form-actions {
	padding-right: 10px;
	padding-left: 10px;
}
.modal {
	top:10px !important;
	right: 10px;
	left: 10px;
	width: auto;
	margin: 0;
}
.modal-header, .modal-body, .modal-footer {
	width: auto;
}
.modal-header {
	padding:9px 10px;
}
.modal-body {
	padding:10px;
}
.modal-body th, .modal-body td {
	display:block;
	text-align:left;
}
.modal-header .close {
	padding: 10px;
	margin: -10px;
}
.carousel-caption {
	position: static;
}
.fixed {
	position:static !important;
}
.staticSide div.fixed {
	width:auto;
}
/***************************************************
	bootstrap advance
--------------------------------------------------*/
.navbar-fixed-top, .navbar-fixed-bottom {
	position:absolute;
	top:0;
}
.navbar .brand{
	width:145px;
	height:28px;
	margin:5px 0 0;
	background:url(../img/logo_iphone-trans_mg.png?20121112) top left no-repeat;
	background-size:auto 100%;
}
.navbar .nav.pull-right > li {
	padding-left:0;
}

.navbar .nav > li > a {
	font-size:11px;
	padding:9px 11px 11px 11px !important;
}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
	min-width:0;
	max-width:480px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding:0 5px !important;
}
.activeRoom {
	max-width:8em;
}

#roomSelect li .roomDelete{display:block;}

.nav-room {
}
.nav-room .dropdown-menu {
	right:-38px !important;
}
.dropdown-menu {max-width:280px}
.nav-room .dropdown-menu::before {right:45px !important}
.nav-room .dropdown-menu::after {right:46px !important}
.nav-setting .dropdown-menu::before {right:6px !important}
.nav-setting .dropdown-menu::after {right:7px !important}

/***************************************************
	chatFormWrapper
--------------------------------------------------*/
.chatFormWrapper {
	position:static;
}
.chatFormWrapper > .inner {
	padding:15px 5px 0;
}

/***************************************************
	chatListWrapper
--------------------------------------------------*/
.chatListWrapper {
margin:0;
	padding:0 5px;
}
.chatListWrapper > .inner {
margin:0;
padding-top:0px;
}
.dropdown .caret {
margin-left:5px;
}

/***************************************************
	inputControls
--------------------------------------------------*/
.inputControls {
	position:relative;
}
.inputControls .floatLeft {
	float:none;
}
.inputControls .floatRight {
	position:absolute;
	top:5px;
	right:5px;
}
.inputControls .uploadFiles {
	margin:5px 0 0 0;
}
/***************************************************
	entry
--------------------------------------------------*/
.entry .tools {
	opacity:1;
}
.entry {
	padding:7px 7px 6px;
}
.entry .body{
	margin-bottom:15px;
}
/***************************************************
staticContent
--------------------------------------------------*/
.staticContent {
	text-align:left;
	max-width:940px;
	min-height:0;
	margin:0 auto;
/*	padding:20px 5px;*/
padding:20px 7px;

}
#top .staticContent {
	padding:7px 7px;
}
/***************************************************
staticContent
--------------------------------------------------*/
.staticContent h1 {
	font-weight:normal;
	margin:0 0 10px 0;
}

/***************************************************
staticMain
--------------------------------------------------*/
.staticMain {
	float:none;
	width:100%;
	margin-right:0;
}
.staticMain .inner {
	margin-right:0;
}
/***************************************************
staticSide
--------------------------------------------------*/
.staticSide {
	float:none;
	width:auto;
	margin-top:30px;
	padding-top:20px;
	border-top:solid 1px #ccc;
}

/***************************************************
indexSignup
--------------------------------------------------*/
.indexSignup {
	width:auto;
	min-height:0;
	background:none;
	margin:20px 0;
}
.indexSignup > .inner {
background-image:url(../img/iphone01_smp.png);
background-position:center top;
background-repeat:no-repeat;
background-size:210px 200px;
padding-top:220px;
}
.signupForm{margin-top:20px;}
.signupForm .inputField {
	float:none;
	padding-right:0;
	margin-bottom:5px;
}
.signupForm input[type="text"] {
	height:40px;
	font-size:13px;
}
.signupForm .submit {
	position:static;
	width:100%;
	top:0;
	right:0;
}
.signupForm .submit .btn {
/*	height:30px;
	font-size:13px;*/
}

.signupForm .attention{
	line-height:130%;
	font-size:10px;
	color:#666666;
}

#submitInputDiv{
width:100% !important;
padding:0 !important;
}
#submitButtonDiv{
width:100% !important;
padding:0 !important;
}

/***************************************************
footer
--------------------------------------------------*/
footer {
	text-align:center;
}
footer ul {
	float:none;
	margin-bottom:5px;
}
footer li {
}

/***************************************************
settingList
--------------------------------------------------*/
.settingListHead {
	width:100%
}
.settingListValue {
	width:100%;
	padding-top:5px;
}
/***************************************************
steps
--------------------------------------------------*/
.steps {
	margin:0;
}
.steps li {
	position: relative;
	display:inline-block;
	width:90%;
	height:30px;
	line-height:30px;
	margin:0 5px 10px 5px;
	padding:0 5px;
	list-style:none;
	background:#e0e0e0;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
}
.steps li:after {
	content: ' ';
	position: absolute;
	top:auto;
	bottom:-30px;
	left:50%;
	width: 0;
	height: 0;
	margin-left:-20px;
	border: 20px solid;
	border-color: #e0e0e0 transparent transparent transparent;
}
.steps li.active {
	background:#ff9900;
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2);
}
.steps li.active:after {
	border-color: #ff9900 transparent transparent transparent;
}
.steps li:last-child {
	padding:0 5px;
}
.steps li:last-child:after {
	border:none;
}
/***************************************************
userList
--------------------------------------------------*/
.userList {
	min-width:0 !important;
}
.userList h2 {
	padding-top:0;
	margin-top:20px;
	font-size:16px;
}
.userList.doubleList li {
	float:none;
	width:100%;
}
.userList .tools {
	margin:1px 0 0 0;
}
.userList span {
	line-height:1.3;
}
.userList .avatar, .userList .avatar img {
	width:32px;
	height:32px;
	margin:0;
}
.userList .name, .userList .mail {
	margin-left:40px;
}
/***************************************************
searchBar
--------------------------------------------------*/
.searchBar {
	width:100%;
}
/***************************************************
	leave
--------------------------------------------------*/
.leaveFinish {
	margin:0 0 20px 0 !important;
}
/***************************************************
	alert-phone
--------------------------------------------------*/
.alert-phone {
	text-align:center;
}
.alert-phone .btn {
	display:block;
	width:90%;
	margin:0 auto 5px auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
/***************************************************
	Bootstrap icon SMP
--------------------------------------------------*/
[class^="icon-"],
[class*=" icon-"] {
	background-image: url("../img/glyphicons.png");
	background-position: 14px 14px;
	background-size:460px;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
	*margin-left: 0;
}

.icon-white {
	background-image: url("../img/glyphicons-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -23px 0;
}

.icon-search {
  background-position: -47px 0;
}

.icon-envelope {
  background-position: -70px 0;
}

.icon-heart {
  background-position: -94px 0;
}

.icon-star {
  background-position: -118px 0;
}

.icon-star-empty {
  background-position: -142px 0;
}

.icon-user {
  background-position: -165px 0;
}

.icon-film {
  background-position: -188px 0;
}

.icon-th-large {
  background-position: -211px 0;
}

.icon-th {
  background-position: -234px 0;
}

.icon-th-list {
  background-position: -258px 0;
}

.icon-ok {
  background-position: -282px 0;
}

.icon-remove {
  background-position: -305px 0;
}

.icon-zoom-in {
  background-position: -329px 0;
}

.icon-zoom-out {
  background-position: -352px 0;
}

.icon-off {
  background-position: -376px 0;
}

.icon-signal {
  background-position: -400px 0;
}

.icon-cog {
  background-position: -423px 0;
}

.icon-trash {
  background-position: -447px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -23px -24px;
}

.icon-time {
  background-position: -47px -24px;
}

.icon-road {
  background-position: -70px -24px;
}

.icon-download-alt {
  background-position: -94px -24px;
}

.icon-download {
  background-position: -117px -24px;
}

.icon-upload {
  background-position: -141px -24px;
}

.icon-inbox {
  background-position: -164px -24px;
}

.icon-play-circle {
  background-position: -188px -24px;
}

.icon-repeat {
  background-position: -211px -24px;
}

.icon-refresh {
  background-position: -235px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -281px -24px;
}

.icon-flag {
  background-position: -306px -24px;
}

.icon-headphones {
  background-position: -329px -24px;
}

.icon-volume-off {
  background-position: -353px -24px;
}

.icon-volume-down {
  background-position: -376px -24px;
}

.icon-volume-up {
  background-position: -400px -24px;
}

.icon-qrcode {
  background-position: -423px -24px;
}

.icon-barcode {
  background-position: -447px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -71px -48px;
}

.icon-print {
  background-position: -95px -48px;
}

.icon-camera {
  background-position: -118px -48px;
}

.icon-font {
  background-position: -141px -48px;
}

.icon-bold {
  background-position: -165px -48px;
}

.icon-italic {
  background-position: -189px -48px;
}

.icon-text-height {
  background-position: -212px -48px;
}

.icon-text-width {
  background-position: -236px -48px;
}

.icon-align-left {
  background-position: -259px -48px;
}

.icon-align-center {
  background-position: -282px -48px;
}

.icon-align-right {
  background-position: -305px -48px;
}

.icon-align-justify {
  background-position: -329px -48px;
}

.icon-list {
  background-position: -353px -48px;
}

.icon-indent-left {
  background-position: -377px -48px;
}

.icon-indent-right {
  background-position: -400px -48px;
}

.icon-facetime-video {
  background-position: -423px -48px;
}

.icon-picture {
  background-position: -447px -48px;
}

.icon-pencil {
  background-position: 0 -71px;
}

.icon-map-marker {
  background-position: -25px -71px;
}

.icon-adjust {
  background-position: -48px -71px;
}

.icon-tint {
  background-position: -70px -71px;
}

.icon-edit {
  background-position: -94px -71px;
}

.icon-share {
  background-position: -119px -71px;
}

.icon-check {
  background-position: -142px -71px;
}

.icon-move {
  background-position: -165px -71px;
}

.icon-step-backward {
  background-position: -188px -71px;
}

.icon-fast-backward {
  background-position: -212px -71px;
}

.icon-backward {
  background-position: -236px -71px;
}

.icon-play {
  background-position: -259px -71px;
}

.icon-pause {
  background-position: -282px -71px;
}

.icon-stop {
  background-position: -306px -71px;
}

.icon-forward {
  background-position: -329px -71px;
}

.icon-fast-forward {
  background-position: -352px -71px;
}

.icon-step-forward {
  background-position: -376px -71px;
}

.icon-eject {
  background-position: -400px -71px;
}

.icon-chevron-left {
  background-position: -423px -71px;
}

.icon-chevron-right {
  background-position: -447px -71px;
}

.icon-plus-sign {
  background-position: 0 -94px;
}

.icon-minus-sign {
  background-position: -24px -94px;
}

.icon-remove-sign {
  background-position: -47px -94px;
}

.icon-ok-sign {
  background-position: -71px -94px;
}

.icon-question-sign {
  background-position: -94px -94px;
}

.icon-info-sign {
  background-position: -118px -94px;
}

.icon-screenshot {
  background-position: -141px -94px;
}

.icon-remove-circle {
  background-position: -165px -94px;
}

.icon-ok-circle {
  background-position: -188px -94px;
}

.icon-ban-circle {
  background-position: -212px -94px;
}

.icon-arrow-left {
  background-position: -235px -94px;
}

.icon-arrow-right {
  background-position: -259px -94px;
}

.icon-arrow-up {
  background-position: -283px -94px;
}

.icon-arrow-down {
  background-position: -305px -94px;
}

.icon-share-alt {
  background-position: -329px -94px;
}

.icon-resize-full {
  background-position: -352px -94px;
}

.icon-resize-small {
  background-position: -376px -94px;
}

.icon-plus {
  background-position: -399px -94px;
}

.icon-minus {
  background-position: -423px -94px;
}

.icon-asterisk {
  background-position: -447px -94px;
}

.icon-exclamation-sign {
  background-position: 0 -117px;
}

.icon-gift {
  background-position: -24px -117px;
}

.icon-leaf {
  background-position: -47px -117px;
}

.icon-fire {
  background-position: -71px -117px;
}

.icon-eye-open {
  background-position: -94px -117px;
}

.icon-eye-close {
  background-position: -117px -117px;
}

.icon-warning-sign {
  background-position: -141px -117px;
}

.icon-plane {
  background-position: -165px -117px;
}

.icon-calendar {
  background-position: -188px -117px;
}

.icon-random {
  background-position: -212px -117px;
}

.icon-comment {
  background-position: -235px -117px;
}

.icon-magnet {
  background-position: -259px -117px;
}

.icon-chevron-up {
  background-position: -282px -117px;
}

.icon-chevron-down {
  background-position: -306px -119px;
}

.icon-retweet {
  background-position: -329px -117px;
}

.icon-shopping-cart {
  background-position: -353px -117px;
}

.icon-folder-close {
  background-position: -376px -117px;
}

.icon-folder-open {
  background-position: -400px -117px;
}

.icon-resize-vertical {
  background-position: -423px -117px;
}

.icon-resize-horizontal {
  background-position: -447px -118px;
}

.icon-hdd {
  background-position: 0 -141px;
}

.icon-bullhorn {
  background-position: -24px -141px;
}

.icon-bell {
  background-position: -48px -141px;
}

.icon-certificate {
  background-position: -71px -141px;
}

.icon-thumbs-up {
  background-position: -94px -141px;
}

.icon-thumbs-down {
  background-position: -117px -141px;
}

.icon-hand-right {
  background-position: -142px -141px;
}

.icon-hand-left {
  background-position: -164px -141px;
}

.icon-hand-up {
  background-position: -189px -141px;
}

.icon-hand-down {
  background-position: -212px -141px;
}

.icon-circle-arrow-right {
  background-position: -235px -141px;
}

.icon-circle-arrow-left {
  background-position: -259px -141px;
}

.icon-circle-arrow-up {
  background-position: -283px -141px;
}

.icon-circle-arrow-down {
  background-position: -306px -141px;
}

.icon-globe {
  background-position: -329px -141px;
}

.icon-wrench {
  background-position: -353px -141px;
}

.icon-tasks {
  background-position: -374px -141px;
}

.icon-filter {
  background-position: -400px -141px;
}

.icon-briefcase {
  background-position: -423px -141px;
}

.icon-fullscreen {
  background-position: -447px -141px;
}

/* 別でtooltipを使う場合に注意 */
.tooltip{
	visibility:hidden;
}

/***************************************************
appicon
--------------------------------------------------*/
[class^="appicon-"],
[class*=" appicon-"] {
  background-image: url("../img/appicon_smp.png");
}
[class^="appicon-24"],
[class*=" appicon-24"] {
	background-image: url("../img/appicon_smp.png");
}
