@charset "utf-8";
body {
	font-size: 14px /*, "Lucida Grande", "メイリオ", Helvetica, Arial, sans-serif*/;
	font-family:'メイリオ', Meiryo, Verdana, sans-serif;
}
a {
	color: #00B7FF;
}
html, body {
}
body {
	background:#f0f0f0;
	padding-top:42px;
}
label {
	cursor:pointer;
}
.smp {
	display:none;
}
.container-fluid {
	padding:0 0 0;
	text-align:center;
}
.relative {position:relative}

/***************************************************
activitychecker
--------------------------------------------------*/
totalUnreadNum .activitychecker {

}
.activitychecker {
	display:block;
	float:left;
	height:18px;
	width:18px;
	line-height:19px;
	padding:0;
	margin:0 5px 0 0;
	text-align:center;
	font-weight:bold;
	color:#fff;
	border-radius:4px;
	box-shadow:inset 0 1px 1px 0px rgba(0, 0, 0, 0.1);
	background:#da1b1f;
	background:-moz-linear-gradient(top, #e63439, #da1b1f);
	background:-webkit-gradient(linear, left top, left bottom, from(#e63439), to(#da1b1f));
	border-top:1px solid #ab1619;
	border-left:1px solid #c81a1e;
	border-right:1px solid #c81a1e;
	border-bottom:1px solid #c81a1e;
	font-weight:bold;
	text-shadow:0 1px 0 #a80203;
}
.activitychecker {
	display:block;
	float:left;
	height:15px;
	width:15px;
	line-height:15px;
	padding:0;
	margin:0 5px 0 0;
	text-align:center;
	color:#fff;
	border-radius:3px;
	background:#f00;
	font-weight:bold;
	font-size:10px;
	text-shadow:0 1px 0 #a80203;
	border-top:1px solid #ab1619;
	border-left:1px solid #c81a1e;
	border-right:1px solid #c81a1e;
	border-bottom:1px solid #c81a1e;
}
#totalUnreadNum.activitychecker {
	position:absolute;
	left:20px;
	top:7px;
	height:13px;
	width:auto;
	min-width:15px;
	line-height:13px;
	margin:0;
	padding:0 1px;
	border:none;
}
.activitychecker.zero {
	box-shadow:inset 0 1px 1px 0px rgba(0, 0, 0, 0.05);
	background:#b5b5b5;
	background:-moz-linear-gradient(top, #b5b5b5, #b5b5b5);
	background:-webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#b5b5b5));
	border-top:1px solid #8f8e8e;
	border-left:1px solid #acacad;
	border-right:1px solid #acacad;
	border-bottom:1px solid #a9acad;
	text-shadow:0 1px 0 #a3a4a6;
}
.dropdown-menu .activitychecker {
	height:15px;
	width:15px;
	line-height:15px;
	font-size:10px;
	border-radius:4px;
}
.dropdown-menu {
	padding:5px 0;
}
.dropdown-menu a {
	padding:3px 10px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover {
	color:#313131;
	text-decoration:none;
	background-color:#EEE;
}
.dropdown-menu li.active{
background-color:#222222 !important;
}

/***************************************************
bootstrap advance
--------------------------------------------------*/
.navbar {
	border-bottom:solid 1px #aeafb1;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	font-size:11px !important;
}
.navbar h1 {
	margin:0;
}
.navbar .navbar-inner {
	min-height:0;
	box-shadow:none;
	background:#FFF;
	background:-moz-linear-gradient(top, #FFFFFF, #eff1f3);
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#eff1f3));
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#eff1f3', GradientType=0);
	border-top:solid 1px #FFFFFF;
	border-bottom:solid 1px #f8f8f8;
*background:#FFFFFF url(../img/bg_header.gif) bottom left repeat-x;
	text-align:left;
}
.navbar h1 > a {
	display:block;
}
/*.navbar .brand { //Voice
	width:75px;
	height:30px;
	line-height:100px;
	background:url(../img/logo_aipoplus.png?20121108) top left no-repeat;
	overflow:hidden;
	color:#313131;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	margin:4px 0 0;
	padding:0;
}*/
.navbar .brand {
	width:145px;
	height:28px;
	line-height:100px;
	background:url(../img/logo-trans_mg.png?20121112) top left no-repeat;
	overflow:hidden;
	color:#313131;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	margin:5px 0 0;
	padding:0;
}

.navbar .nav.pull-right > li {
	padding-left:10px;
}
.navbar .nav > li > a {
	color:#606060;
	text-shadow:0 1px 0 #ffffff;
	padding:9px 5px 11px 5px !important;
}
.navbar .nav > li > a:hover {
	color:#000;
}
.dropdown-toggle {
	clear:both;
}
.navbar .nav.pull-right {
	margin-left:0;
	height:39px !important; /*XPのChromeでヘッダーの高さが変わるので指定*/
}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width:auto !important;
	min-width:480px;
	max-width:940px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding:0 20px !important;
}
.modal form {
	margin:0;
}
.modal-header, .modal-body, .modal-footer {
	width:530px;
}
.modal-header h3 {
	font-size:16px;
	line-height:1;
}
.modal-body {
	overflow-scrolling:touch;
	-webkit-overflow-scrolling:touch;
}

.modal-body th .avatar {
	margin:0 auto;
}
#roomSelect {
	max-width:265px;
	z-index:5000 !important;
}
#roomSelect li {
	padding-right:35px;
	position:relative;
}
#roomSelect li:hover {
	background:#EEEEEE;
}
#roomSelect li.normal:hover{
	background:none;
}

.roomDelete {
	position:absolute;
	top:4px;
	right:10px;
}
.roomDelete a {
	display:block;
	height:16px;
	width:16px;
	border-radius:16px;
	line-height:16px;
	text-align:center;
	padding:0;
}
.roomDelete a:hover {
	background:#CCCCCC;
	text-decoration:none;
}
#roomSelect li .roomDelete {
	display:none;
}
#roomSelect li:hover .roomDelete {
	display:block;
}
.activeRoom {
	line-height:21px;
	display:block;
	float:left;
	vertical-align:middle;
	max-width:12em;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.dropdown .caret {
	margin-left:5px;
	border-bottom-color:#333333 !important;
	border-top-color:#333333 !important;
}
/*.nav-collapse {
	padding-top:7px;
}*/
input, textarea {width:auto}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height:26px;
}
/* btn */
.btn {
	font-size:13px;
	line-height:18px;
}


/* btn-aipo */
.btn-aipo, .btn-aipo:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-aipo.activ {
	color: rgba(255, 255, 255, 0.75);
}
.btn-aipo {
	background-color: #faa732;
 *background-color: #f89406;
	background-image: -ms-linear-gradient(top, #fb2, #f90);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb2), to(#f90));
	background-image: -webkit-linear-gradient(top, #fb2, #f90);
	background-image: -o-linear-gradient(top, #fb2, #f90);
	background-image: -moz-linear-gradient(top, #fb2, #f90);
	background-image: linear-gradient(top, #fb2, #f90);
	background-repeat: repeat-x;
	border-color: #fb2 #fb2 #f90;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fb2', endColorstr='#f90', GradientType=0);
 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-aipo:hover, .btn-aipo:active, .btn-aipo.active, .btn-aipo.disabled, .btn-aipo[disabled] {
	background-color: #f90;
 *background-color: #f90;
}
.btn-aipo:active, .btn-aipo.active {
	background-color: #c67605 \9;
}
.btn-group.open .btn-aipo.dropdown-toggle {
	background-color: #f89406;
}
.btn-aipo .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.btn-double {
	width:100%;
}
.btn-double .btn {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
}

/***************************************************
search
--------------------------------------------------*/
.search  {
padding:0 5px;
}
.search form {
position: relative;
margin: 0;
}
.search input[type="submit"], .search input[type="submit"]:hover, .search input[type="submit"]:active {
position: absolute;
width: 24px;
height: 24px;
margin: 1px;
left: 0;
background: url(../img/icon_search_16.png) no-repeat 4px 4px;
font-size: 0;
}
.search input[type="text"] {
width: 100%;
padding-left: 24px;
}
.search input[type="submit"] {
border: none !important;
box-shadow: none !important;
}
.search input {
float: left;
margin: 0;
background: transparent;
}
.search .guide {
color: #CCC;
left: 26px;
line-height: 2em;
margin: 0;
position: absolute;
top: 0;
font-size:13px;
font-weight: normal;
text-shadow: none;
}


/***************************************************
form default
--------------------------------------------------*/
::-webkit-input-placeholder {
 color:#cccccc;
}
:-moz-placeholder {
 color:#cccccc;
}
/***************************************************
box-sizing
--------------------------------------------------*/
input, textarea, table, th, td {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height:auto;
}
/***************************************************
avatar
--------------------------------------------------*/
.avatar, .avatar img {
	border-radius:3px;
	background:#cccccc;
	width:48px;
	height:48px;
}
.avatar_s, .avatar_s img {
	width:24px;
	height:24px;
}
.avatar_l, .avatar_l img {
	width:128px;
	height:128px;
}
/***************************************************
wrapper
--------------------------------------------------*/
#wrapper {
	background:#ffffff;
}
/***************************************************
chatFormWrapper
--------------------------------------------------*/
.chatFormWrapper {
	background:#EEE;
	background:-moz-linear-gradient(top, #DCDCDC, #EEE);
	background:-webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EEE));
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EEEEEE', GradientType=0);
*background:#EEEEEE url(../img/bg_form.gif) top left repeat-x;
	position: fixed;
	z-index:1000;
	top:40px;
	width:100%;
}
.chatFormWrapper > .inner {
	max-width:940px;
	margin:0 auto;
	padding:15px 20px;
}
.chatFormWrapper .inner {
*width:940px;
*margin:0 auto;
*padding:20px 20px;
}
.chatFormWrapper form, .chatFormWrapper fieldset {
	margin:0;
	padding:0;
}
.chatFormWrapper form {
	border:solid 1px #cdcdcd;
	border-radius:3px;
	-ms-border-radius:3px;
}
.uploadFiles {
	color:#999999;
	font-size:10px;
}
.uploadFiles ul {
	margin-bottom:0;
}
.uploadFiles li {
	line-height:1.3;
}
.inputMention textarea {
	width:100%;
	margin:0;
	resize: none;
	overflow-y: hidden;
	border:none;
	border-radius:3px 3px 0 0;
	-ms-border-radius:3px 3px 0 0;
}
.inputControls {
	background:#F5F5F5;
	padding:5px;
	border-top:solid 1px #EEEEEE;
	border-radius:0 0 3px 3px;
	-ms-border-radius:0 0 3px 3px;
}
/***************************************************
inviteWrapper
--------------------------------------------------*/
.inviteWrapper {
*width:940px;
	text-align:left;
	max-width:940px;
	margin:0 auto 0px;
	padding:0 20px;
}
.inviteWrapper > .inner {
	/*border:1px solid #DCDCDC;
border-radius:7px;*/
padding-top:5px;
}
/***************************************************
chatListWrapper
--------------------------------------------------*/
.chatListWrapper {
*width:940px;
	text-align:left;
	max-width:940px;
	margin:0 auto 20px;
	padding:0 20px;
}
.chatListWrapper > .inner {
	/*border:1px solid #DCDCDC;
border-radius:7px;*/
padding-top:145px;
}
/***************************************************
invite
--------------------------------------------------*/
#invite {
	margin:10px 0;
}
#invite > div {
	padding:10px 0;
	border-top:solid 1px rgba(192, 152, 130, 0.2);
}
#invite > div:first-child {
	border:none;
}
/***************************************************
entry
--------------------------------------------------*/
.entry {
	position:relative;
	border-bottom:solid 1px #eeeeee;
	padding:10px 7px 9px;
	-webkit-transition:0.2s ease-in-out
}
.entry:last-child {
	border-bottom:none;
}
.draft .entry:last-child {
	border-bottom:solid 1px #eeeeee;
}
.entry .tools {
	opacity:0;
	float:right;
	-webkit-transition:0.2s ease-in-out
}
.entry:hover .tools {
	opacity:1;
}
.entry .meta {
	float: left;
	width: 48px;
	font-size:10px;
}
.entry .avatar {
	width:48px !important;
	height:48px !important;
}
.entry .time {
	position:absolute;
	bottom:2px;
	left:68px;
	color:#999;
	float:left;
	padding-right:10px;
	font-size:11px;
}
.entry .read {
	position:absolute;
	bottom:2px;
	left:110px;
	white-space:nowrap;
	font-size:11px;/*text-align:center;*/
}
.entry .read a {
	color:#999;
}
.entry .body {
	color:#1B1B1B;
	margin-bottom:5px;
	word-wrap: break-word;
}
.entry .thumbnail img {
	max-width:120px;
	max-height:120px;
	height:auto;
}
.chatBody {
	margin-left:60px;
	margin-bottom:15px;
}
.entry .name {
	font-size:12px;
	margin-bottom:5px;
	line-height:1;
	font-weight:bold;
}
#chat hr:last-of-type {
	display: none;
}
.entryPicup {/*各所でのエントリーピックアップ表示*/
	background:#f0f0f0;
	margin-bottom:10px;
	padding:10px;
	border-top:none;
	border-radius:4px;
}
.entryPicup .date {
	text-align:right;
	font-size:10px;
line-height:1em color:#666;
}
/***************************************************
dateWrapper
--------------------------------------------------*/
.dayWrapper {
	position:relative;
}
.day {
	padding:5px;
	background:#f0f0f0;
	border-radius:4px 4px 0 0;
	font-weight:bold;
}
/***************************************************
memberList
--------------------------------------------------*/
.memberList {
	list-style: none;
	margin:0 0 5px 0 !important;
	padding:0;
}
.memberList li {
	width:24px;
	float:left;
	margin-right: 4px;
	background:#ccc;
	border-radius: 3px;
}
.memberList li img {
	float: left;
}
.memberList li.off img {
	opacity: 0.2;
}

.checkList h4 {
	margin:15px 0 5px 0;
}
.checkList h4:first-child {
	margin-top:0;
}
.checkList input[type="redio"], .checkList input[type="checkbox"] {
	margin-bottom: 0;
	margin-right: 5px!important;
}
.checkList label {
	display: block;
	float: none;
	width: 100%;
	padding: 5px 0;
	margin: 0;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/***************************************************
staticContent
--------------------------------------------------*/
.staticContent {
	text-align:left;
	max-width:940px;
	min-height:400px;
	margin:0 auto;
	padding:30px 20px;
}
.staticContent h1 {
	font-weight:normal;
	margin:0 0 30px 0;
}

.staticContent h2 {
font-size:18px;
border-bottom:1px solid #DCDCDC;
}

.staticContent ul{
margin:0;
padding:0;
}
.staticContent li{
/*margin:15px 0;*/
padding:0;
line-height:160%;
}
.staticContent ul li{
list-style:none;
}

.staticContent table{
padding:0;
margin:0;
border-collapse:collapse;
border-top:1px solid #DCDCDC;
}
.staticContent table th{
border-bottom:1px solid #DCDCDC;
padding:5px;
background:#f7f7f7;
}
.staticContent table td{
border-bottom:1px solid #DCDCDC;
padding:5px;
}


/***************************************************
staticSingle
--------------------------------------------------*/
.staticSingle {
	max-width:940px;
	margin:0 auto;
}
/***************************************************
staticMain
--------------------------------------------------*/
.staticMain {
	float:left;
	width:100%;
	margin-right:-280px;
}
.staticMain .inner {
	margin-right:280px;
	line-height:160%;
}
.staticMain h2, .staticMain h3, .staticMain h4, .staticMain h5 {
	margin:30px 0 10px 0;
}
.staticMain h2 {
}
.staticMain h2:first-child {
	margin-top:0;
}
.staticMain h3 {
}
/***************************************************
staticSide
--------------------------------------------------*/
.staticSide {
	float:right;
	width:240px;
}
.staticSide h1, .staticSide h2, .staticSide h3 {
	margin:1em 0 0.5em 0;
	font-size:14px;
}
.staticSide h2:first-child {
	margin-top:0;
}

.staticSide .tabs-right > .nav-tabs {
	width:100%;
	margin-left:0;
}

.staticContent .tabs-right > .nav-tabs li {
margin:0;
}


/***************************************************
indexSignup
--------------------------------------------------*/
.indexSignup {
	width:940px;
	min-height:300px;
	margin:40px 0;
	background:url(../img/signupvisual.png) no-repeat top right;
}
.indexSignup > .inner {
	max-width:460px;
}
.indexSignup h1 {
	margin-bottom:10px;
	font-weight:normal;
}
.signupForm {
	position:relative;
	width:100%;
	margin-top:40px;
}
.signupForm > .inner {
	padding:10px;
	background:#f6f6f6;
	border-radius:6px;
	-ms-border-radius:6px;
}
.signupForm .inputField {
	padding-right:105px;
}
.signupForm input {
	margin:0;
}
.signupForm input[type="text"] {
	width:100%;
	height:40px;
	font-size:16px;
}
.signupForm .submit {
	position:absolute;
	width:100px;
	top:10px;
	right:10px;
}
.signupForm .submit .btn {
	float:right;
	width:100%;
	height:40px;
	min-width:5em;
	font-size:16px;
}
.signupForm .attention {
	position:relative;
	margin:5px 0 0 0;
	padding-left:0px;
	font-size:11px;
	color:#999;
}
.signupForm .attention .icon {
	position:absolute;
	left:0;
}
.avatarPreview {
	width:200px;
	height:200px;
	background-repeat:no-repeat !important;
	background-position:center center !important;
	background-size:auto 100% !important;
	border-radius:6px;
	-ms-border-radius:6px;
	box-shadow:0 0 0 1px rgba(0,0,0,0.2), inset 1px 1px 3px rgba(0,0,0,0.5);
}

/***************************************************
loginForm
--------------------------------------------------*/
.loginForm input,
.reminderForm input {
	font-size:18px;
}
.loginForm input[type="text"], .loginForm input[type="password"],
.reminderForm input[type="text"] {
	width:100%;
	font-size:18px;
	height:40px;
}
.loginForm > div {
}
.loginForm.signup {
	max-width:480px;
	margin:0 auto;
}
.reminderForm {
	max-width:480px;
	margin:0 auto;
}
/***************************************************
footer
--------------------------------------------------*/
footer {
	background:#f0f0f0;
	padding:10px 0;
	font-size:11px;
	color:#666666;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	border-top:solid 1px #e6e6e6;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.7);
}
footer > .inner {
	max-width:940px;
	margin:auto;
	padding:0 5px;
}
footer ul {
	float:right;
	margin:0;
}
footer li {
	display:inline;
	list-style:none;
	margin:0 0 0 10px;
}
footer a {
	color:#666666;
}
footer a:hover {
	color:#000;
	text-decoration:none;
}
.copyright {
}
/***************************************************
settingList
--------------------------------------------------*/
.settingList {
	margin:0;
	border-top:solid 1px #999999;
}
.settingList li {
	position:relative;
	list-style:none;
	border-bottom:solid 1px #e9e9e9;
}
.settingList li > a {
	display:block;
	padding:10px 5px;
	color:#333333;
}
.settingList li > a:hover {
	text-decoration:none;
	background:#eeeeee;
}
.settingList span {
	display:block;
	margin:0 5px;
}
.settingListHead {
	float:left;
	font-weight:bold;
	width:25%;
}
.settingListTool {
	position:absolute;
	right:10px;
	color:#0088cc;
}
.settingList li > a:hover .settingListTool {
	text-decoration:underline;
}
.settingListValue {
	float:left;
	width:50%;
}
/***************************************************
steps
--------------------------------------------------*/
.steps {
	margin:0;
}
.steps li {
	position: relative;
	display:inline-block;
	width:10em;
	height:40px;
	line-height:40px;
	margin:0 20px 0 5px;
	padding:0 0 0 5px;
	list-style:none;
	background:#e0e0e0;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
}
.steps li:after {
	content: ' ';
	position: absolute;
	top:0;
	right:-40px;
	width: 0;
	height: 0;
	border: 20px solid;
	border-color: transparent transparent transparent #e0e0e0;
}
.steps li.active {
	background:#ff9900;
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2);
}
.steps li.active:after {
	border-color: transparent transparent transparent #ff9900;
}
.steps li:last-child {
	padding:0 5px;
}
.steps li:last-child:after {
	border:none;
}

/***************************************************
userList
--------------------------------------------------*/
.userList {
	min-width:320px;
}
.userList h2 {
	margin:0;
	padding-top:50px;
	font-size:22px;
	color:#666666;
	border-bottom:solid 1px #dddddd;
}
.userList ul {
	margin:0;
}
.userList li {
	position:relative;
	list-style:none;
	overflow:hidden;
	border-bottom:solid 1px #dddddd;
}
.userList li:hover {
	background:#f6f6f6;
}
.userList.doubleList li {
	float:left;
	width:50%;
	padding:10px 0;
}

.userList span {
	display:block;
}
.userList .tools {
	float:right;
	margin:8px 5px 0 0;
}
.userList .tools .btn {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.userList .avatar {
	float:left;
	width:48px;
	height:48px;
	margin:0 5px;
}
.userList .name {
	font-weight:bold;
}
.userList .name, .userList .mail {
	margin-left:55px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.userList .mail {
	font-size:12px;
	color:#999999;
}
/***************************************************
userSingle
--------------------------------------------------*/
.userSingle {
	position:relative;
}
.userSingle .avatar {
	float:left;
}
.userSingle .body {
	margin-left:60px;
}
/***************************************************
searchBar
--------------------------------------------------*/
.searchBar {
	position:relative;
	margin:0 auto;
}
.searchBar form {
	margin:0;
}
.searchBar .text {
	margin-right:75px;
}
.searchBar input[type=text] {
	height:28px;
	margin:0;
}
.searchBar .submit {
	position:absolute;
	top:0;
	right:0;
}
.searchBar .btn {
	width:70px;
}

/***************************************************
	leave
--------------------------------------------------*/
.leaveFinish {
	margin:80px 0 20px 0 !important;
}

/***************************************************
	indicatorTip
	利用する際は下記のように位置を指定すること
	<div class="indicatorTip" style="top:50%;left:50%;margin:-22px 0 0 -22px;">
--------------------------------------------------*/
.indicatorTip {
	position:absolute;
	background:#666;
	border-radius:6px;
	padding:10px;
	color:#fff;
	text-shadow:#000;
}

/***************************************************
	alert-phone
--------------------------------------------------*/
.alert-phone {
	padding:8px;
}
/***************************************************
	smp class
--------------------------------------------------*/
.hidden-desktop {
	display: none !important;
}
/***************************************************
appicon
--------------------------------------------------*/
[class^="appicon-"],
[class*=" appicon-"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  *margin-right: .3em;
  line-height: 18px;
  vertical-align: text-top;
  background-image: url("../img/appicon.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size:18px;
}
.appicon-address {}
.appicon-cog {background-position: 0px -18px;}
.appicon-baloon {background-position: 0px -36px;}
.appicon-user {background-position: 0px -54px;}
.appicon-phone {background-position: 0px -72px;}

[class^="appicon-24"],
[class*=" appicon-24"] {
	background-image: url("../img/appicon_smp.png");
	background-size:24px;
	width:24px;
	height:24px;
}
.appicon-24-address {}
.appicon-24-cog {background-position: 0px -24px;}
.appicon-24-baloon {background-position: 0px -48px;}
.appicon-24-user {background-position: 0px -72px;}
.appicon-24-phone {background-position: 0px -96px;}

/***************************************************
width&height
--------------------------------------------------*/
.w100, .wide {width: 100% !important}
.w99 {width: 99% !important}
.w95 {width: 95% !important}
.w90 {width: 90% !important}
.w85 {width: 85% !important}
.w80 {width: 80% !important}
.w75 {width: 75% !important}
.w70 {width: 70% !important}
.w65 {width: 65% !important}
.w60 {width: 60% !important}
.w55 {width: 55% !important}
.w50, .half {width: 50% !important}
.w49 {width: 49% !important}
.w45 {width: 45% !important}
.w40 {width: 40% !important}
.w35 {width: 35% !important}
.w33 {width: 33% !important}
.w30 {width: 30% !important}
.w25, .quater {width: 25% !important}
.w20 {width: 20% !important}
.w15 {width: 15% !important}
.w10 {width: 10% !important}
.w5 {width: 5% !important}
.w8 {width: 8em !important}
.w6 {width: 6em !important}
.w5 {width: 5em !important}
.w4 {width: 4em !important}
.w3 {width: 3em !important}
.w2 {width: 2em !important}
.w1 {width: 1em !important}

.h0{height:0 !important}
/***************************************************
    margin&padding
--------------------------------------------------*/
.noMP {margin: 0;padding: 0;}
.mt0 {margin-top: 0px !important}
.mr0 {margin-right: 0px !important}
.mb0 {margin-bottom: 0px !important}
.ml0 {margin-left: 0px !important}
.ma0 {margin: 0px !important}
.mt5 {margin-top: 5px !important}
.mr5 {margin-right: 5px !important}
.mb5 {margin-bottom: 5px !important}
.ml5 {margin-left: 5px !important}
.ma5 {margin: 5px !important}
.mt10 {margin-top: 10px !important}
.mr10 {margin-right: 10px !important}
.mb10 {margin-bottom: 10px !important}
.ml10 {margin-left: 10px !important}
.ma10 {margin: 10px !important}
.mt15 {margin-top: 15px !important}
.mr15 {margin-right: 15px !important}
.mb15 {margin-bottom: 15px !important}
.ml15 {margin-left: 15px !important}
.ma15 {margin: 15px !important}
.mt20 {margin-top: 20px !important}
.mr20 {margin-right: 20px !important}
.mb20 {margin-bottom: 20px !important}
.ml20 {margin-left: 20px !important}
.ma20 {margin: 20px !important}
.mt25 {margin-top: 25px !important}
.mr25 {margin-right: 25px !important}
.mb25 {margin-bottom: 25px !important}
.ml25 {margin-left: 25px !important}
.ma25 {margin: 25px !important}
.mt30 {margin-top: 30px !important}
.mr30 {margin-right: 30px !important}
.mb30 {margin-bottom: 30px !important}
.ml30 {margin-left: 30px !important}
.ma30 {margin: 30px !important}
.mt40 {margin-top: 40px !important}
.mr40 {margin-right: 40px !important}
.mb40 {margin-bottom: 40px !important}
.ml40 {margin-left: 40px !important}
.ma40 {margin: 40px !important}
.mt50 {margin-top: 50px !important}
.mr50 {margin-right: 50px !important}
.mb50 {margin-bottom: 50px !important}
.ml50 {margin-left: 50px !important}
.ma50 {margin: 50px !important}
.mt60 {margin-top: 60px !important}
.mr60 {margin-right: 60px !important}
.mb60 {margin-bottom: 60px !important}
.ml60 {margin-left: 60px !important}
.ma60 {margin: 60px !important}
.mt70 {margin-top: 70px !important}
.mr70 {margin-right: 70px !important}
.mb70 {margin-bottom: 70px !important}
.ml70 {margin-left: 70px !important}
.ma80 {margin: 80px !important}
.mt80 {margin-top: 80px !important}
.mr80 {margin-right: 80px !important}
.mb80 {margin-bottom: 80px !important}
.ml80 {margin-left: 80px !important}
.ma80 {margin: 80px !important}
.pt0 {padding-top: 0px !important}
.pr0 {padding-right: 0px !important}
.pb0 {padding-bottom: 0px !important}
.pl0 {padding-left: 0px !important}
.pa0 {padding: 0px !important}
.pt5 {padding-top: 5px !important}
.pr5 {padding-right: 5px !important}
.pb5 {padding-bottom: 5px !important}
.pl5 {padding-left: 5px !important}
.pa5 {padding: 5px !important}
.pt10 {padding-top: 10px !important}
.pr10 {padding-right: 10px !important}
.pb10 {padding-bottom: 10px !important}
.pl10 {padding-left: 10px !important}
.pa10 {padding: 10px !important}
.pt15 {padding-top: 15px !important}
.pr15 {padding-right: 15px !important}
.pb15 {padding-bottom: 15px !important}
.pl15 {padding-left: 15px !important}
.pa15 {padding: 15px !important}
.pt20 {padding-top: 20px !important}
.pr20 {padding-right: 20px !important}
.pb20 {padding-bottom: 20px !important}
.pl20 {padding-left: 20px !important}
.pa20 {padding: 20px !important}
.pt25 {padding-top: 25px !important}
.pr25 {padding-right: 25px !important}
.pb25 {padding-bottom: 25px !important}
.pl25 {padding-left: 25px !important}
.pa25 {padding: 25px !important}
.pt30 {padding-top: 30px !important}
.pr30 {padding-right: 30px !important}
.pb30 {padding-bottom: 30px !important}
.pl30 {padding-left: 30px !important}
.pa30 {padding: 30px !important}
.pt40 {padding-top: 40px !important}
.pr40 {padding-right: 40px !important}
.pb40 {padding-bottom: 40px !important}
.pl40 {padding-left: 40px !important}
.pa40 {padding: 40px !important}
.pt50 {padding-top: 50px !important}
.pr50 {padding-right: 50px !important}
.pb50 {padding-bottom: 50px !important}
.pl50 {padding-left: 50px !important}
.pa50 {padding: 50px !important}
.pt60 {padding-top: 60px !important}
.pr60 {padding-right: 60px !important}
.pb60 {padding-bottom: 60px !important}
.pl60 {padding-left: 60px !important}
.pa60 {padding: 60px !important}
.pt70 {padding-top: 70px !important}
.pr70 {padding-right: 70px !important}
.pb70 {padding-bottom: 70px !important}
.pl70 {padding-left: 70px !important}
.pa70 {padding: 70px !important}
.pt80 {padding-top: 80px !important}
.pr80 {padding-right: 80px !important}
.pb80 {padding-bottom: 80px !important}
.pl80 {padding-left: 80px !important}
.pa80 {padding: 80px !important}
/***************************************************
    font size
--------------------------------------------------*/
.fs10 {font-size:10px}
.fs11 {font-size:11px}
.fs12 {font-size:12px}
.fs13 {font-size:13px}
.fs14 {font-size:14px}
.fs15 {font-size:15px}
.fs16 {font-size:16px}
.fs18 {font-size:18px}
/***************************************************
    other
--------------------------------------------------*/
.loader {
	background:#666;
	margin:20px 0;
	padding:3px 0;
	text-align:center;
	color:#fff;
	border-radius:4px;
	-ms-border-radius:4px;
}
.fixed {
	position:fixed !important;
}
.staticSide div.fixed {
	width:240px;
}
.nowrap {
	white-space: nowrap !important
}
.center {
	text-align: center !important;
	margin-right:auto;
	margin-left:auto
}
.right {
	text-align: right !important
}
.floatLeft {
	float:left
}
.floatRight {
	float:right
}
/***************************************************
clearfix
--------------------------------------------------*/
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.clearfix {
 *zoom: 1;
}
