@charset "utf-8";

//####################################################################################################
// wrapper
//----------------------------------------------------------------------------------------------------
#wrapper {
	min-width: $layoutMinWidth;
}

//####################################################################################################
// auiHeader
//----------------------------------------------------------------------------------------------------
$headerHeight: 50px;
#auiHeader {
	@extend .clearfix;
	@extend .border-box;
	padding: 0 10px;
	background-color: $white;
	border-bottom: solid 1px $grayLight;

	a {
		@extend .border-box;
	}
}
.hdLogo {
	float: left;
	height: 30px;
	padding: 10px;
}
.hdPages {
	float: left;
	> ul {
		@extend .clearfix;

		> li {
			position: relative;
			display: block;
			float: left;
			line-height: 50px;

			> a {
				display: block;
				float: left;
				padding: 0 18px;
				color: $gray;
				font-size: $fontSizeSmall;
				.fa {
					color: $gray;
				}
				&:hover {
					color: $textColor;
					text-decoration: none;
					.fa {
						color: $textColor;
					}
				}
			}
			&:hover {
				a.setting {
					display: block;
				}
			}
		}
	}
	a.name {
	}
	a.setting {
		display: none;
		position: absolute;
		right: 0;
		width: 16px;
		padding: 0;
		text-align: center;
	}
	a.plus {
	}
	.current {
		position: relative;
		&:after {
			position: absolute;
			display: block;
			content: "";
			width: 12px;
			height: 12px;
			bottom: -7px;
			left: 50%;
			margin-left: -6px;
			background-color: $grayBackLight;
			border: solid 1px $grayBorder;
			border-right: none;
			border-bottom: none;
			@include transform(rotate(45deg));
		}
		a {
			color: $textColor;
		}
	}
}
.hdNavi {
	position: absolute;
	right: 10px;
	font-size: $fontSizeSmall;
	background: $white;

	> ul {
		@extend .clearfix;
		float: left;
		> li {
			display: block;
			position: relative;
			float: left;
			list-style: none;
			line-height: $headerHeight;

			&:hover {
				background-color: $grayBack;
				.dropdown {
					display: block;
				}
			}

			> a {
				position: relative;
				display: block;
				padding: 0 10px;
				color: $textColor;

				.fa {
					color: $grayLight;
				}

				&:hover, &.active {
					text-decoration: none;
					.fa {
						color: $grayDark;
					}
				}
			}
		}
	}
	.fa-caret-down {
		font-size: 10px;
	}
}
.hdSearch {
	position: relative;
	float: left;
	margin: 10px;

	form {
		@extend .bRadiusM;
		border: solid 1px $grayBorder;
		background-color: $white;

		&:hover {
			border: solid 1px $gray;
		}
	}

	input[type=text], .submit {
		height: 20px;
		border: none;
		vertical-align: middle;
	}
	input[type=text] {
		width: 160px;
		margin: 0 3px;
	}
	.submit {
		height: $headerHeight - 20 - 2;
		margin: 0;
		padding: 0;
		background: none;
		filter: none;
		cursor: pointer;
		border-left: solid 1px $grayBorderLight;
		@include border-left-radius(0);

		.fa {
			display: block;
			width: 30px;
			color: $gray;
		}

		&:hover {
			background-color: $grayBackLight;
			.fa {
				color: $textColor;
			}
		}
	}
	.dropdown_menu {
		a {
			line-height: 1.5;
		}
		.date, .body {
			@extend .ellipsis;
			@extend .border-box;
			width: 100%;
		}
		.date {
			color: $gray;
		}
	}
	#preSearch {
		width: 100%;
		li {
			border-top: solid 1px $grayBorderLight;
		}
	}
	.placeholder {
		top: 7px !important;
	}
}
.searchCategory {
	display: inline-block;
	float: left;
	width: 60px;
	border-right: solid 1px $grayBorderLight;
	color: $gray;
	cursor: pointer;
	overflow: hidden;
	@include border-radius(3px 0 0 3px);

	.name {
		line-height: $headerHeight - 20 - 2;
		text-align: center;
	}
	.fa {
		margin-left: 5px;
	}

	&:hover, .active {
		color: $textColor;
		background-color: $grayBackLight;
		.dropdown {
			display: block;
		}
		.fa {
			color: $textColor;
		}
	}
}

.hdCommunications {
	> li > a {
		min-width: 50px;
		text-align: center;
		.fa {
			vertical-align: middle;
			font-size: 18px;
		}
	}
	.count {
		position: absolute;
		display: none;
		top: 10px;
		right: 10px;
		min-width: 12px;
		line-height: 12px;
		padding: 0 2px;
		font-size: 10px;
		text-align: center;
		//color: $gray;
		@include box-shadow(-1px 1px 0 $white);
		@include border-radius(6px);
		@extend .border-box;
	}
	.valid {
		.fa {
			color: $gray;
		}
		.count {
			display: block;
			background-color: $grayDark;
			color: $white;
		}
	}
	.label {
		text-wrap: nowrap;
	}
}
.tweet {
	textarea {
		width: 100%;
	}
}

.hdTools {
	border-left: solid 1px $grayLighter;

	> li > a {
		//width: 130px;
	}
	.name {
		margin: 0 5px;
	}
}

//####################################################################################################
// dropdown
//----------------------------------------------------------------------------------------------------
.dropdown {
	@extend .bRadiusM;
	@extend .popupShadow;
	display: none;
	position: absolute;
	z-index: 1;
	border: solid 1px $grayBorder;
	background-color: $white;
	line-height: 2;
	font-size: $fontSizeSmall;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);

	#auiHeader & {
		@include border-radius(0 0 3px 3px);
	}
	.hdCommunications &, .hdTools &, .tools & {
		right: 0;
	}
	.hdCommunications & {
		width: 320px;
	}
	.title {
		@extend .clearfix;
		padding: 10px;
		line-height: 24px;
		font-weight: bold;
		border-bottom: solid 1px $grayBorderLight;
	}
	.contents {
		@extend .clearfix;
		padding: 10px;
	}
	.divider {
		border-bottom: solid 1px $grayBorderLight;
	}
	h2 {
		margin: 0;
		padding: 2px 10px;
		font-size: 1em;
		background-color: $grayBack;
		border-top: solid 1px $grayBorder;

		&:first-child {
			border-top: none;
		}
	}
}
.dropdown_menu {
	a {
		@extend .ellipsis;
		display: block;
		padding: 6px 10px;
		color: $textColor;

		#auiHeader & {
			min-width: 10em;
		}

		&:hover {
			text-decoration: none;
			background-color: $grayBackLight;
		}
	}
	.active {
		a {
			background-color: $grayBackLight;
		}
	}
}
.dropdown_list {
	@extend .dropdown_menu;

	.body {
		@extend .ellipsis;
		width: 100%;
	}
	.date {
		float: right;
		color: $gray;
	}
	[class*=avatar_] {
		margin-right: 5px;
	}
	.body {
		//line-height: 1.5;
	}
}
.contentList {
	li {
		padding: 6px 10px;
		line-height: 1.5;
	}
	.date {
		margin-bottom: 3px;
		color: $gray;
	}
}

//####################################################################################################
// avatar
//----------------------------------------------------------------------------------------------------
[class*=avatar_] {
	@extend .inline-block;
}
.avatar_s {
	@extend .bRadiusS;
	width: 16px;
	height: 16px;
}
.avatar_m {
	@extend .bRadiusS;
	width: 24px;
	height: 24px;
}
.avatar_l {
	@extend .bRadiusM;
	width: 32px;
	height: 32px;
}
.avatar_xl {
	@extend .bRadiusM;
	width: 48px;
	height: 48px;
}


//####################################################################################################
// auiLauncher
//----------------------------------------------------------------------------------------------------
$lcWidth: 50px;
$lcHeight: 40px;
#auiLauncher {
	@extend .clearfix;
	@extend .transitionS;
	position: absolute;
	top: 0;
	bottom: 0;
	width: $lcWidth * 3 - 10;
	padding: 10px;

	.start {
		position: relative;
		> a {
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-align: center;
		}
	}
	&.narrow {
		width: $lcWidth - 10;
		.name {
			display: none;
		}
	}

	ul.launcher,
	ul.setting {
		position: relative;
		li {
			position: relative;
			height: $lcHeight;
			a {
				@extend .clearfix;
				@extend .border-box;
				@extend .ellipsis;
				display: block;
				line-height: $lcHeight;
				color: $gray;
				.fa {
					@extend .transitionS;
					color: $gray;
				}
				&:hover {
					color: $textColor;
					text-decoration: none;
					.fa {
						color: $textColor;
					}
				}
			}
			.icon, .fa {
				display: block;
				float: left;
				width: $lcWidth - 10;
				line-height: $lcHeight;
				text-align: center;
			}
		}
	}
	ul.setting {
		border-top: solid 1px $grayBorder;
	}
}

//####################################################################################################
// auiContents
//----------------------------------------------------------------------------------------------------
#auiContentsWrapper {
	@extend .clearfix;
	position: relative;
}
#auiContents {
	@extend .clearfix;
	//margin: 0 5px;

	> .inner {
		@extend .clearfix;
		@extend .transitionS;
		margin-left: $lcWidth * 3;
		padding: 0 5px;
	}
	&.narrow > .inner {
		margin-left: $lcWidth;
	}
	td {
		vertical-align: top;
	}
}

//####################################################################################################
// auiApps & auiHome
//----------------------------------------------------------------------------------------------------
$auiSideWidth: 400px;
#auiHome, #auiApps {
	@extend .clearfix;
	@extend .border-box;
	width: 100%;
	height: 100%;

	> .inner {
		@extend .clearfix;
	}
}
#auiHome {
	@extend .border-box;
	float: left;
	margin-right: -$auiSideWidth;
	> .inner {
		margin-right: $auiSideWidth;
	}
}
.appsCol {
	@extend .border-box;
	float: left;
	width: 100%;
	overflow: auto;
}

//####################################################################################################
// auiSide
//----------------------------------------------------------------------------------------------------
#auiSide {
	@extend .clearfix;
	@extend .border-box;
	@extend .scrollDecoration;
	float: left;
	width: $auiSideWidth;
	padding: 10px 20px 10px 10px;
	overflow: auto;

	h2 {
		line-height: 20px;
		margin: 0 0 10px;
		font-size: $baseFontSize;
		font-weight: normal;
	}

	.launcher {
		position: relative;
		height: 105px;
		margin: 10px 0;
		overflow: hidden;
		//border-bottom: solid 1px rgba($grayBorder, .5);
		@include transition(.2s .2s);
		border-bottom: solid 1px $grayBorderLight;

		&:after {
			position: absolute;
			//left: 10px;
			bottom: -4px;
			content: "";
			width: 100%;
			height: 4px;
			@include box-shadow(0 -2px 2px rgba(#000, .075));
			@include transition(.2s .2s);
		}

		&:hover {
			height: 510px;

			&:after {
				@include box-shadow(0 -1px 0 rgba(#000, 0));
			}
		}

		a {
			@extend .ellipsis;
			display: block;
			line-height: 30px;
			color: $textColor;

			&:hover {
				text-decoration: none;
				background-color: $grayBack;

				.fa {
					color: $textColor;
				}
			}
		}
		.fa {
			width: 20px;
			padding: 0 10px;
			text-align: center;
		}
	}
}

.addApp {
	a {
		@extend .bRadiusM;
		display: block;
		padding: 10px;
		text-align: center;
		color: $gray;
		font-size: $fontSizeSmall;

		.fa {
			vertical-align: middle;
		}

		&:hover {
			text-decoration: none;
			background-color: $grayBack;
			color: $textColor;
			.fa {
				color: $textColor;
			}
		}
	}
}

//####################################################################################################
// auiSequence
//----------------------------------------------------------------------------------------------------
$sequensHdWidth: 60px;
#auiSequence {
	@extend .clearfix;
	@extend .scrollDecoration;
	position: relative;
	padding: 0 10px 0 5px;
	overflow: auto;

	.month {
		.label {
			position: relative;
			text-align: center;
			line-height: 20px;
			margin: 10px 0;
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				top: 50%;
				z-index: -1;
				border-bottom: solid 1px $grayBorderDark;
			}
			span {
				background-color: $grayBackLight;
				padding: 0 5px;
			}
		}
		.day:nth-of-type(2) {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
	}
	.day {
		@extend .clearfix;
		margin-top: 10px;
		padding-top: 10px;
		border-top: solid 1px $grayBorder;

		&:first-child {
			display: none;
		}

		> .head {
			position: absolute;
			width: $sequensHdWidth;
			margin: 10px 0;
			color: $gray;
			text-align: center;
			.date {
				font-size: $fontSizeLarge;
				&.today {
					color: $textColor;
					font-weight: bold;
				}
			}
			.meta {
				a {
					display: block;
					&:hover {
						color: $textColor;
						.fa {
							color: $textColor;
						}
					}
				}
			}
			.timecard {
				li {
					margin: 5px 0;
				}
				[class*=auiButton] {
					width: 100%;
					text-align: center;
				}
			}
		}
		> .contents {
			@extend .border-box;
			@extend .clearfix;
			padding-left: $sequensHdWidth + 10;
			article {
				@extend .panelStyle;
				position: relative;
				margin: 10px 0;
				.inner {
					padding: 10px;
				}
				> .head {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: $sequensHdWidth;
					color: $gray;
					span {
						position: absolute;
						display: block;
						top: 50%;
						width: 100%;
						margin-top: -.75em;
						text-align: center;
					}
					a {
						display: block;
						height: 100%;
						.fa {
							position: absolute;
							top: 50%;
							width: 100%;
							margin-top: -.5em;
							text-align: center;
						}
					}
				}
				> .body {
					display: block;
				}
				> .head + .body {
					margin-left: $sequensHdWidth;
				}
			}
		}
	}
	.clickableList {
		.fa-lock {
			color: $green;
		}
	}
}

//####################################################################################################
// Full Window : appNavi &
//----------------------------------------------------------------------------------------------------
$appNaviWidth: 200px;
.appNavi {
	@extend .border-box;
	float: left;
	width: $appNaviWidth;
	padding: 0 5px;

	.widget {
		@extend .panelStyle;
		margin: 10px 0;
	}
	+ .appsCol {
		margin-left: - $appNaviWidth;
		//padding-left: $appNaviWidth + 10;

		.auiPortlet {
			margin-left: $appNaviWidth + 5;
		}
	}
}
.appHead {
	@extend .clearfix;
	margin: 10px 10px 0;
	h2 {
		float: left;
		width: $appNaviWidth;
		line-height: 40px;
		margin: 0;
		color: $gray;
		@include text-shadow(0 1px 0 #fff);
	}
	.tools {
		@extend .clearfix;
		float: left;
		li {
			display: block;
			float: left;
			height: 40px;
		}
		a {
			display: block;
			min-width:40px;
			line-height: 40px;
			text-align: center;
			&:hover {
				.fa {
					color: $textColor;
				}
			}
		}
		.filter {
			padding: 5px;
		}
	}
}

//####################################################################################################
// clickableList
//----------------------------------------------------------------------------------------------------
$clHdWidth: $sequensHdWidth;
$clFcWidth: 20px;
.clickableList {
	.auiPortlet .inner > & {
		margin: -10px;
	}
	> li {
		@extend .clearfix;
		position: relative;
		display: block;
		border-bottom: solid 1px $grayBorderLight;

		&:hover .meta li {
			color: $grayDark;
		}
		&:nth-last-of-type(1) {
			border-bottom: none;
		}

		> a {
			@extend .border-box;
			display: block;
			padding: 5px 10px;
		}
		&:hover {
			background: $grayBackLight;

			.function {
				display: block;
			}
			.head + .function + .body {
				//margin-left: $clHdWidth + $clFcWidth;
			}
		}
	}
	.head {
		display: block;
		position: absolute;
		top: 0;
		//right: 0;
		bottom: 0;
		left: 0;
		width: $clHdWidth;
		color: $gray;
		span {
			position: absolute;
			display: block;
			top: 50%;
			width: 100%;
			margin-top: -.75em;
			text-align: center;
			&.start {
				margin-top: -1.5em !important;
				padding-left: 5px;
				color: $grayDark;
			}
			&.end {
				margin-top: 0 !important;
				padding-left: 5px;
				color: $gray;
			}
		}
		a {
			display: block;
			height: 100%;
			.fa {
				position: absolute;
				top: 50%;
				width: 100%;
				margin-top: -.5em;
				text-align: center;
			}
		}
	}
	.body {
		display: block;
	}
	.head + .body {
		margin-left: $clHdWidth;
		padding-left: 0;
	}
	.function {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 4px;//$clHdWidth;
		width: $clFcWidth;

		a {
			display: block;
			&:hover {
				.fa {
					color: $textColor;
				}
			}
		}
	}
	.head + .function + .body {
		margin-left: $clHdWidth;
	}
	a:hover {
		text-decoration: none;
	}
	.title {
		@extend .ellipsis;
		display: block;
		line-height: 20px;
	}
	ul.meta {
		display: block;
		li {
			display: inline-block;
			color: $gray;
			font-size: $fontSizeMini;
			&:after {
				display: inline-block;
				content: "･";
				width: 10px;
				text-align: center;
			}
			&:nth-last-of-type(1) {
				&:after {
					display: none;
				}
			}
		}
	}
	.function + a {
		margin-left: $clHdWidth;
		padding-left: 0px;
	}
}
.scTimeEdit {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	.fa {
		width: 12px;
		line-height: 20px;
		text-align: center;
	}
}

//####################################################################################################
// auiPortlet & naviPortlet
//----------------------------------------------------------------------------------------------------
.auiPortlet, .naviPortlet {
	@extend .border-box;
	margin: 10px 5px;
	.portletHead, .portletBody, .portletFoot {
		@extend .border-box;
		> .inner {
			@extend .clearfix;
			@extend .border-box;
		}
	}
	.portletHead, .portletFoot {
		position: relative;
		height: 40px;
		> .inner {
			padding: 8px 10px;
		}
		[class*=auiButton], .auiSelectButton a {
			height: 24px;
			line-height: 24px;
		}
	}
	.portletHead {
		border-bottom: solid 1px $grayBorderLight;
		.title {
			float: left;
			white-space:nowrap;
			line-height: 24px;
			a {
				color: $gray;
				font-weight: bold;
			}
			.fa {
				width: 20px;
				margin-right: 5px;
				text-align: center;
			}
		}
	}
	.tools {
		@extend .transitionS;
		position: absolute;
		top: 0;
		right: 5px;
		@include opacity(0);

		> div {
			float:left;
			white-space:nowrap;
			> a {
				display: block;
				min-width: 30px;
				line-height: 40px;
				text-align: center;
				color: $textColor;
				&:hover {
					.fa {
						color: $grayDark;
					}
				}
			}
		}
		.active {
			.fa {
				color: $textColor;
			}
		}
		.dropdown {
			margin-right: -1px;
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}
	}
	&:hover .tools {
		@include opacity(1);
	}
	.portletBody {
		@extend .scrollDecoration;
		overflow: auto;

		> .inner {
			padding: 10px;
		}
	}
	.portletFoot {
		border-top: solid 1px $grayBorderLight;
	}
}
.auiPortlet {
	@extend .panelStyle;
}
.naviPortlet {
	margin: 0;
	.portletHead {
		height: 30px;
		.inner {
			padding-top: 0;
		}
	}
	.tools > div > a {
		line-height: 24px;
	}
}

//####################################################################################################
// alert
//----------------------------------------------------------------------------------------------------
.alert {
	margin: 10px 5px;
	padding: 10px;
	background-color: $grayBackDark;
	@extend .bRadiusM;

	#auiContents > .inner > & {
		margin-bottom: 0;
	}

	.alertTool {
		float: right;

		a {
			i {
				@include inline-block;
				text-decoration: none;
				text-align: center;
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
		}
	}
	.alertHead {
		border-bottom: solid 1px $grayBackLight;
		padding-bottom:9px;
		margin-bottom: 10px;
		font-weight: bold;
		line-height: 20px;
	}
}
#auiContents > .alert {
	margin: 10px 5px 0;
}

//####################################################################################################
// auiTopics
//----------------------------------------------------------------------------------------------------
.auiTopics {
	//@extend .clearfix;
	margin: 10px 0 0 0;
	//border-bottom: solid 1px $grayBorderLight;

	.head {
		@extend .clearfix;
		li {
			float: left;
			width: 50%;
			span {
				display: block;
				line-height: 25px;
				padding: 0 10px;
				text-align: center;
				background-color: $grayBackLight;
				border-top: solid 1px $grayBackLight;
				border-bottom: solid 1px $grayBorder;
				cursor: pointer;
				&:hover {
					text-decoration: none;
					background-color: $grayBack;
				}
			}
			&.active span {
				border: solid 1px $grayBorder;
				border-bottom-color: $white;
				background-color: $white;
			}
			&.today span {
				border-left: none;
			}
			&.tomorrow span {
				border-right: none;
			}
		}
	}
	.body{
		//@extend .bRadiusM;
		//padding: 5px 10px;
		//border: solid 1px $grayBorder;
		//border-top: none;
		//@include border-top-radius(0);
		
		h2 {
			font-size: $baseFontSize;
			font-weight: normal;
			margin-top: 5px;
		}
		li {
			//margin: 5px 0;

			> a {
				display: block;
				padding: 5px 10px;
				color: $textColor;
				&:hover {
					text-decoration: none;
					background-color: $grayBackLight;
				}
			}
		}
	}
}

//####################################################################################################
// searchBar
//----------------------------------------------------------------------------------------------------
.searchBar {
	@extend .bRadiusM;
	position: relative;
	//padding: 10px;
	border: solid 1px $grayBorder;
	background-color: $white;
	&:hover {
		border: solid 1px $gray;
	}
	input[type=text], .submit {
		//height: 20px;
		border: none;
		vertical-align: middle;
	}
	.text {
		@extend .border-box;
		display: inline-block;
		width: 100%;
		padding: 0 33px 0 3px;
		input {
			width: 100%;
		}
	}
	.submit {
		position: absolute;
		right: 0;
		top: 0;
		//height: $headerHeight - 20 - 2;
		margin: 0;
		padding: 0;
		background: none;
		filter: none;
		//cursor: pointer;
		border-left: solid 1px $grayBorderLight;
		@include border-left-radius(0);

		.fa {
			display: block;
			width: 30px;
			color: $gray;
		}

		&:hover {
			background-color: $grayBackLight;
			.fa {
				color: $textColor;
			}
		}
	}
}

//####################################################################################################
// popup
//----------------------------------------------------------------------------------------------------
.ui-dialog {
	@extend .border-box;
	@extend .bRadiusM;
	@extend .popupShadow;
	display: none;
	position: fixed;
	z-index: 10;
	outline: none;
	background-color: $white;
	border: solid 1px $grayBorderDark;

	div {
		@extend .border-box;
	}
}
.ui-dialog-titlebar {
	border-bottom: solid 1px $grayBorder;
	height: 40px;
	line-height: 40px;

	button {
		float: right;
		background-color: transparent;
		background-image: none;
		border: none;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		&:hover, &:active, &:focus {
			background-color: transparent;
			background-image: none;
			border: none;
			@include box-shadow(none !important);
		}
		&:before {
			display: block;
			font-family: fontawesome;
			content: "\f00d";
			font-size: 14px;
			color: $gray;
		}
		&:hover {
			&:before {
				color: $textColor;
			}
		}
		.ui-button-text {
			display: none;
		}
	}
}
.ui-dialog-title {
	padding: 0 10px;
	font-weight: bold;
}
.ui-dialog-content {
	@extend .clearfix;
	padding: 5px 10px;
	//width: 800px;
}
.ui-dialog-buttonpane {
	@extend .clearfix;
	border-top: solid 1px $grayBorder;
	padding: 10px;
	.ui-dialog-buttonset {
		float: right;
		button {
			margin-left: 5px;
		}
	}
}

//.auiTip {
//	@extend .auiPortlet;
//	@include box-shadow(0 1px 4px rgba(#000,.1));
//	margin: 0;
//}

.ui-widget-overlay,
#modalLayer {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(#000, .1);
	z-index: 9;
}

//####################################################################################################
// auiSummaryMeta
//----------------------------------------------------------------------------------------------------
.auiSummaryMeta {
	@extend .clearfix;
	margin: 10px 0;

	&:nth-last-of-type(1) {
		margin-bottom: 0;
	}
}

//####################################################################################################
// auiRowTable
//----------------------------------------------------------------------------------------------------
.auiRowTable {
	//margin: 10px 0;
	th, td {
		padding: 8px 5px;
		border-bottom: solid 1px $grayBorderLight;
		white-space: nowrap;
	}
	td > div {
		width: 100%;
	}
	a {
		@extend .ellipsis;
		display: block;
		width: 100%;
	}
}

//####################################################################################################
// inputTable
//----------------------------------------------------------------------------------------------------
.inputTable {
	width: 100%;
	th, td {
		border-top: solid 1px $grayBorderLight;
		padding: 5px 0;
	}
	th {
		text-align: left;
		padding-right: 10px;
		font-weight: normal;
	}
	tr:first-child {
		th, td {
			border-top: none;
		}
	}
}

//####################################################################################################
// placeholder
//----------------------------------------------------------------------------------------------------
.placeholder {
	position: absolute;
	color: $grayLight;
}
input[type=text] + .placeholder {
	top: 6px;
	left: 4px;
}
textarea + .placeholder {
	top: 5px;
	left: 4px;
}

//####################################################################################################
// blockList
//----------------------------------------------------------------------------------------------------
.blockList {
	li {
		padding: 10px 0;
		border-top: solid 1px $grayBorderLight;
		&:first-child {
			border-top: none;
		}
	}
	article .body > & {
		//padding: 0 10px;
	}
}

//####################################################################################################
// auiFooter
//----------------------------------------------------------------------------------------------------
#auiFooter {
	> .inner {
		height: 25px;
		font-size: $fontSizeMini;
		color: $gray;
		a {
			color: $gray;
			&:hover {
				text-decoration: none;
				color: $textColor;
				.fa {
					color: $textColor;
				}
			}
		}
	}
	.menu {
		li {
			display: inline-block;
			margin: 0 10px;
		}
		.fa {
			vertical-align: middle;
			margin-right: 3px;
		}
	}
}

//####################################################################################################
// loading
//----------------------------------------------------------------------------------------------------
.loading {
	@extend .bRadiusM;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	background-color: $grayBackDark;
	.fa {
		margin-right: 10px;
		font-size: $fontSizeLarge;
		color: $textColor;
	}
}

#debug {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(#000, .5);
	padding: 20px;
	color: #ffffff;
}